la-caja/node-red/actuadores
[
    {
        "id": "2da61da4929bb235",
        "type": "tab",
        "label": "Actuadores",
        "disabled": false,
        "info": ""
    },
    {
        "id": "cb92ea500d3971bf",
        "type": "inject",
        "z": "2da61da4929bb235",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "II3/ALL/switch/cmd",
        "payload": "{\"Test1\":\"Value1\",\"Test2\":\"Value2\"}",
        "payloadType": "json",
        "x": 360,
        "y": 160,
        "wires": [
            [
                "b19d5906de21f0a9",
                "35b434619c8dd626"
            ]
        ]
    },
    {
        "id": "b19d5906de21f0a9",
        "type": "mqtt out",
        "z": "2da61da4929bb235",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "1d42a39e53b6600e",
        "x": 700,
        "y": 160,
        "wires": []
    },
    {
        "id": "35b434619c8dd626",
        "type": "debug",
        "z": "2da61da4929bb235",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 280,
        "wires": []
    },
    {
        "id": "33e96998945fba4f",
        "type": "mqtt in",
        "z": "2da61da4929bb235",
        "name": "",
        "topic": "II3/STSWI/#",
        "qos": "2",
        "datatype": "auto",
        "broker": "1d42a39e53b6600e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 190,
        "y": 360,
        "wires": [
            [
                "d456955096d6b091"
            ]
        ]
    },
    {
        "id": "1ad249a2caef351a",
        "type": "debug",
        "z": "2da61da4929bb235",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 360,
        "wires": []
    },
    {
        "id": "d456955096d6b091",
        "type": "json",
        "z": "2da61da4929bb235",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 440,
        "y": 380,
        "wires": [
            [
                "1ad249a2caef351a"
            ]
        ]
    },
    {
        "id": "1d42a39e53b6600e",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    }
]
