la-caja/node-red/clasejuego
[
    {
        "id": "d5499d6e16ad24e9",
        "type": "tab",
        "label": "Conexión",
        "disabled": false,
        "info": ""
    },
    {
        "id": "998aacd1fbf73437",
        "type": "tab",
        "label": "Juegos",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5eb9e669a20a2298",
        "type": "tab",
        "label": "Config",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2da61da4929bb235",
        "type": "tab",
        "label": "Actuadores",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a99fe971dd900b15",
        "type": "tab",
        "label": "DB",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ccd8ad10.a1f6a",
        "type": "tab",
        "label": "Anáisis",
        "disabled": false,
        "info": "Parece que en los PCs del laboratorio no funciona bien el nodo \"http request\" con la configuración de proxy. Utilizar el nodo alternativo que se puede instalar con el paquete: node-red-contrib-http-request"
    },
    {
        "id": "dcfdeed2813890db",
        "type": "group",
        "z": "998aacd1fbf73437",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "380cb87168681ef7",
            "cccbf8110668810a",
            "fec3b04783ee880a",
            "989694a0ebdb9b91",
            "b55d10d1be7afdb8",
            "9bf6fcd9f5898539",
            "523afe9a4eba70b3",
            "5e2f5b27d2afebc6",
            "49e1a231ceecb18a",
            "cd021e279bfadae1",
            "76a9b69c60d8da3e",
            "5d558696dbca49d5"
        ],
        "x": 134,
        "y": 19,
        "w": 372,
        "h": 382
    },
    {
        "id": "c8ce9b9c10302dfd",
        "type": "group",
        "z": "998aacd1fbf73437",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "0b57ba3a05e5d254",
            "bcdd18e7baabaf60",
            "001272e524da6298",
            "14c61d6577a235fe",
            "e9d55a7a4b6168b1",
            "493742a22832e771",
            "5edd9e01c0f432cf",
            "cfbc7ae48017dc10",
            "5a1d9c83e9e4ce3b",
            "ab81614d755d073d",
            "0923b7909252b3f3"
        ],
        "x": 114,
        "y": 1739,
        "w": 1032,
        "h": 382
    },
    {
        "id": "1d42a39e53b6600e",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "f605fa69.8f5008",
        "type": "mongodb",
        "hostname": "iot.ac.uma.es:27017",
        "connectOptions": "",
        "port": "27017",
        "db": "ejemplo",
        "name": ""
    },
    {
        "id": "218c995b99f33afa",
        "type": "ui_tab",
        "name": "UI Técnico",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "6399f92ebbd874cd",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "59e9a4a37b969e09",
        "type": "ui_group",
        "name": "ESP001",
        "tab": "218c995b99f33afa",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4b0228cb51cdcf68",
        "type": "ui_group",
        "name": "Control of actuators",
        "tab": "218c995b99f33afa",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "93ce51126172202b",
        "type": "ui_group",
        "name": "Update configuration",
        "tab": "218c995b99f33afa",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "97ccdb61cc60c90e",
        "type": "ui_group",
        "name": "ESP002",
        "tab": "218c995b99f33afa",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e6af077614815360",
        "type": "ui_group",
        "name": "Evloution",
        "tab": "218c995b99f33afa",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3752afa1.deaf9",
        "type": "mongodb",
        "hostname": "iot.ac.uma.es",
        "port": "27017",
        "db": "pruebas",
        "name": ""
    },
    {
        "id": "a34ffe7a.04009",
        "type": "ui_group",
        "name": "Descargar datos",
        "tab": "e63432e4.6c1e",
        "order": 3,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2b251178.95ad2e",
        "type": "mqtt-broker",
        "name": "iot infind",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "e63432e4.6c1e",
        "type": "ui_tab",
        "name": "Análisis",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "4540ca01214b6e3e",
        "type": "ui_group",
        "name": "Analizar datos",
        "tab": "e63432e4.6c1e",
        "order": 2,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a2861d5cdebb10e1",
        "type": "ui_group",
        "name": "Selección de datos",
        "tab": "e63432e4.6c1e",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2444a248498e0fd7",
        "type": "ui_group",
        "name": "ESP003",
        "tab": "218c995b99f33afa",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c92ebf52d766ad40",
        "type": "ui_group",
        "name": "ESP004",
        "tab": "218c995b99f33afa",
        "order": 7,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c92b4a500c7dca1e",
        "type": "ui_tab",
        "name": "Juegos",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "62ba01cdf1372a08",
        "type": "ui_group",
        "name": "Cara 3 - Simón",
        "tab": "c92b4a500c7dca1e",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "75ccfb2836c91665",
        "type": "ui_group",
        "name": "Cara 4 - Joystick",
        "tab": "c92b4a500c7dca1e",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0460f95f1f8e0961",
        "type": "ui_group",
        "name": "Cara 2 - Numpad",
        "tab": "c92b4a500c7dca1e",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "be05dc92f93b29c1",
        "type": "ui_group",
        "name": "Cara 6 - Barco",
        "tab": "c92b4a500c7dca1e",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9fbc2ea4f86b3546",
        "type": "ui_group",
        "name": "Cara 1 - Crono",
        "tab": "c92b4a500c7dca1e",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9b76d1dc8d8d1a22",
        "type": "ui_group",
        "name": "Cara 5 - Switch",
        "tab": "c92b4a500c7dca1e",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "54b81aef6119075b",
        "type": "mqtt in",
        "z": "d5499d6e16ad24e9",
        "name": "Config",
        "topic": "II3/CONEXION/#",
        "qos": "2",
        "datatype": "auto",
        "broker": "1d42a39e53b6600e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 140,
        "y": 80,
        "wires": [
            [
                "5c195b15.881824"
            ]
        ]
    },
    {
        "id": "5c195b15.881824",
        "type": "json",
        "z": "d5499d6e16ad24e9",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 390,
        "y": 80,
        "wires": [
            [
                "bb03f139.45523",
                "fcacfee52af5ca35"
            ]
        ]
    },
    {
        "id": "a73e9b37.4c68d8",
        "type": "mongodb out",
        "z": "d5499d6e16ad24e9",
        "mongodb": "f605fa69.8f5008",
        "name": "",
        "collection": "II3_conexiones",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "insert",
        "x": 280,
        "y": 380,
        "wires": []
    },
    {
        "id": "bb03f139.45523",
        "type": "function",
        "z": "d5499d6e16ad24e9",
        "name": "UpdateMsg",
        "func": "msg.payload.timestamp = new Date();\nif (msg.payload.Online == 0)\n    msg.payload.Online = false;\nelse\n    msg.payload.Online = true;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 80,
        "wires": [
            [
                "9629bce4d711867b",
                "244eb1ea81e9c29d"
            ]
        ]
    },
    {
        "id": "9629bce4d711867b",
        "type": "debug",
        "z": "d5499d6e16ad24e9",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 80,
        "wires": []
    },
    {
        "id": "244eb1ea81e9c29d",
        "type": "switch",
        "z": "d5499d6e16ad24e9",
        "name": "esp",
        "property": "payload.BoardName",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "esp001",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "esp002",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "esp003",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "esp004",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 750,
        "y": 200,
        "wires": [
            [
                "e8414f146d516a37"
            ],
            [
                "6d101e797445ee4d"
            ],
            [
                "906f2bb08b929877"
            ],
            [
                "2108328d87f6b6c4"
            ],
            []
        ]
    },
    {
        "id": "e8414f146d516a37",
        "type": "change",
        "z": "d5499d6e16ad24e9",
        "name": "Online",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Online",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1030,
        "y": 160,
        "wires": [
            [
                "bf4e23d232420615"
            ]
        ]
    },
    {
        "id": "fcacfee52af5ca35",
        "type": "debug",
        "z": "d5499d6e16ad24e9",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 180,
        "wires": []
    },
    {
        "id": "95f5cd9c398251bb",
        "type": "ui_led",
        "z": "2da61da4929bb235",
        "order": 0,
        "group": "59e9a4a37b969e09",
        "width": 0,
        "height": 0,
        "label": "Switch",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#55020a",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#284af0",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "esp001 Switch",
        "x": 1440,
        "y": 380,
        "wires": []
    },
    {
        "id": "62c70c6f8db560ab",
        "type": "change",
        "z": "2da61da4929bb235",
        "name": "Lighted",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.uiSwLevel",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1200,
        "y": 380,
        "wires": [
            [
                "95f5cd9c398251bb"
            ]
        ]
    },
    {
        "id": "e96ffd9feadf08e5",
        "type": "mqtt in",
        "z": "2da61da4929bb235",
        "name": "SwitchStat",
        "topic": "II3/STASWITCH/#",
        "qos": "2",
        "datatype": "auto",
        "broker": "1d42a39e53b6600e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 220,
        "y": 440,
        "wires": [
            [
                "9d120b9ffdf3668a"
            ]
        ]
    },
    {
        "id": "9d120b9ffdf3668a",
        "type": "json",
        "z": "2da61da4929bb235",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 410,
        "y": 440,
        "wires": [
            [
                "eab7c5df5f2a4787"
            ]
        ]
    },
    {
        "id": "eab7c5df5f2a4787",
        "type": "function",
        "z": "2da61da4929bb235",
        "name": "UpdateMsg",
        "func": "msg.payload.timestamp = new Date();\nif (msg.payload.Online == 0)\n    msg.payload.Online = false;\nelse\n    msg.payload.Online = true;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 440,
        "wires": [
            [
                "0a5a8b6086103241",
                "c5113943a1f03859"
            ]
        ]
    },
    {
        "id": "0a5a8b6086103241",
        "type": "debug",
        "z": "2da61da4929bb235",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 500,
        "wires": []
    },
    {
        "id": "c5113943a1f03859",
        "type": "switch",
        "z": "2da61da4929bb235",
        "name": "esp",
        "property": "payload.BoardName",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "esp001",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "esp002",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "esp003",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "esp004",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 830,
        "y": 440,
        "wires": [
            [
                "62c70c6f8db560ab"
            ],
            [
                "6d5b5886749d79fe"
            ],
            [],
            [],
            []
        ]
    },
    {
        "id": "9d4fcaac4892422c",
        "type": "ui_dropdown",
        "z": "5eb9e669a20a2298",
        "name": "",
        "label": "Board name",
        "tooltip": "",
        "place": "",
        "group": "93ce51126172202b",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "ALL",
                "value": "ALL",
                "type": "str"
            },
            {
                "label": "Chip esp001",
                "value": "esp001",
                "type": "str"
            },
            {
                "label": "Chip esp002",
                "value": "esp002",
                "type": "str"
            },
            {
                "label": "Chip esp003",
                "value": "esp003",
                "type": "str"
            },
            {
                "label": "Chip esp004",
                "value": "esp004",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "EspCombo",
        "topicType": "msg",
        "className": "",
        "x": 430,
        "y": 160,
        "wires": [
            [
                "df69791554feec28"
            ]
        ]
    },
    {
        "id": "df69791554feec28",
        "type": "function",
        "z": "5eb9e669a20a2298",
        "name": "SetEsp",
        "func": "flow.set(\"DestConfig\",msg.payload);\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "e570f8c2de6532b6",
        "type": "function",
        "z": "5eb9e669a20a2298",
        "name": "SetConfig",
        "func": "flow.set(\"cfSwLight\",msg.payload);\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "5fd250f54a0f67c5",
        "type": "ui_dropdown",
        "z": "5eb9e669a20a2298",
        "name": "",
        "label": "Switch lighted when",
        "tooltip": "",
        "place": "Level",
        "group": "93ce51126172202b",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "Encendido=0",
                "value": 0,
                "type": "num"
            },
            {
                "label": "Encendido=1",
                "value": 1,
                "type": "num"
            },
            {
                "label": "Mantener config",
                "value": -1,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "CfgCombo",
        "topicType": "msg",
        "className": "",
        "x": 460,
        "y": 340,
        "wires": [
            [
                "e570f8c2de6532b6"
            ]
        ]
    },
    {
        "id": "aa259d089d4e7aa6",
        "type": "ui_button",
        "z": "5eb9e669a20a2298",
        "name": "",
        "group": "93ce51126172202b",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Update config",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 440,
        "y": 580,
        "wires": [
            [
                "1715540595624711"
            ]
        ]
    },
    {
        "id": "1715540595624711",
        "type": "function",
        "z": "5eb9e669a20a2298",
        "name": "",
        "func": "//------------------ Inicializar mensaje de configuración\nvar newMsg = {};\nnewMsg.payload = {};\nnewMsg.dest = flow.get(\"DestConfig\") || \"ALL\";\nnewMsg.chipid = flow.get(newMsg.dest) || \"ESP_0000000\";\n\n//---------------------- Valores numéricos sin excecpción \"null\"\nnewMsg.payload.test = flow.get(\"test\") || 30;\nnewMsg.payload.cfPerStat = flow.get(\"cfPerStat\") || 30;\nnewMsg.payload.cfPerFota = flow.get(\"cfPerFota\") || 0;\nnewMsg.payload.cfLedBrig = flow.get(\"cfLedBrig\") || 100;\nnewMsg.payload.cfLedVelo = flow.get(\"cfLedVelo\") || 1;\n\n//------------------ Configuración del switch \nif (Number(flow.get(\"cfSwLight\")) == -1) \n    newMsg.payload.cfSwLight = \"null\"; // mantener configuración\"\nelse\n    newMsg.payload.cfSwLight = \"ON=\"+flow.get(\"cfSwLight\") || 0;\n\n//------------------ Configuración del led \nif (Number(flow.get(\"cfLdLight\")) == -1) \n    newMsg.payload.cfLdLight = \"null\"; // mantener configuración\"\nelse\n    newMsg.payload.cfLdLight = \"ON=\"+flow.get(\"cfLdLight\") || 0;\n\n//------------------ Determinar el topic por el que enivarlo\nif (msg.dest==\"ALL\") \n    newMsg.topic = \"II3/ALL/config\";\nelse\n    newMsg.topic = \"II3/\"+newMsg.dest+\"/\"+newMsg.chipid+\"/config\";\n\n//------------- TODO IDENTIFICADOR DEL MENSAJE\n\nnewMsg.payload.id = \"1234569\";\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 580,
        "wires": [
            [
                "547571ae651246a8"
            ]
        ]
    },
    {
        "id": "547571ae651246a8",
        "type": "link out",
        "z": "5eb9e669a20a2298",
        "name": "2MQ",
        "links": [
            "4c9956b72080942a",
            "14c0f92497dcbc8f",
            "c0d8a89487c0b942",
            "86a009497e394764"
        ],
        "x": 795,
        "y": 580,
        "wires": []
    },
    {
        "id": "f3029ca01ae08418",
        "type": "ui_text_input",
        "z": "5eb9e669a20a2298",
        "name": "",
        "label": "Status updates(s)",
        "tooltip": "",
        "group": "93ce51126172202b",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "topicType": "msg",
        "x": 450,
        "y": 220,
        "wires": [
            [
                "315ee6d9c6246f4a"
            ]
        ]
    },
    {
        "id": "368bb62758579190",
        "type": "ui_numeric",
        "z": "5eb9e669a20a2298",
        "name": "",
        "label": "Led brightness (%)",
        "tooltip": "",
        "group": "93ce51126172202b",
        "order": 6,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 450,
        "y": 460,
        "wires": [
            [
                "c71b1d0301986491"
            ]
        ]
    },
    {
        "id": "2d2604f2107edcbf",
        "type": "inject",
        "z": "5eb9e669a20a2298",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "5",
        "payloadType": "num",
        "x": 250,
        "y": 220,
        "wires": [
            [
                "f3029ca01ae08418"
            ]
        ]
    },
    {
        "id": "eb8b291112a12264",
        "type": "inject",
        "z": "5eb9e669a20a2298",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "50",
        "payloadType": "num",
        "x": 250,
        "y": 460,
        "wires": [
            [
                "368bb62758579190"
            ]
        ]
    },
    {
        "id": "d3cf3ffa262a5ec6",
        "type": "ui_numeric",
        "z": "5eb9e669a20a2298",
        "name": "",
        "label": "FOTA updates (m)",
        "tooltip": "",
        "group": "93ce51126172202b",
        "order": 3,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "180",
        "step": 1,
        "className": "",
        "x": 450,
        "y": 280,
        "wires": [
            [
                "35b421de8bf9b14d"
            ]
        ]
    },
    {
        "id": "efd03756b5ce48f4",
        "type": "inject",
        "z": "5eb9e669a20a2298",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 250,
        "y": 280,
        "wires": [
            [
                "d3cf3ffa262a5ec6"
            ]
        ]
    },
    {
        "id": "9cb4b35b2d9b659b",
        "type": "inject",
        "z": "5eb9e669a20a2298",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 250,
        "y": 340,
        "wires": [
            [
                "5fd250f54a0f67c5"
            ]
        ]
    },
    {
        "id": "f32e7d55a7352c90",
        "type": "ui_dropdown",
        "z": "5eb9e669a20a2298",
        "name": "",
        "label": "Led lighted when",
        "tooltip": "",
        "place": "Level",
        "group": "93ce51126172202b",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "Encendido=0",
                "value": 0,
                "type": "num"
            },
            {
                "label": "Encendido=1",
                "value": 1,
                "type": "num"
            },
            {
                "label": "Mantener config",
                "value": -1,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "CfgCombo",
        "topicType": "msg",
        "className": "",
        "x": 450,
        "y": 400,
        "wires": [
            [
                "f11366ddee3ab37d"
            ]
        ]
    },
    {
        "id": "530f611a90a39980",
        "type": "inject",
        "z": "5eb9e669a20a2298",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 250,
        "y": 400,
        "wires": [
            [
                "f32e7d55a7352c90"
            ]
        ]
    },
    {
        "id": "54979df12da127f9",
        "type": "ui_numeric",
        "z": "5eb9e669a20a2298",
        "name": "",
        "label": "Bright speed (%/ms)",
        "tooltip": "",
        "group": "93ce51126172202b",
        "order": 7,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 460,
        "y": 520,
        "wires": [
            [
                "f0a73e4d64c5b7a3"
            ]
        ]
    },
    {
        "id": "6653d64cf98f2b13",
        "type": "inject",
        "z": "5eb9e669a20a2298",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 250,
        "y": 520,
        "wires": [
            [
                "54979df12da127f9"
            ]
        ]
    },
    {
        "id": "315ee6d9c6246f4a",
        "type": "function",
        "z": "5eb9e669a20a2298",
        "name": "SetConfig",
        "func": "flow.set(\"cfPerStat\",msg.payload);\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "35b421de8bf9b14d",
        "type": "function",
        "z": "5eb9e669a20a2298",
        "name": "SetConfig",
        "func": "flow.set(\"cfPerFota\",msg.payload);\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "f0a73e4d64c5b7a3",
        "type": "function",
        "z": "5eb9e669a20a2298",
        "name": "SetConfig",
        "func": "flow.set(\"cfLedVelo\",msg.payload);\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "f11366ddee3ab37d",
        "type": "function",
        "z": "5eb9e669a20a2298",
        "name": "SetConfig",
        "func": "flow.set(\"cfLdLight\",msg.payload);\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "8a35d97f8c5e7f0d",
        "type": "mqtt out",
        "z": "5eb9e669a20a2298",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "1d42a39e53b6600e",
        "x": 1150,
        "y": 340,
        "wires": []
    },
    {
        "id": "63d6fe7d7acf08db",
        "type": "json",
        "z": "5eb9e669a20a2298",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 990,
        "y": 340,
        "wires": [
            [
                "8a35d97f8c5e7f0d",
                "9da564e3036f7f5d"
            ]
        ]
    },
    {
        "id": "9da564e3036f7f5d",
        "type": "debug",
        "z": "5eb9e669a20a2298",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1140,
        "y": 420,
        "wires": []
    },
    {
        "id": "14c0f92497dcbc8f",
        "type": "link in",
        "z": "5eb9e669a20a2298",
        "name": "2MQ",
        "links": [
            "17b029dc733ce1fd",
            "bbeec97623b1c8e8",
            "26162b4b9ead5926",
            "547571ae651246a8",
            "f3cf7b783fac95f9",
            "4d6d174582a9c8ad"
        ],
        "x": 835,
        "y": 340,
        "wires": [
            [
                "63d6fe7d7acf08db",
                "9da564e3036f7f5d"
            ]
        ]
    },
    {
        "id": "8b0ceab0a7a2c113",
        "type": "catch",
        "z": "5eb9e669a20a2298",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 1110,
        "y": 560,
        "wires": [
            [
                "9da564e3036f7f5d"
            ]
        ]
    },
    {
        "id": "c71b1d0301986491",
        "type": "function",
        "z": "5eb9e669a20a2298",
        "name": "SetConfig",
        "func": "flow.set(\"cfLedBrig\",msg.payload);\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "e3b2e3487464da0d",
        "type": "config",
        "z": "5eb9e669a20a2298",
        "name": "ChipIds",
        "properties": [
            {
                "p": "esp001",
                "pt": "flow",
                "to": "ESP_14393685",
                "tot": "str"
            },
            {
                "p": "esp002",
                "pt": "flow",
                "to": "PENDIENTE",
                "tot": "str"
            }
        ],
        "active": true,
        "x": 260,
        "y": 580,
        "wires": []
    },
    {
        "id": "1b14df169bc1d3d0",
        "type": "ui_button",
        "z": "2da61da4929bb235",
        "name": "",
        "group": "4b0228cb51cdcf68",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Update switch",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 240,
        "y": 360,
        "wires": [
            [
                "e96f1bc041f38e31"
            ]
        ]
    },
    {
        "id": "e96f1bc041f38e31",
        "type": "function",
        "z": "2da61da4929bb235",
        "name": "",
        "func": "//------------------ Inicializar mensaje de configuración\nvar newMsg = msg; // {};\nnewMsg.payload = {};\nnewMsg.dest = flow.get(\"ActDest\") || \"ALL\";\nnewMsg.chipid = flow.get(newMsg.dest) || \"ESP_0000000\";\n\n//---------------------- Valores numéricos sin excecpción \"null\"\nnewMsg.payload.test = flow.get(\"test\") || 30;\nnewMsg.payload.stSwLevel = flow.get(\"stSwLevel\") || 0;\n\n//------------------ Determinar el topic por el que enivarlo\nif (newMsg.dest==\"ALL\") \n    newMsg.topic = \"II3/ALL/SETSWITCH/switch/cmd\";\nelse\n    newMsg.topic = \"II3/\"+newMsg.dest+\"/SETSWITCH/\"+newMsg.chipid+\"/switch/cmd\";\n\n\n//------------- TODO IDENTIFICADOR DEL MENSAJE\nnewMsg.payload.id = \"1234569\";\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 360,
        "wires": [
            [
                "f3cf7b783fac95f9"
            ]
        ]
    },
    {
        "id": "b3a86d9d98415ac0",
        "type": "function",
        "z": "2da61da4929bb235",
        "name": "SetLevel",
        "func": "flow.set(\"stSwLevel\",msg.payload);\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "fd63872f688ab86e",
        "type": "ui_dropdown",
        "z": "2da61da4929bb235",
        "name": "",
        "label": "Switch level",
        "tooltip": "",
        "place": "Level",
        "group": "4b0228cb51cdcf68",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "Enviar 0",
                "value": 0,
                "type": "num"
            },
            {
                "label": "Enviar 1",
                "value": "1",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "DestCombo",
        "topicType": "msg",
        "className": "",
        "x": 230,
        "y": 300,
        "wires": [
            [
                "b3a86d9d98415ac0"
            ]
        ]
    },
    {
        "id": "249c8b258c906694",
        "type": "ui_dropdown",
        "z": "2da61da4929bb235",
        "name": "",
        "label": "Board name",
        "tooltip": "",
        "place": "",
        "group": "4b0228cb51cdcf68",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "ALL",
                "value": "ALL",
                "type": "str"
            },
            {
                "label": "Chip esp001",
                "value": "esp001",
                "type": "str"
            },
            {
                "label": "Chip esp002",
                "value": "esp002",
                "type": "str"
            },
            {
                "label": "Chip esp003",
                "value": "esp003",
                "type": "str"
            },
            {
                "label": "Chip esp004",
                "value": "esp004",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "EspCombo",
        "topicType": "msg",
        "className": "",
        "x": 230,
        "y": 240,
        "wires": [
            [
                "567227ef7254ad0f"
            ]
        ]
    },
    {
        "id": "567227ef7254ad0f",
        "type": "function",
        "z": "2da61da4929bb235",
        "name": "SetEsp",
        "func": "flow.set(\"ActDest\",msg.payload);\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "10600baec6ff078b",
        "type": "function",
        "z": "2da61da4929bb235",
        "name": "SetLevel",
        "func": "flow.set(\"stLdLevel\",msg.payload);\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "08f9728abe1126d7",
        "type": "ui_dropdown",
        "z": "2da61da4929bb235",
        "name": "",
        "label": "Led level",
        "tooltip": "",
        "place": "Level",
        "group": "4b0228cb51cdcf68",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "Enviar 0",
                "value": 0,
                "type": "num"
            },
            {
                "label": "Enviar 1",
                "value": "1",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "DestCombo",
        "topicType": "msg",
        "className": "",
        "x": 200,
        "y": 580,
        "wires": [
            [
                "10600baec6ff078b"
            ]
        ]
    },
    {
        "id": "684696b993d256fc",
        "type": "ui_button",
        "z": "2da61da4929bb235",
        "name": "",
        "group": "4b0228cb51cdcf68",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Update led",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 210,
        "y": 640,
        "wires": [
            [
                "866f3135752b1476"
            ]
        ]
    },
    {
        "id": "866f3135752b1476",
        "type": "function",
        "z": "2da61da4929bb235",
        "name": "",
        "func": "//------------------ Inicializar mensaje de configuración\nvar newMsg = {};\nnewMsg.payload = {};\nnewMsg.dest = flow.get(\"ActDest\") || \"ALL\";\nnewMsg.chipid = flow.get(newMsg.dest) || \"ESP_0000000\";\n\n//---------------------- Valores numéricos sin excecpción \"null\"\nnewMsg.payload.test = flow.get(\"test\") || 30;\nnewMsg.payload.stLdLevel = flow.get(\"stLdLevel\") || 0;\n\n\n//------------------ Determinar el topic por el que enivarlo\nif (newMsg.dest==\"ALL\") \n    newMsg.topic = \"II3/ALL/SETLED/sed/cmd\";\nelse\n    newMsg.topic = \"II3/\"+newMsg.dest+\"/SETLED/\"+newMsg.chipid+\"/led/cmd\";\n\n//------------- TODO IDENTIFICADOR DEL MENSAJE\nnewMsg.payload.id = \"1234569\";\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 640,
        "wires": [
            [
                "4d6d174582a9c8ad",
                "19a0fd19a49d8d9f"
            ]
        ]
    },
    {
        "id": "f3cf7b783fac95f9",
        "type": "link out",
        "z": "2da61da4929bb235",
        "name": "2MQ",
        "links": [
            "4c9956b72080942a",
            "14c0f92497dcbc8f",
            "c0d8a89487c0b942",
            "86a009497e394764"
        ],
        "x": 655,
        "y": 360,
        "wires": []
    },
    {
        "id": "6d517083735af547",
        "type": "ui_led",
        "z": "2da61da4929bb235",
        "order": 0,
        "group": "59e9a4a37b969e09",
        "width": 0,
        "height": 0,
        "label": "Led",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#55020a",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#284af0",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "esp001 Led",
        "x": 1370,
        "y": 700,
        "wires": []
    },
    {
        "id": "15b9a2117c04d6e9",
        "type": "change",
        "z": "2da61da4929bb235",
        "name": "Lighted",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.uiLdLevel",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 700,
        "wires": [
            [
                "6d517083735af547"
            ]
        ]
    },
    {
        "id": "edf3a943b850b552",
        "type": "mqtt in",
        "z": "2da61da4929bb235",
        "name": "LedStatus",
        "topic": "II3/STALED/#",
        "qos": "2",
        "datatype": "auto",
        "broker": "1d42a39e53b6600e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 200,
        "y": 800,
        "wires": [
            [
                "5541a0af2bf742f8"
            ]
        ]
    },
    {
        "id": "5541a0af2bf742f8",
        "type": "json",
        "z": "2da61da4929bb235",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 390,
        "y": 800,
        "wires": [
            [
                "dc1eb1103eec90ff"
            ]
        ]
    },
    {
        "id": "dc1eb1103eec90ff",
        "type": "function",
        "z": "2da61da4929bb235",
        "name": "UpdateMsg",
        "func": "msg.payload.timestamp = new Date();\nif (msg.payload.Online == 0)\n    msg.payload.Online = false;\nelse\n    msg.payload.Online = true;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 800,
        "wires": [
            [
                "b9bf157f52d0f579",
                "c82ca722d05a2e39"
            ]
        ]
    },
    {
        "id": "b9bf157f52d0f579",
        "type": "debug",
        "z": "2da61da4929bb235",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 900,
        "wires": []
    },
    {
        "id": "c82ca722d05a2e39",
        "type": "switch",
        "z": "2da61da4929bb235",
        "name": "esp",
        "property": "payload.BoardName",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "esp001",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "esp002",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "esp003",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "esp004",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 830,
        "y": 760,
        "wires": [
            [
                "15b9a2117c04d6e9"
            ],
            [
                "3211d0e3481b0dd2"
            ],
            [],
            [],
            []
        ]
    },
    {
        "id": "157337f99d22874b",
        "type": "debug",
        "z": "2da61da4929bb235",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1310,
        "y": 880,
        "wires": []
    },
    {
        "id": "4d6d174582a9c8ad",
        "type": "link out",
        "z": "2da61da4929bb235",
        "name": "2MQ",
        "links": [
            "4c9956b72080942a",
            "14c0f92497dcbc8f",
            "c0d8a89487c0b942",
            "86a009497e394764"
        ],
        "x": 635,
        "y": 640,
        "wires": []
    },
    {
        "id": "19a0fd19a49d8d9f",
        "type": "debug",
        "z": "2da61da4929bb235",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 560,
        "wires": []
    },
    {
        "id": "d5569f2186e1ecca",
        "type": "ui_led",
        "z": "2da61da4929bb235",
        "order": 2,
        "group": "97ccdb61cc60c90e",
        "width": 0,
        "height": 0,
        "label": "Switch",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#55020a",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#284af0",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "esp002 Switch",
        "x": 1440,
        "y": 440,
        "wires": []
    },
    {
        "id": "6d5b5886749d79fe",
        "type": "change",
        "z": "2da61da4929bb235",
        "name": "Lighted",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.uiSwLevel",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1200,
        "y": 440,
        "wires": [
            [
                "d5569f2186e1ecca"
            ]
        ]
    },
    {
        "id": "b45bed789a47ba7d",
        "type": "ui_led",
        "z": "2da61da4929bb235",
        "order": 3,
        "group": "97ccdb61cc60c90e",
        "width": 0,
        "height": 0,
        "label": "Led",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#55020a",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#284af0",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "esp002 Led",
        "x": 1370,
        "y": 760,
        "wires": []
    },
    {
        "id": "3211d0e3481b0dd2",
        "type": "change",
        "z": "2da61da4929bb235",
        "name": "Lighted",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.uiLdLevel",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 760,
        "wires": [
            [
                "b45bed789a47ba7d"
            ]
        ]
    },
    {
        "id": "93bf45086171d312",
        "type": "mqtt in",
        "z": "a99fe971dd900b15",
        "name": "",
        "topic": "II3/DATOS/#",
        "qos": "2",
        "datatype": "auto",
        "broker": "1d42a39e53b6600e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 230,
        "y": 160,
        "wires": [
            [
                "39c3fda9b00dd311"
            ]
        ]
    },
    {
        "id": "51e0c7974246d74d",
        "type": "debug",
        "z": "a99fe971dd900b15",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 80,
        "wires": []
    },
    {
        "id": "92f969892b866882",
        "type": "mongodb out",
        "z": "a99fe971dd900b15",
        "mongodb": "f605fa69.8f5008",
        "name": "Insert II3_Log",
        "collection": "II3_Log",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "insert",
        "x": 840,
        "y": 160,
        "wires": []
    },
    {
        "id": "ea49ad392e7ac947",
        "type": "inject",
        "z": "a99fe971dd900b15",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "GetLog",
        "payloadType": "str",
        "x": 250,
        "y": 640,
        "wires": [
            [
                "358b3c5fe68e3db8"
            ]
        ]
    },
    {
        "id": "39c3fda9b00dd311",
        "type": "json",
        "z": "a99fe971dd900b15",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 410,
        "y": 160,
        "wires": [
            [
                "58d7d054ac9ac440"
            ]
        ]
    },
    {
        "id": "58d7d054ac9ac440",
        "type": "function",
        "z": "a99fe971dd900b15",
        "name": "UpdateMsg",
        "func": "msg.payload.timestamp = new Date();\nif (msg.payload.Online == 0)\n    msg.payload.Online = false;\nelse\n    msg.payload.Online = true;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 160,
        "wires": [
            [
                "92f969892b866882",
                "51e0c7974246d74d"
            ]
        ]
    },
    {
        "id": "f72bcead3dfb4dba",
        "type": "inject",
        "z": "a99fe971dd900b15",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 250,
        "y": 440,
        "wires": [
            [
                "c911fd651f85d709"
            ]
        ]
    },
    {
        "id": "c911fd651f85d709",
        "type": "mongodb out",
        "z": "a99fe971dd900b15",
        "mongodb": "f605fa69.8f5008",
        "name": "Insert II3_Log",
        "collection": "II3_Log",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "delete",
        "x": 480,
        "y": 440,
        "wires": []
    },
    {
        "id": "2bc79054.4dac6",
        "type": "ui_template",
        "z": "ccd8ad10.a1f6a",
        "group": "a34ffe7a.04009",
        "name": "",
        "order": 3,
        "width": "0",
        "height": "0",
        "format": "<style>\n.button {\n    text-align: center;\n    font: bold 17px Arial;\n    text-decoration: none;\n    background-color: #339966;\n    color: white;\n    padding: 8px 10px;\n    border: 2px solid #CCCCCC;\n  }\n  \n  .button:hover\n  {\n   background-color: #26734d;\n  }\n\n</style>\n<a href=\"/registros\" class=\"button\">Descarga registros en CSV (EXCEL)</a>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 900,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "5ba69690.6f3a28",
        "type": "ui_switch",
        "z": "ccd8ad10.a1f6a",
        "name": "separdor decimal",
        "label": "{{msg.topic}}",
        "tooltip": "",
        "group": "a34ffe7a.04009",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 190,
        "y": 740,
        "wires": [
            [
                "96e33153.98e75"
            ]
        ]
    },
    {
        "id": "64d25d3f.5e61c4",
        "type": "inject",
        "z": "ccd8ad10.a1f6a",
        "name": "",
        "props": [
            {
                "p": "payload",
                "v": "true",
                "vt": "bool"
            },
            {
                "p": "topic",
                "v": "",
                "vt": "string"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 170.99706649780273,
        "y": 662.9118814468384,
        "wires": [
            [
                "96e33153.98e75"
            ]
        ]
    },
    {
        "id": "96e33153.98e75",
        "type": "function",
        "z": "ccd8ad10.a1f6a",
        "name": "set global separador_decimal",
        "func": "if(msg.payload===true)\n{\n    global.set(\"separador_decimal\",\"coma\");\n    msg.topic=\"separador decimal = coma\";\n}\nelse\n{\n    global.set(\"separador_decimal\",\"punto\");\n    msg.topic=\"separador decimal = punto\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 499.0084533691406,
        "y": 663.6192541122437,
        "wires": [
            [
                "5ba69690.6f3a28"
            ]
        ]
    },
    {
        "id": "fc86581d.721438",
        "type": "ui_date_picker",
        "z": "ccd8ad10.a1f6a",
        "name": "",
        "label": "Fecha inicio",
        "group": "a2861d5cdebb10e1",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "",
        "topicType": "str",
        "className": "",
        "x": 550,
        "y": 140,
        "wires": [
            [
                "36e52eff.e79652"
            ]
        ]
    },
    {
        "id": "b5ec6fbf.5c7b8",
        "type": "ui_date_picker",
        "z": "ccd8ad10.a1f6a",
        "name": "",
        "label": "Fecha final",
        "group": "a2861d5cdebb10e1",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "",
        "topicType": "str",
        "className": "",
        "x": 553.0113525390625,
        "y": 188.99423742294312,
        "wires": [
            [
                "32225963.2490f6"
            ]
        ]
    },
    {
        "id": "36e52eff.e79652",
        "type": "change",
        "z": "ccd8ad10.a1f6a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "desde",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 746.0056762695312,
        "y": 138.66188764572144,
        "wires": [
            []
        ]
    },
    {
        "id": "32225963.2490f6",
        "type": "change",
        "z": "ccd8ad10.a1f6a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "hasta",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 749.2329559326172,
        "y": 189.5454421043396,
        "wires": [
            []
        ]
    },
    {
        "id": "13b2662f.d6754a",
        "type": "inject",
        "z": "ccd8ad10.a1f6a",
        "name": "",
        "props": [
            {
                "p": "payload",
                "v": "",
                "vt": "date"
            },
            {
                "p": "topic",
                "v": "",
                "vt": "string"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 352.0084991455078,
        "y": 164.42044019699097,
        "wires": [
            [
                "fc86581d.721438",
                "b5ec6fbf.5c7b8"
            ]
        ]
    },
    {
        "id": "3e06173c.94cdb8",
        "type": "comment",
        "z": "ccd8ad10.a1f6a",
        "name": "Selección de datos",
        "info": "",
        "x": 179.00848770141602,
        "y": 67.89772462844849,
        "wires": []
    },
    {
        "id": "8f0fda03.1a7698",
        "type": "comment",
        "z": "ccd8ad10.a1f6a",
        "name": "Botón en HTML para lanzar descarga de fichero",
        "info": "",
        "x": 920,
        "y": 600,
        "wires": []
    },
    {
        "id": "7aa4e397.e0472c",
        "type": "comment",
        "z": "ccd8ad10.a1f6a",
        "name": "Flujo para descarga de fichero",
        "info": "",
        "x": 162.0142059326172,
        "y": 805.0056400299072,
        "wires": []
    },
    {
        "id": "243ebda4.07bf32",
        "type": "comment",
        "z": "ccd8ad10.a1f6a",
        "name": "Selector de separador decimal",
        "info": "",
        "x": 183.01123046875,
        "y": 602.5740060806274,
        "wires": []
    },
    {
        "id": "7bfeb5196f1ff0a1",
        "type": "function",
        "z": "ccd8ad10.a1f6a",
        "name": "consulta",
        "func": "// Rango de fechas de UI\nvar ahora  = new Date();\nvar desde  = new Date(global.get(\"desde\") || ahora);\nvar hasta  = new Date(global.get(\"hasta\") || ahora); \nvar inicio = new Date(desde.getFullYear(),desde.getMonth(),desde.getDate(),0,0,0,0);\nvar final  = new Date(hasta.getFullYear(),hasta.getMonth(),hasta.getDate(),23,59,59,999);\n\nmsg.payload=\n[\n    { \"$match\": { \"timestamp\": { \"$gte\": inicio , \"$lte\": final } } },\n    { \"$project\": {\n        \"_id\":          0,\n        \"timestamp\":    1,\n        \"ChipId\":       1,\n        \"BoardName\":    1,\n        \"Online\":       1,\n        \"uiSwLevel\":    1,\n        \"uiLdLevel\":    1\n        }\n    },\n    { \"$sort\": {\"date\": 1} }\n];\n\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 900,
        "wires": [
            [
                "27b9e0c6f963e586"
            ]
        ]
    },
    {
        "id": "27b9e0c6f963e586",
        "type": "mongodb in",
        "z": "ccd8ad10.a1f6a",
        "mongodb": "f605fa69.8f5008",
        "name": "Query Log",
        "collection": "II3_Log",
        "operation": "aggregate",
        "x": 550,
        "y": 900,
        "wires": [
            [
                "2f2edb00f2af054f",
                "76fc7b8cd1179705"
            ]
        ]
    },
    {
        "id": "2f2edb00f2af054f",
        "type": "debug",
        "z": "ccd8ad10.a1f6a",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 980,
        "wires": []
    },
    {
        "id": "61750952c7d99d9b",
        "type": "inject",
        "z": "ccd8ad10.a1f6a",
        "name": "GetCSV",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 160,
        "y": 980,
        "wires": [
            [
                "7bfeb5196f1ff0a1"
            ]
        ]
    },
    {
        "id": "ed12f8b375ea67e5",
        "type": "http in",
        "z": "ccd8ad10.a1f6a",
        "name": "",
        "url": "/registros",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 900,
        "wires": [
            [
                "7bfeb5196f1ff0a1"
            ]
        ]
    },
    {
        "id": "76fc7b8cd1179705",
        "type": "csv",
        "z": "ccd8ad10.a1f6a",
        "name": "",
        "sep": ";",
        "hdrin": "",
        "hdrout": "all",
        "multi": "one",
        "ret": "\\r\\n",
        "temp": "timestamp, ChipId, BoardName, Online, uiSwLevel, uiLdLevel",
        "skip": 0,
        "strings": true,
        "include_empty_strings": false,
        "include_null_values": false,
        "x": 770,
        "y": 900,
        "wires": [
            [
                "149d3163cfc71c03"
            ]
        ]
    },
    {
        "id": "143346fcca4255cd",
        "type": "http response",
        "z": "ccd8ad10.a1f6a",
        "name": "",
        "statusCode": "",
        "headers": {
            "Content-Disposition": "attachment; filename=registros.csv"
        },
        "x": 1210,
        "y": 900,
        "wires": []
    },
    {
        "id": "149d3163cfc71c03",
        "type": "function",
        "z": "ccd8ad10.a1f6a",
        "name": "Unicode y separador",
        "func": "//add Unicode BOM character (byte order mark) to make EXCEL knows this is UTF-8\nif(global.get(\"separador_decimal\")==\"punto\")\n{\n    msg.payload='\\ufeff'+msg.payload;\n\n}\nelse\n{\n    msg.payload='\\ufeff'+(msg.payload).replace(/\\./g,\",\");\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 900,
        "wires": [
            [
                "143346fcca4255cd"
            ]
        ]
    },
    {
        "id": "358b3c5fe68e3db8",
        "type": "function",
        "z": "a99fe971dd900b15",
        "name": "consulta",
        "func": "// Rango de fechas de UI\nvar ahora  = new Date();\nvar desde  = new Date(global.get(\"desde\") || ahora);\nvar hasta  = new Date(global.get(\"hasta\") || ahora); \nvar inicio = new Date(desde.getFullYear(),desde.getMonth(),desde.getDate(),0,0,0,0);\nvar final  = new Date(hasta.getFullYear(),hasta.getMonth(),hasta.getDate(),23,59,59,999);\n\nmsg.payload=\n[\n    { \"$match\": { \"cfPerStat\": { \"$gte\": 0 , \"$lte\": 30 } } },\n    { \"$project\": {\n        \"_id\":          0,\n        \"timestamp\":    1,\n        \"BoardName\":    1,\n        \"uiSwLevel\":    1\n        }\n    },\n    { \"$sort\": {\"date\": 1} }\n];\n\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 640,
        "wires": [
            [
                "268c426ac9a95eab"
            ]
        ]
    },
    {
        "id": "268c426ac9a95eab",
        "type": "mongodb in",
        "z": "a99fe971dd900b15",
        "mongodb": "f605fa69.8f5008",
        "name": "Query Log",
        "collection": "II3_Log",
        "operation": "aggregate",
        "x": 610,
        "y": 640,
        "wires": [
            [
                "fa4a3aa6b697d3b0"
            ]
        ]
    },
    {
        "id": "3a9c559598d5b8e1",
        "type": "debug",
        "z": "ccd8ad10.a1f6a",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 440,
        "wires": []
    },
    {
        "id": "0951cd3069d26950",
        "type": "ui_chart",
        "z": "ccd8ad10.a1f6a",
        "name": "",
        "group": "4540ca01214b6e3e",
        "order": 8,
        "width": "6",
        "height": "8",
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 950,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "394bdddff64b0aed",
        "type": "function",
        "z": "ccd8ad10.a1f6a",
        "name": "consulta",
        "func": "// Rango de fechas de UI\nvar ahora  = new Date();\nvar desde  = new Date(global.get(\"desde\") || ahora);\nvar hasta  = new Date(global.get(\"hasta\") || ahora); \nvar inicio = new Date(desde.getFullYear(),desde.getMonth(),desde.getDate(),0,0,0,0);\nvar final  = new Date(hasta.getFullYear(),hasta.getMonth(),hasta.getDate(),23,59,59,999);\n\nmsg.payload=\n[\n    { \"$match\": { \"timestamp\": { \"$gte\": inicio , \"$lte\": final } } },\n    { \"$project\": {\n        \"_id\":          0,\n        \"timestamp\":    1,\n        \"ChipId\":       1,\n        \"BoardName\":    1,\n        \"Online\":       1,\n        \"uiSwLevel\":    1,\n        \"uiLdLevel\":    1\n        }\n    },\n    { \"$sort\": {\"date\": 1} }\n];\n\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 360,
        "wires": [
            [
                "cb7c794ac791baf5"
            ]
        ]
    },
    {
        "id": "cb7c794ac791baf5",
        "type": "mongodb in",
        "z": "ccd8ad10.a1f6a",
        "mongodb": "f605fa69.8f5008",
        "name": "Query Log",
        "collection": "II3_Log",
        "operation": "aggregate",
        "x": 650,
        "y": 360,
        "wires": [
            [
                "0951cd3069d26950",
                "3a9c559598d5b8e1"
            ]
        ]
    },
    {
        "id": "d39472b05b477979",
        "type": "inject",
        "z": "ccd8ad10.a1f6a",
        "name": "Refresh chart",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 270,
        "y": 360,
        "wires": [
            [
                "394bdddff64b0aed"
            ]
        ]
    },
    {
        "id": "cf09036db2891b66",
        "type": "comment",
        "z": "a99fe971dd900b15",
        "name": "Grabación de menesajes en el log",
        "info": "",
        "x": 290,
        "y": 80,
        "wires": []
    },
    {
        "id": "5677c42a6ff84a7c",
        "type": "comment",
        "z": "a99fe971dd900b15",
        "name": "Borrar el log",
        "info": "",
        "x": 230,
        "y": 360,
        "wires": []
    },
    {
        "id": "fa4a3aa6b697d3b0",
        "type": "debug",
        "z": "a99fe971dd900b15",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 640,
        "wires": []
    },
    {
        "id": "498b6a2a9ff434dd",
        "type": "comment",
        "z": "a99fe971dd900b15",
        "name": "Consultar el Log",
        "info": "",
        "x": 240,
        "y": 580,
        "wires": []
    },
    {
        "id": "af62892dd3b46529",
        "type": "comment",
        "z": "ccd8ad10.a1f6a",
        "name": "Análisis de datos",
        "info": "",
        "x": 160,
        "y": 280,
        "wires": []
    },
    {
        "id": "33873a67b79f8993",
        "type": "inject",
        "z": "998aacd1fbf73437",
        "name": "Cara2 Numpad",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "II3/GAME/COMMAND/ALL",
        "payload": "{\"bugRaro\":\"abcd\",\"FaceNumb\":2,\"GameParm\":\"34\",\"GameTime\":300,\"FailTime\":90,\"NumTries\":10}",
        "payloadType": "json",
        "x": 360,
        "y": 1100,
        "wires": [
            [
                "9ffb91918a893878"
            ]
        ]
    },
    {
        "id": "3f2f78fcf8c632c7",
        "type": "mqtt out",
        "z": "998aacd1fbf73437",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "1d42a39e53b6600e",
        "x": 850,
        "y": 1140,
        "wires": []
    },
    {
        "id": "9ffb91918a893878",
        "type": "json",
        "z": "998aacd1fbf73437",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 650,
        "y": 1140,
        "wires": [
            [
                "3f2f78fcf8c632c7",
                "2255246f3afb983b"
            ]
        ]
    },
    {
        "id": "2255246f3afb983b",
        "type": "debug",
        "z": "998aacd1fbf73437",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 1220,
        "wires": []
    },
    {
        "id": "206f3524a9517696",
        "type": "inject",
        "z": "998aacd1fbf73437",
        "name": "Cara3 Simon",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "II3/GAME/COMMAND/ALL",
        "payload": "{\"bugRaro\":\"abcd\",\"FaceNumb\":3,\"GameParm\":\"5\",\"GameTime\":300,\"FailTime\":90,\"NumTries\":10}",
        "payloadType": "json",
        "x": 350,
        "y": 1140,
        "wires": [
            [
                "9ffb91918a893878"
            ]
        ]
    },
    {
        "id": "290972e5e6543ca3",
        "type": "inject",
        "z": "998aacd1fbf73437",
        "name": "Cara4 Joystick",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "II3/GAME/COMMAND/ALL",
        "payload": "{\"bugRaro\":\"abcd\",\"FaceNumb\":4,\"GameParm\":\"18:00\",\"GameTime\":300,\"FailTime\":90,\"NumTries\":10}",
        "payloadType": "json",
        "x": 360,
        "y": 1180,
        "wires": [
            [
                "9ffb91918a893878"
            ]
        ]
    },
    {
        "id": "f31934cd1b3d2769",
        "type": "inject",
        "z": "998aacd1fbf73437",
        "name": "Cara5 Switch",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "II3/GAME/COMMAND/ALL",
        "payload": "{\"bugRaro\":\"abcd\",\"FaceNumb\":5,\"GameParm\":\"17\",\"GameTime\":150,\"FailTime\":90,\"NumTries\":10}",
        "payloadType": "json",
        "x": 350,
        "y": 1220,
        "wires": [
            [
                "9ffb91918a893878"
            ]
        ]
    },
    {
        "id": "fbab99db92938ac6",
        "type": "inject",
        "z": "998aacd1fbf73437",
        "name": "Cara6 Barco",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "II3/GAME/COMMAND/ALL",
        "payload": "{\"bugRaro\":\"abcd\",\"FaceNumb\":6,\"GameParm\":\"SOS\",\"GameTime\":300,\"FailTime\":90,\"NumTries\":10}",
        "payloadType": "json",
        "x": 350,
        "y": 1260,
        "wires": [
            [
                "9ffb91918a893878"
            ]
        ]
    },
    {
        "id": "ed29aaccd8e8e0fa",
        "type": "mqtt in",
        "z": "a99fe971dd900b15",
        "name": "Game Status",
        "topic": "II3/GAME/STATUS/#",
        "qos": "2",
        "datatype": "auto",
        "broker": "1d42a39e53b6600e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 230,
        "y": 240,
        "wires": [
            [
                "5da1f6ab418391d2"
            ]
        ]
    },
    {
        "id": "659debd3c52b3c7f",
        "type": "mongodb out",
        "z": "a99fe971dd900b15",
        "mongodb": "f605fa69.8f5008",
        "name": "Insert II3_Log",
        "collection": "II3_Games",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "insert",
        "x": 840,
        "y": 240,
        "wires": []
    },
    {
        "id": "5da1f6ab418391d2",
        "type": "json",
        "z": "a99fe971dd900b15",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 410,
        "y": 240,
        "wires": [
            [
                "5931f77436493ea6"
            ]
        ]
    },
    {
        "id": "5931f77436493ea6",
        "type": "function",
        "z": "a99fe971dd900b15",
        "name": "UpdateMsg",
        "func": "msg.payload.timestamp = new Date();\nif (msg.payload.Online == 0)\n    msg.payload.Online = false;\nelse\n    msg.payload.Online = true;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 240,
        "wires": [
            [
                "659debd3c52b3c7f"
            ]
        ]
    },
    {
        "id": "bf4e23d232420615",
        "type": "link out",
        "z": "d5499d6e16ad24e9",
        "name": "esp001 online",
        "links": [
            "97d3a0146e6b2f9d",
            "daad14246c923137",
            "d0a94196d4aad349",
            "70b6054c34914bed",
            "cccbf8110668810a"
        ],
        "x": 1135,
        "y": 160,
        "wires": []
    },
    {
        "id": "97d3a0146e6b2f9d",
        "type": "link in",
        "z": "d5499d6e16ad24e9",
        "name": "esp001 online",
        "links": [
            "bf4e23d232420615"
        ],
        "x": 1235,
        "y": 160,
        "wires": [
            [
                "ac6395a4c09c8fec"
            ]
        ]
    },
    {
        "id": "ac6395a4c09c8fec",
        "type": "debug",
        "z": "d5499d6e16ad24e9",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1380,
        "y": 160,
        "wires": []
    },
    {
        "id": "6d101e797445ee4d",
        "type": "change",
        "z": "d5499d6e16ad24e9",
        "name": "Online",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Online",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1030,
        "y": 220,
        "wires": [
            [
                "7cfcf081b120675c"
            ]
        ]
    },
    {
        "id": "7cfcf081b120675c",
        "type": "link out",
        "z": "d5499d6e16ad24e9",
        "name": "esp002 online",
        "links": [
            "c65770a97768cc7b",
            "daad14246c923137",
            "783290569c65b40d",
            "989694a0ebdb9b91"
        ],
        "x": 1135,
        "y": 220,
        "wires": []
    },
    {
        "id": "c65770a97768cc7b",
        "type": "link in",
        "z": "d5499d6e16ad24e9",
        "name": "esp002 online",
        "links": [
            "7cfcf081b120675c"
        ],
        "x": 1235,
        "y": 220,
        "wires": [
            [
                "06b7c6e2e035d049"
            ]
        ]
    },
    {
        "id": "06b7c6e2e035d049",
        "type": "debug",
        "z": "d5499d6e16ad24e9",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1380,
        "y": 220,
        "wires": []
    },
    {
        "id": "906f2bb08b929877",
        "type": "change",
        "z": "d5499d6e16ad24e9",
        "name": "Online",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Online",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1030,
        "y": 280,
        "wires": [
            [
                "473104427fc6bd6c"
            ]
        ]
    },
    {
        "id": "473104427fc6bd6c",
        "type": "link out",
        "z": "d5499d6e16ad24e9",
        "name": "esp003 online",
        "links": [
            "83a4777ddd66762a",
            "daad14246c923137",
            "f8dbdc1cc7caa5a5",
            "9bf6fcd9f5898539",
            "cd021e279bfadae1"
        ],
        "x": 1135,
        "y": 280,
        "wires": []
    },
    {
        "id": "83a4777ddd66762a",
        "type": "link in",
        "z": "d5499d6e16ad24e9",
        "name": "esp003 online",
        "links": [
            "473104427fc6bd6c",
            "6e90028df4c7adef",
            "7dc2375fba1aff61"
        ],
        "x": 1235,
        "y": 280,
        "wires": [
            [
                "ad6a8ec8b4f13a8e"
            ]
        ]
    },
    {
        "id": "ad6a8ec8b4f13a8e",
        "type": "debug",
        "z": "d5499d6e16ad24e9",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1380,
        "y": 280,
        "wires": []
    },
    {
        "id": "2108328d87f6b6c4",
        "type": "change",
        "z": "d5499d6e16ad24e9",
        "name": "Online",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Online",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1030,
        "y": 340,
        "wires": [
            [
                "f4dd161d15da9fae"
            ]
        ]
    },
    {
        "id": "f4dd161d15da9fae",
        "type": "link out",
        "z": "d5499d6e16ad24e9",
        "name": "esp004 online",
        "links": [
            "289d5e80cffb6cf0",
            "daad14246c923137",
            "e124ede7f495808c",
            "5e2f5b27d2afebc6",
            "5d558696dbca49d5"
        ],
        "x": 1135,
        "y": 340,
        "wires": []
    },
    {
        "id": "289d5e80cffb6cf0",
        "type": "link in",
        "z": "d5499d6e16ad24e9",
        "name": "esp004online",
        "links": [
            "f4dd161d15da9fae",
            "3b4f1666e30f2b91"
        ],
        "x": 1235,
        "y": 340,
        "wires": [
            [
                "dbf0e0ab835fe4c7"
            ]
        ]
    },
    {
        "id": "dbf0e0ab835fe4c7",
        "type": "debug",
        "z": "d5499d6e16ad24e9",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1380,
        "y": 340,
        "wires": []
    },
    {
        "id": "17650baf9dd7c06e",
        "type": "ui_led",
        "z": "d5499d6e16ad24e9",
        "order": 0,
        "group": "59e9a4a37b969e09",
        "width": 0,
        "height": 0,
        "label": "Online",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "esp001 Online",
        "x": 460,
        "y": 560,
        "wires": []
    },
    {
        "id": "d0a94196d4aad349",
        "type": "link in",
        "z": "d5499d6e16ad24e9",
        "name": "esp001 online",
        "links": [
            "bf4e23d232420615"
        ],
        "x": 295,
        "y": 560,
        "wires": [
            [
                "17650baf9dd7c06e"
            ]
        ]
    },
    {
        "id": "09458d06b101c674",
        "type": "ui_led",
        "z": "d5499d6e16ad24e9",
        "order": 1,
        "group": "97ccdb61cc60c90e",
        "width": 0,
        "height": 0,
        "label": "Online",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "esp002 Online",
        "x": 460,
        "y": 620,
        "wires": []
    },
    {
        "id": "783290569c65b40d",
        "type": "link in",
        "z": "d5499d6e16ad24e9",
        "name": "esp002 online",
        "links": [
            "7cfcf081b120675c"
        ],
        "x": 295,
        "y": 620,
        "wires": [
            [
                "09458d06b101c674"
            ]
        ]
    },
    {
        "id": "f0db79f31d910edb",
        "type": "ui_led",
        "z": "d5499d6e16ad24e9",
        "order": 0,
        "group": "2444a248498e0fd7",
        "width": 0,
        "height": 0,
        "label": "Online",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "esp003 Online",
        "x": 460,
        "y": 680,
        "wires": []
    },
    {
        "id": "f8dbdc1cc7caa5a5",
        "type": "link in",
        "z": "d5499d6e16ad24e9",
        "name": "esp003 online",
        "links": [
            "473104427fc6bd6c",
            "6e90028df4c7adef",
            "7dc2375fba1aff61"
        ],
        "x": 295,
        "y": 680,
        "wires": [
            [
                "f0db79f31d910edb"
            ]
        ]
    },
    {
        "id": "7bf6ccd6c848028c",
        "type": "ui_led",
        "z": "d5499d6e16ad24e9",
        "order": 0,
        "group": "c92ebf52d766ad40",
        "width": 0,
        "height": 0,
        "label": "Online",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "esp004 Online",
        "x": 460,
        "y": 740,
        "wires": []
    },
    {
        "id": "e124ede7f495808c",
        "type": "link in",
        "z": "d5499d6e16ad24e9",
        "name": "esp004online",
        "links": [
            "f4dd161d15da9fae",
            "3b4f1666e30f2b91"
        ],
        "x": 295,
        "y": 740,
        "wires": [
            [
                "7bf6ccd6c848028c"
            ]
        ]
    },
    {
        "id": "380cb87168681ef7",
        "type": "ui_led",
        "z": "998aacd1fbf73437",
        "g": "dcfdeed2813890db",
        "order": 1,
        "group": "0460f95f1f8e0961",
        "width": 0,
        "height": 0,
        "label": "Online",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#646464",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#0000fa",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Numpad Online",
        "x": 400,
        "y": 120,
        "wires": []
    },
    {
        "id": "cccbf8110668810a",
        "type": "link in",
        "z": "998aacd1fbf73437",
        "g": "dcfdeed2813890db",
        "name": "esp001 online",
        "links": [
            "bf4e23d232420615"
        ],
        "x": 175,
        "y": 120,
        "wires": [
            [
                "380cb87168681ef7"
            ]
        ]
    },
    {
        "id": "fec3b04783ee880a",
        "type": "ui_led",
        "z": "998aacd1fbf73437",
        "g": "dcfdeed2813890db",
        "order": 1,
        "group": "62ba01cdf1372a08",
        "width": 0,
        "height": 0,
        "label": "Online",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#646464",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#0000fa",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Simon Online",
        "x": 400,
        "y": 180,
        "wires": []
    },
    {
        "id": "989694a0ebdb9b91",
        "type": "link in",
        "z": "998aacd1fbf73437",
        "g": "dcfdeed2813890db",
        "name": "esp002 online",
        "links": [
            "7cfcf081b120675c"
        ],
        "x": 175,
        "y": 180,
        "wires": [
            [
                "fec3b04783ee880a"
            ]
        ]
    },
    {
        "id": "b55d10d1be7afdb8",
        "type": "ui_led",
        "z": "998aacd1fbf73437",
        "g": "dcfdeed2813890db",
        "order": 1,
        "group": "75ccfb2836c91665",
        "width": 0,
        "height": 0,
        "label": "Online",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#646464",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#0000fa",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Joystick Online",
        "x": 400,
        "y": 240,
        "wires": []
    },
    {
        "id": "9bf6fcd9f5898539",
        "type": "link in",
        "z": "998aacd1fbf73437",
        "g": "dcfdeed2813890db",
        "name": "esp003 online",
        "links": [
            "473104427fc6bd6c",
            "6e90028df4c7adef",
            "7dc2375fba1aff61"
        ],
        "x": 175,
        "y": 240,
        "wires": [
            [
                "b55d10d1be7afdb8"
            ]
        ]
    },
    {
        "id": "523afe9a4eba70b3",
        "type": "ui_led",
        "z": "998aacd1fbf73437",
        "g": "dcfdeed2813890db",
        "order": 1,
        "group": "9b76d1dc8d8d1a22",
        "width": 0,
        "height": 0,
        "label": "Online",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#646464",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#0000fa",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Switch Online",
        "x": 400,
        "y": 300,
        "wires": []
    },
    {
        "id": "5e2f5b27d2afebc6",
        "type": "link in",
        "z": "998aacd1fbf73437",
        "g": "dcfdeed2813890db",
        "name": "esp004online",
        "links": [
            "f4dd161d15da9fae",
            "3b4f1666e30f2b91"
        ],
        "x": 175,
        "y": 300,
        "wires": [
            [
                "523afe9a4eba70b3"
            ]
        ]
    },
    {
        "id": "49e1a231ceecb18a",
        "type": "ui_led",
        "z": "998aacd1fbf73437",
        "g": "dcfdeed2813890db",
        "order": 1,
        "group": "9fbc2ea4f86b3546",
        "width": 0,
        "height": 0,
        "label": "Online",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#646464",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#0000fa",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Crono Online",
        "x": 390,
        "y": 60,
        "wires": []
    },
    {
        "id": "cd021e279bfadae1",
        "type": "link in",
        "z": "998aacd1fbf73437",
        "g": "dcfdeed2813890db",
        "name": "esp003 online",
        "links": [
            "473104427fc6bd6c",
            "6e90028df4c7adef",
            "7dc2375fba1aff61"
        ],
        "x": 175,
        "y": 60,
        "wires": [
            [
                "49e1a231ceecb18a"
            ]
        ]
    },
    {
        "id": "76a9b69c60d8da3e",
        "type": "ui_led",
        "z": "998aacd1fbf73437",
        "g": "dcfdeed2813890db",
        "order": 1,
        "group": "be05dc92f93b29c1",
        "width": 0,
        "height": 0,
        "label": "Online",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#646464",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#0000fa",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Barco Online",
        "x": 390,
        "y": 360,
        "wires": []
    },
    {
        "id": "5d558696dbca49d5",
        "type": "link in",
        "z": "998aacd1fbf73437",
        "g": "dcfdeed2813890db",
        "name": "esp004online",
        "links": [
            "f4dd161d15da9fae",
            "3b4f1666e30f2b91"
        ],
        "x": 175,
        "y": 360,
        "wires": [
            [
                "76a9b69c60d8da3e"
            ]
        ]
    },
    {
        "id": "929c411db6ef3509",
        "type": "inject",
        "z": "998aacd1fbf73437",
        "name": "Cara1 Crono",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "II3/GAME/COMMAND/ALL",
        "payload": "{\"bugRaro\":\"abcd\",\"FaceNumb\":1,\"GameParm\":\"34\",\"GameTime\":300,\"FailTime\":90,\"NumTries\":10}",
        "payloadType": "json",
        "x": 350,
        "y": 1060,
        "wires": [
            [
                "9ffb91918a893878"
            ]
        ]
    },
    {
        "id": "ebcd1ec80ab38047",
        "type": "inject",
        "z": "998aacd1fbf73437",
        "name": "Empezar partida",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "II3/GAME/COMMAND/ALL",
        "payload": "{\"bugRaro\":\"abcd\",\"FaceNumb\":0,\"GameParm\":\"5\",\"GameTime\":600,\"FailTime\":300,\"NumTries\":20}",
        "payloadType": "json",
        "x": 360,
        "y": 1020,
        "wires": [
            [
                "9ffb91918a893878"
            ]
        ]
    },
    {
        "id": "9b031fb8c7b6c399",
        "type": "trigger",
        "z": "998aacd1fbf73437",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "10",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 750,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "bf3e68cafea1bff1",
        "type": "mqtt in",
        "z": "998aacd1fbf73437",
        "name": "Game Status",
        "topic": "II3/GAME/STATUS/#",
        "qos": "2",
        "datatype": "auto",
        "broker": "1d42a39e53b6600e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 210,
        "y": 1420,
        "wires": [
            [
                "9d20f77ef809ca0d"
            ]
        ]
    },
    {
        "id": "9d20f77ef809ca0d",
        "type": "json",
        "z": "998aacd1fbf73437",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 370,
        "y": 1420,
        "wires": [
            [
                "f9386eaeaad5fa7e"
            ]
        ]
    },
    {
        "id": "eec28d7ae5ab469c",
        "type": "switch",
        "z": "998aacd1fbf73437",
        "name": "",
        "property": "payload.FaceNumb",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "6",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 650,
        "y": 1420,
        "wires": [
            [
                "ed48ec1f32ea99b6"
            ],
            [
                "0e4af15f8902fc46"
            ],
            [
                "4a6ed6f75eaee12e"
            ],
            [
                "fc5c4cd1cecd9e30"
            ],
            [
                "ea0a42515b89bd61"
            ],
            [
                "af7305fe78fb6e16"
            ]
        ]
    },
    {
        "id": "af7305fe78fb6e16",
        "type": "ui_text",
        "z": "998aacd1fbf73437",
        "group": "be05dc92f93b29c1",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Tiempo Barco",
        "label": "Tiempo inicial",
        "format": "{{msg.GameTime}}",
        "layout": "row-spread",
        "className": "",
        "x": 1020,
        "y": 1680,
        "wires": []
    },
    {
        "id": "f9386eaeaad5fa7e",
        "type": "function",
        "z": "998aacd1fbf73437",
        "name": "",
        "func": "var GameTime = msg.payload.GameTime || 3000;\nvar minutos  = Math.floor(GameTime/60);\nvar segundos = GameTime%60;\nif (segundos < 10) segundos = '0'+segundos;\nif (minutos < 10) minutos = '0'+minutos;\nmsg.GameTime =minutos + \":\" + segundos;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 1420,
        "wires": [
            [
                "eec28d7ae5ab469c"
            ]
        ]
    },
    {
        "id": "ed48ec1f32ea99b6",
        "type": "ui_text",
        "z": "998aacd1fbf73437",
        "group": "9fbc2ea4f86b3546",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Tiempo Crono",
        "label": "Tiempo inicial",
        "format": "{{msg.GameTime}}",
        "layout": "row-spread",
        "className": "",
        "x": 1020,
        "y": 1380,
        "wires": []
    },
    {
        "id": "0e4af15f8902fc46",
        "type": "ui_text",
        "z": "998aacd1fbf73437",
        "group": "0460f95f1f8e0961",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Tiempo Numpad",
        "label": "Tiempo inicial",
        "format": "{{msg.GameTime}}",
        "layout": "row-spread",
        "className": "",
        "x": 1020,
        "y": 1440,
        "wires": []
    },
    {
        "id": "4a6ed6f75eaee12e",
        "type": "ui_text",
        "z": "998aacd1fbf73437",
        "group": "62ba01cdf1372a08",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Tiempo Simon",
        "label": "Tiempo inicial",
        "format": "{{msg.GameTime}}",
        "layout": "row-spread",
        "className": "",
        "x": 1020,
        "y": 1500,
        "wires": []
    },
    {
        "id": "fc5c4cd1cecd9e30",
        "type": "ui_text",
        "z": "998aacd1fbf73437",
        "group": "75ccfb2836c91665",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Tiempo Joystick",
        "label": "Tiempo inicial",
        "format": "{{msg.GameTime}}",
        "layout": "row-spread",
        "className": "",
        "x": 1020,
        "y": 1560,
        "wires": []
    },
    {
        "id": "ea0a42515b89bd61",
        "type": "ui_text",
        "z": "998aacd1fbf73437",
        "group": "9b76d1dc8d8d1a22",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Tiempo Switch",
        "label": "Tiempo inicial",
        "format": "{{msg.GameTime}}",
        "layout": "row-spread",
        "className": "",
        "x": 1020,
        "y": 1620,
        "wires": []
    },
    {
        "id": "70ebaeae4111769e",
        "type": "mqtt in",
        "z": "998aacd1fbf73437",
        "name": "Game Status",
        "topic": "II3/GAME/STATUS/#",
        "qos": "2",
        "datatype": "auto",
        "broker": "1d42a39e53b6600e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 230,
        "y": 520,
        "wires": [
            [
                "07a6bc463ba5842f"
            ]
        ]
    },
    {
        "id": "864cae0d15223219",
        "type": "debug",
        "z": "998aacd1fbf73437",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.GameStat",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 700,
        "wires": []
    },
    {
        "id": "07a6bc463ba5842f",
        "type": "json",
        "z": "998aacd1fbf73437",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 410,
        "y": 520,
        "wires": [
            [
                "9e0dfe05f3efd80c"
            ]
        ]
    },
    {
        "id": "9e0dfe05f3efd80c",
        "type": "switch",
        "z": "998aacd1fbf73437",
        "name": "",
        "property": "payload.FaceNumb",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "6",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 570,
        "y": 520,
        "wires": [
            [
                "bfeaf9e37405f20f"
            ],
            [
                "553017f4e7c86382"
            ],
            [
                "d06433529bce2758",
                "864cae0d15223219"
            ],
            [
                "900ec215b0c35b10"
            ],
            [
                "6f6b6edfc47d726d"
            ],
            [
                "8b8efcf4c397fe72"
            ]
        ]
    },
    {
        "id": "86f0661cd6955499",
        "type": "ui_led",
        "z": "998aacd1fbf73437",
        "order": 2,
        "group": "9b76d1dc8d8d1a22",
        "width": 0,
        "height": 0,
        "label": "Estado juego",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#fbf9f9",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#3206e5",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "2",
                "valueType": "num"
            },
            {
                "color": "#d40808",
                "value": "3",
                "valueType": "num"
            },
            {
                "color": "#121212",
                "value": "4",
                "valueType": "num"
            },
            {
                "color": "#840cc6",
                "value": "5",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Estado Switch",
        "x": 1040,
        "y": 720,
        "wires": []
    },
    {
        "id": "6f6b6edfc47d726d",
        "type": "change",
        "z": "998aacd1fbf73437",
        "name": "GameStat",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.GameStat",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 720,
        "wires": [
            [
                "86f0661cd6955499"
            ]
        ]
    },
    {
        "id": "553017f4e7c86382",
        "type": "change",
        "z": "998aacd1fbf73437",
        "name": "GameStat",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.GameStat",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 540,
        "wires": [
            [
                "7b85dd38a9638447"
            ]
        ]
    },
    {
        "id": "d06433529bce2758",
        "type": "change",
        "z": "998aacd1fbf73437",
        "name": "GameStat",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.GameStat",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 600,
        "wires": [
            [
                "04eb10e618b39b88"
            ]
        ]
    },
    {
        "id": "900ec215b0c35b10",
        "type": "change",
        "z": "998aacd1fbf73437",
        "name": "GameStat",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.GameStat",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 660,
        "wires": [
            [
                "b843e1dfaed28197"
            ]
        ]
    },
    {
        "id": "8b8efcf4c397fe72",
        "type": "change",
        "z": "998aacd1fbf73437",
        "name": "GameStat",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.GameStat",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 780,
        "wires": [
            [
                "7d9b8630d6968be4"
            ]
        ]
    },
    {
        "id": "bfeaf9e37405f20f",
        "type": "change",
        "z": "998aacd1fbf73437",
        "name": "GameStat",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.GameStat",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 480,
        "wires": [
            [
                "f84a35fde604a172"
            ]
        ]
    },
    {
        "id": "7d9b8630d6968be4",
        "type": "ui_led",
        "z": "998aacd1fbf73437",
        "order": 2,
        "group": "be05dc92f93b29c1",
        "width": 0,
        "height": 0,
        "label": "Estado juego",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#fbf9f9",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#3206e5",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "2",
                "valueType": "num"
            },
            {
                "color": "#d40808",
                "value": "3",
                "valueType": "num"
            },
            {
                "color": "#121212",
                "value": "4",
                "valueType": "num"
            },
            {
                "color": "#840cc6",
                "value": "5",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Estado Barco",
        "x": 1040,
        "y": 780,
        "wires": []
    },
    {
        "id": "04eb10e618b39b88",
        "type": "ui_led",
        "z": "998aacd1fbf73437",
        "order": 2,
        "group": "62ba01cdf1372a08",
        "width": 0,
        "height": 0,
        "label": "Estado juego",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#fbf9f9",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#3206e5",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "2",
                "valueType": "num"
            },
            {
                "color": "#d40808",
                "value": "3",
                "valueType": "num"
            },
            {
                "color": "#121212",
                "value": "4",
                "valueType": "num"
            },
            {
                "color": "#840cc6",
                "value": "5",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Estado Simon",
        "x": 1040,
        "y": 600,
        "wires": []
    },
    {
        "id": "7b85dd38a9638447",
        "type": "ui_led",
        "z": "998aacd1fbf73437",
        "order": 2,
        "group": "0460f95f1f8e0961",
        "width": 0,
        "height": 0,
        "label": "Estado juego",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#fbf9f9",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#3206e5",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "2",
                "valueType": "num"
            },
            {
                "color": "#d40808",
                "value": "3",
                "valueType": "num"
            },
            {
                "color": "#121212",
                "value": "4",
                "valueType": "num"
            },
            {
                "color": "#840cc6",
                "value": "5",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Estado Numpad",
        "x": 1040,
        "y": 540,
        "wires": []
    },
    {
        "id": "f84a35fde604a172",
        "type": "ui_led",
        "z": "998aacd1fbf73437",
        "order": 2,
        "group": "9fbc2ea4f86b3546",
        "width": 0,
        "height": 0,
        "label": "Estado juego",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#fbf9f9",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#3206e5",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "2",
                "valueType": "num"
            },
            {
                "color": "#d40808",
                "value": "3",
                "valueType": "num"
            },
            {
                "color": "#121212",
                "value": "4",
                "valueType": "num"
            },
            {
                "color": "#840cc6",
                "value": "5",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Estado Crono",
        "x": 1040,
        "y": 480,
        "wires": []
    },
    {
        "id": "b843e1dfaed28197",
        "type": "ui_led",
        "z": "998aacd1fbf73437",
        "order": 2,
        "group": "75ccfb2836c91665",
        "width": 0,
        "height": 0,
        "label": "Estado juego",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#fbf9f9",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#3206e5",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "2",
                "valueType": "num"
            },
            {
                "color": "#d40808",
                "value": "3",
                "valueType": "num"
            },
            {
                "color": "#121212",
                "value": "4",
                "valueType": "num"
            },
            {
                "color": "#840cc6",
                "value": "5",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Estado Joystick",
        "x": 1040,
        "y": 660,
        "wires": []
    },
    {
        "id": "0b57ba3a05e5d254",
        "type": "mqtt in",
        "z": "998aacd1fbf73437",
        "g": "c8ce9b9c10302dfd",
        "name": "Game Status",
        "topic": "II3/GAME/STATUS/#",
        "qos": "2",
        "datatype": "auto",
        "broker": "1d42a39e53b6600e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 210,
        "y": 1820,
        "wires": [
            [
                "bcdd18e7baabaf60"
            ]
        ]
    },
    {
        "id": "bcdd18e7baabaf60",
        "type": "json",
        "z": "998aacd1fbf73437",
        "g": "c8ce9b9c10302dfd",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 370,
        "y": 1820,
        "wires": [
            [
                "e9d55a7a4b6168b1"
            ]
        ]
    },
    {
        "id": "001272e524da6298",
        "type": "switch",
        "z": "998aacd1fbf73437",
        "g": "c8ce9b9c10302dfd",
        "name": "",
        "property": "payload.FaceNumb",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "6",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 650,
        "y": 1820,
        "wires": [
            [
                "493742a22832e771"
            ],
            [
                "5edd9e01c0f432cf"
            ],
            [
                "cfbc7ae48017dc10"
            ],
            [
                "5a1d9c83e9e4ce3b"
            ],
            [
                "ab81614d755d073d"
            ],
            [
                "14c61d6577a235fe"
            ]
        ]
    },
    {
        "id": "14c61d6577a235fe",
        "type": "ui_text",
        "z": "998aacd1fbf73437",
        "g": "c8ce9b9c10302dfd",
        "group": "be05dc92f93b29c1",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Restante Barco",
        "label": "Tiempo Restante",
        "format": "{{msg.TmRemain}}",
        "layout": "row-spread",
        "className": "",
        "x": 1020,
        "y": 2080,
        "wires": []
    },
    {
        "id": "e9d55a7a4b6168b1",
        "type": "function",
        "z": "998aacd1fbf73437",
        "g": "c8ce9b9c10302dfd",
        "name": "",
        "func": "var TmTotPly = msg.payload.TmTotPly || 3000000;\nTmTotPly = Math.floor(TmTotPly / 1000);\nTmTotPly = (msg.payload.GameTime-TmTotPly);\nvar minutos  = Math.floor(TmTotPly/60);\nvar segundos = TmTotPly%60;\nif (segundos < 10) segundos = '0'+segundos;\nif (minutos < 10) minutos = '0'+minutos;\nmsg.TmRemain =minutos + \":\" + segundos;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 1820,
        "wires": [
            [
                "001272e524da6298",
                "0923b7909252b3f3"
            ]
        ]
    },
    {
        "id": "493742a22832e771",
        "type": "ui_text",
        "z": "998aacd1fbf73437",
        "g": "c8ce9b9c10302dfd",
        "group": "9fbc2ea4f86b3546",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Restante Crono",
        "label": "Tiempo Restante",
        "format": "{{msg.TmRemain}}",
        "layout": "row-spread",
        "className": "",
        "x": 1020,
        "y": 1780,
        "wires": []
    },
    {
        "id": "5edd9e01c0f432cf",
        "type": "ui_text",
        "z": "998aacd1fbf73437",
        "g": "c8ce9b9c10302dfd",
        "group": "0460f95f1f8e0961",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Restante Numpad",
        "label": "Tiempo Restante",
        "format": "{{msg.TmRemain}}",
        "layout": "row-spread",
        "className": "",
        "x": 1030,
        "y": 1840,
        "wires": []
    },
    {
        "id": "cfbc7ae48017dc10",
        "type": "ui_text",
        "z": "998aacd1fbf73437",
        "g": "c8ce9b9c10302dfd",
        "group": "62ba01cdf1372a08",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Restante Simon",
        "label": "Tiempo Restante",
        "format": "{{msg.TmRemain}}",
        "layout": "row-spread",
        "className": "",
        "x": 1020,
        "y": 1900,
        "wires": []
    },
    {
        "id": "5a1d9c83e9e4ce3b",
        "type": "ui_text",
        "z": "998aacd1fbf73437",
        "g": "c8ce9b9c10302dfd",
        "group": "75ccfb2836c91665",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Restante Joystick",
        "label": "Tiempo Restante",
        "format": "{{msg.TmRemain}}",
        "layout": "row-spread",
        "className": "",
        "x": 1030,
        "y": 1960,
        "wires": []
    },
    {
        "id": "ab81614d755d073d",
        "type": "ui_text",
        "z": "998aacd1fbf73437",
        "g": "c8ce9b9c10302dfd",
        "group": "9b76d1dc8d8d1a22",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Restante Switch",
        "label": "Tiempo Restante",
        "format": "{{msg.TmRemain}}",
        "layout": "row-spread",
        "className": "",
        "x": 1020,
        "y": 2020,
        "wires": []
    },
    {
        "id": "e8f83e1d8a05fee3",
        "type": "ui_button",
        "z": "998aacd1fbf73437",
        "name": "InicioPartida",
        "group": "9fbc2ea4f86b3546",
        "order": 4,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Inicio Partida",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Partida",
        "payloadType": "flow",
        "topic": "II3/GAME/COMMAND/ALL",
        "topicType": "str",
        "x": 1590,
        "y": 920,
        "wires": [
            [
                "f0461492950f87a2"
            ]
        ]
    },
    {
        "id": "14a5fcbb2ccb076f",
        "type": "config",
        "z": "998aacd1fbf73437",
        "name": "CambiarCara",
        "properties": [
            {
                "p": "Partida",
                "pt": "flow",
                "to": "{\"bugRaro\":\"abcd\",\"FaceNumb\":0,\"GameParm\":\"5\",\"GameTime\":600,\"FailTime\":300,\"NumTries\":20}",
                "tot": "str"
            },
            {
                "p": "Crono",
                "pt": "flow",
                "to": "{\"bugRaro\":\"abcd\",\"FaceNumb\":1,\"GameParm\":\"34\",\"GameTime\":300,\"FailTime\":90,\"NumTries\":10}",
                "tot": "str"
            },
            {
                "p": "Numpad",
                "pt": "flow",
                "to": "{\"bugRaro\":\"abcd\",\"FaceNumb\":2,\"GameParm\":\"34\",\"GameTime\":300,\"FailTime\":90,\"NumTries\":10}",
                "tot": "str"
            },
            {
                "p": "Simon",
                "pt": "flow",
                "to": "{\"bugRaro\":\"abcd\",\"FaceNumb\":3,\"GameParm\":\"5\",\"GameTime\":300,\"FailTime\":90,\"NumTries\":10}",
                "tot": "str"
            },
            {
                "p": "Joystick",
                "pt": "flow",
                "to": "{\"bugRaro\":\"abcd\",\"FaceNumb\":4,\"GameParm\":\"18:00\",\"GameTime\":300,\"FailTime\":90,\"NumTries\":10}",
                "tot": "str"
            },
            {
                "p": "Switch",
                "pt": "flow",
                "to": "{\"bugRaro\":\"abcd\",\"FaceNumb\":5,\"GameParm\":\"17\",\"GameTime\":150,\"FailTime\":90,\"NumTries\":10}",
                "tot": "str"
            },
            {
                "p": "Barco",
                "pt": "flow",
                "to": "{\"bugRaro\":\"abcd\",\"FaceNumb\":6,\"GameParm\":\"SOS\",\"GameTime\":300,\"FailTime\":90,\"NumTries\":10}",
                "tot": "str"
            }
        ],
        "active": true,
        "x": 990,
        "y": 940,
        "wires": []
    },
    {
        "id": "0923b7909252b3f3",
        "type": "debug",
        "z": "998aacd1fbf73437",
        "g": "c8ce9b9c10302dfd",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 2000,
        "wires": []
    },
    {
        "id": "f7d188d8af645e99",
        "type": "debug",
        "z": "998aacd1fbf73437",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1420,
        "y": 1740,
        "wires": []
    },
    {
        "id": "3128aa3af178b7a0",
        "type": "ui_button",
        "z": "998aacd1fbf73437",
        "name": "Activa Joystick",
        "group": "75ccfb2836c91665",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Activa Joystick",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Joystick",
        "payloadType": "flow",
        "topic": "II3/GAME/COMMAND/ALL",
        "topicType": "str",
        "x": 1200,
        "y": 1060,
        "wires": [
            [
                "f0461492950f87a2"
            ]
        ]
    },
    {
        "id": "f0461492950f87a2",
        "type": "mqtt out",
        "z": "998aacd1fbf73437",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "1d42a39e53b6600e",
        "x": 1850,
        "y": 1000,
        "wires": []
    },
    {
        "id": "2c6cec98e1f5d1d5",
        "type": "ui_button",
        "z": "998aacd1fbf73437",
        "name": "Activa Switch",
        "group": "9b76d1dc8d8d1a22",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Activa Switch",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Switch",
        "payloadType": "flow",
        "topic": "II3/GAME/COMMAND/ALL",
        "topicType": "str",
        "x": 1210,
        "y": 1100,
        "wires": [
            [
                "f0461492950f87a2"
            ]
        ]
    },
    {
        "id": "ff94f0dd6089b2eb",
        "type": "ui_button",
        "z": "998aacd1fbf73437",
        "name": "Activa Barco",
        "group": "be05dc92f93b29c1",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Activa Barco",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Barco",
        "payloadType": "flow",
        "topic": "II3/GAME/COMMAND/ALL",
        "topicType": "str",
        "x": 1210,
        "y": 1140,
        "wires": [
            [
                "f0461492950f87a2"
            ]
        ]
    },
    {
        "id": "2287b971a34ffac9",
        "type": "ui_button",
        "z": "998aacd1fbf73437",
        "name": "Activa Simon",
        "group": "62ba01cdf1372a08",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Activa Simon",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Simon",
        "payloadType": "flow",
        "topic": "II3/GAME/COMMAND/ALL",
        "topicType": "str",
        "x": 1210,
        "y": 1020,
        "wires": [
            [
                "f0461492950f87a2"
            ]
        ]
    },
    {
        "id": "6a0bf67040041416",
        "type": "ui_button",
        "z": "998aacd1fbf73437",
        "name": "Activa Numpad",
        "group": "0460f95f1f8e0961",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Activa Numpad",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Numpad",
        "payloadType": "flow",
        "topic": "II3/GAME/COMMAND/ALL",
        "topicType": "str",
        "x": 1200,
        "y": 980,
        "wires": [
            [
                "f0461492950f87a2"
            ]
        ]
    },
    {
        "id": "f2f1c0218c00c436",
        "type": "ui_button",
        "z": "998aacd1fbf73437",
        "name": "Activa Crono",
        "group": "9fbc2ea4f86b3546",
        "order": 4,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Activa Crono",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Crono",
        "payloadType": "flow",
        "topic": "II3/GAME/COMMAND/ALL",
        "topicType": "str",
        "x": 1210,
        "y": 940,
        "wires": [
            [
                "f0461492950f87a2",
                "8e2475b84f513a4b"
            ]
        ]
    },
    {
        "id": "8e2475b84f513a4b",
        "type": "debug",
        "z": "998aacd1fbf73437",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1460,
        "y": 840,
        "wires": []
    }
]
