la-caja/node-red/doc.arquitectura.json
[
    {
        "id": "998aacd1fbf73437",
        "type": "tab",
        "label": "Juegos",
        "disabled": false,
        "info": ""
    },
    {
        "id": "87e481748dbe9603",
        "type": "tab",
        "label": "Broker",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a99fe971dd900b15",
        "type": "tab",
        "label": "DB",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5eb9e669a20a2298",
        "type": "tab",
        "label": "Config",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2da61da4929bb235",
        "type": "tab",
        "label": "Actuadores",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ccd8ad10.a1f6a",
        "type": "tab",
        "label": "Anáisis",
        "disabled": false,
        "info": "Parece que en los PCs del laboratorio no funciona bien el nodo \"http request\" con la configuración de proxy. Utilizar el nodo alternativo que se puede instalar con el paquete: node-red-contrib-http-request"
    },
    {
        "id": "1e10ef4db7b5c4b6",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2b77c396dbba72b1",
        "type": "group",
        "z": "998aacd1fbf73437",
        "name": "Led Online",
        "style": {
            "label": true
        },
        "nodes": [
            "380cb87168681ef7",
            "fec3b04783ee880a",
            "b55d10d1be7afdb8",
            "523afe9a4eba70b3",
            "49e1a231ceecb18a",
            "76a9b69c60d8da3e",
            "b10f5fe323b99bbc",
            "11c0fde540a1c21d",
            "2c3ea3e7398d280f",
            "232f919a0c105e7a",
            "bca4fde4134b13af",
            "4b45ded2fe04686b"
        ],
        "x": 194,
        "y": 79,
        "w": 312,
        "h": 282
    },
    {
        "id": "34e1a9b3a9df62ab",
        "type": "group",
        "z": "998aacd1fbf73437",
        "name": "Envío de activeface",
        "style": {
            "label": true
        },
        "nodes": [
            "e8f83e1d8a05fee3",
            "3128aa3af178b7a0",
            "2c6cec98e1f5d1d5",
            "ff94f0dd6089b2eb",
            "2287b971a34ffac9",
            "6a0bf67040041416",
            "f2f1c0218c00c436",
            "f3a07e47a5c52e0e",
            "942faa14e1488cec",
            "b002d558902e336b",
            "d047f36772d208f1"
        ],
        "x": 194,
        "y": 399,
        "w": 782,
        "h": 322
    },
    {
        "id": "f2518826d48c8a35",
        "type": "group",
        "z": "a99fe971dd900b15",
        "name": "Colección game_event",
        "style": {
            "label": true
        },
        "nodes": [
            "abb97c0f051daa70",
            "bc1de4404cdd1a76",
            "ecdbfccdb740bd37",
            "2d993c51698e4fb2",
            "22ee2aa34b858a39",
            "d3f8743b95c1c291",
            "40ddedbf1f808164",
            "8f5fbb7a42502e89",
            "9d29fd4c37d3cba3",
            "55ede45c85f23887"
        ],
        "x": 124,
        "y": 59
    },
    {
        "id": "388fae59e3cf7dd0",
        "type": "group",
        "z": "998aacd1fbf73437",
        "name": "Led gamestate",
        "style": {
            "label": true
        },
        "nodes": [
            "0a2d5aa79d098c99",
            "d26c6ff3067b2b7e",
            "2b76b532120e80f5",
            "bf45359bea4cb667",
            "ea34c122b1b563e0",
            "5f72bd0f81665f0f",
            "bb845b268b66ce97",
            "1610d3d2f6152b9b",
            "68415ef22ad4178b",
            "fdb74c144af68f2a",
            "41935d2a58d42a03",
            "9a47d5deac40e4da",
            "d2e298db5073e527",
            "1a7393517605112a",
            "60eb00bbd4ce69c1",
            "db769b683b0cf3fe",
            "29d471a2f4a9a6da",
            "7cf793f750539585"
        ],
        "x": 594,
        "y": 79,
        "w": 532,
        "h": 282
    },
    {
        "id": "ed091e2871679857",
        "type": "group",
        "z": "998aacd1fbf73437",
        "name": "Visualizar maxtimeui",
        "style": {
            "label": true
        },
        "nodes": [
            "b7443f4c80f81dfb",
            "3830a024314b7df7",
            "fc27a73e2cc2f3b8",
            "84be5a006d4bcdd2",
            "6665f9ed77d451f3",
            "8fb9924db35e71ec",
            "acbcebbfb39e11b8",
            "5ad75b6e601673a2",
            "491235ade1f49f2b",
            "74879dbeb7fedb3f",
            "80d26422ea600d23",
            "9c6293f40b21ba1e"
        ],
        "x": 194,
        "y": 759,
        "w": 372,
        "h": 282
    },
    {
        "id": "440ebb087d063115",
        "type": "group",
        "z": "998aacd1fbf73437",
        "name": "game remtimeui",
        "style": {
            "label": true
        },
        "nodes": [
            "1d9424d210dd9943",
            "395613571694a8fe",
            "befb47997bbfeaae",
            "6b530e97e6c881b6",
            "8b5503ba7bf25794",
            "c4d0170a63e115d1",
            "060b09697cf8c69c",
            "ea5ba80793c12e29",
            "8af056fc07359ac9",
            "72f2b8ddade2f60b",
            "3f2f3deaee9d3e1b",
            "9f48b321fb2dd967"
        ],
        "x": 194,
        "y": 1079,
        "w": 392,
        "h": 282
    },
    {
        "id": "2ed49a1fa77e5d9b",
        "type": "group",
        "z": "998aacd1fbf73437",
        "name": "game remlives",
        "style": {
            "label": true
        },
        "nodes": [
            "220dafcb75b9fc56",
            "4c837eb11b8e2216",
            "44bf11369b7603e0",
            "41705661d39568ee",
            "f46fe33133859f3b",
            "a75d38e2b2381de6",
            "a2f864c34507c71d",
            "2d5b300448e1d946",
            "b970399717aefab4",
            "c9e5a903daa8c7ec",
            "11bbd42eb584c969",
            "d6b37eba26697db1"
        ],
        "x": 654,
        "y": 759,
        "w": 392,
        "h": 282
    },
    {
        "id": "984b51ca50c87f51",
        "type": "group",
        "z": "998aacd1fbf73437",
        "name": "gamedata",
        "style": {
            "label": true
        },
        "nodes": [
            "275554ef3d7972c5",
            "c43343acf4608d27",
            "af026b4a94337296",
            "490104dc8b8a46e8",
            "3de95e858f88769d",
            "f80fe579a54b637d",
            "6d4d789c7a15a15f",
            "2b5a6a592f30b64b",
            "7da57d7706e735d7",
            "7335919e629f083b",
            "04f56724f165e5bd",
            "abcdb1f383998632"
        ],
        "x": 654,
        "y": 1079,
        "w": 352,
        "h": 282
    },
    {
        "id": "c1b54de46424e7cd",
        "type": "group",
        "z": "87e481748dbe9603",
        "name": "Colección game_event",
        "style": {
            "label": true
        },
        "nodes": [
            "139f8dfa326474b7",
            "8eeb0daa9c322a4b",
            "469c298285eaf019",
            "836cebc1edaeb5e5",
            "3cdbd43390552301",
            "7c7a409aa03226cf",
            "bc71e48f73f746f0",
            "5408b4d32e346d6c",
            "8cb96e7c08a831a8",
            "ebb6bb2828c6059f",
            "bf9141be16617139",
            "2f9d7e6e64a0517b",
            "a72b27bde3792bf6",
            "40f5e0d61b77aee6",
            "34c25141e43be380",
            "b2595e10b6061780",
            "fc1a5b568b1baa61",
            "898508b52c158ac4",
            "d142aa4ab0af9df3",
            "3589699a96aeba93",
            "5f40fee3272159d7",
            "27d331c60973316c",
            "4a1ffde56ca0193b",
            "2b0b74e3d11c2dde",
            "1e8519a1b237cc08",
            "ea5859e5a5553490",
            "d47c8dd64fb3e7e2",
            "a5a2e102c2b8e678",
            "204ad2f5d4d0258b"
        ],
        "x": 94,
        "y": 39
    },
    {
        "id": "603544534b7296c8",
        "type": "group",
        "z": "2da61da4929bb235",
        "name": "",
        "style": {
            "label": true
        },
        "nodes": [
            "81b1730ebaf1d51d",
            "9003bef52a900c20",
            "b770cdf52bb390a9",
            "5c41f6beac2c69aa",
            "136b898bf2bd6f66",
            "0057f17221e4e6af",
            "3966617bfbfb57b2",
            "446860a36a3f7356",
            "e038da152f6fb12a",
            "bfd4e26c7f09ca74",
            "9bd3484bc3fa8c10",
            "9d7fd17ed25d842e",
            "2a1f696ca7396e23",
            "343694054e489a17",
            "ee4d2544e74d88a7",
            "e4b7309f0a13cf9f"
        ],
        "x": 154,
        "y": 19
    },
    {
        "id": "1d42a39e53b6600e",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "f605fa69.8f5008",
        "type": "mongodb",
        "hostname": "iot.ac.uma.es:27017",
        "connectOptions": "",
        "port": "27017",
        "db": "ejemplo",
        "name": ""
    },
    {
        "id": "218c995b99f33afa",
        "type": "ui_tab",
        "name": "UI Técnico",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "6399f92ebbd874cd",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "59e9a4a37b969e09",
        "type": "ui_group",
        "name": "ESP001",
        "tab": "218c995b99f33afa",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4b0228cb51cdcf68",
        "type": "ui_group",
        "name": "Control of actuators",
        "tab": "218c995b99f33afa",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "93ce51126172202b",
        "type": "ui_group",
        "name": "Update configuration",
        "tab": "218c995b99f33afa",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "97ccdb61cc60c90e",
        "type": "ui_group",
        "name": "ESP002",
        "tab": "218c995b99f33afa",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e6af077614815360",
        "type": "ui_group",
        "name": "Evloution",
        "tab": "218c995b99f33afa",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3752afa1.deaf9",
        "type": "mongodb",
        "hostname": "iot.ac.uma.es",
        "port": "27017",
        "db": "pruebas",
        "name": ""
    },
    {
        "id": "a34ffe7a.04009",
        "type": "ui_group",
        "name": "Descargar datos",
        "tab": "e63432e4.6c1e",
        "order": 3,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2b251178.95ad2e",
        "type": "mqtt-broker",
        "name": "iot infind",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "e63432e4.6c1e",
        "type": "ui_tab",
        "name": "Análisis",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "4540ca01214b6e3e",
        "type": "ui_group",
        "name": "Analizar datos",
        "tab": "e63432e4.6c1e",
        "order": 2,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a2861d5cdebb10e1",
        "type": "ui_group",
        "name": "Selección de datos",
        "tab": "e63432e4.6c1e",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2444a248498e0fd7",
        "type": "ui_group",
        "name": "ESP003",
        "tab": "218c995b99f33afa",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c92ebf52d766ad40",
        "type": "ui_group",
        "name": "ESP004",
        "tab": "218c995b99f33afa",
        "order": 7,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c92b4a500c7dca1e",
        "type": "ui_tab",
        "name": "Infra2",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "62ba01cdf1372a08",
        "type": "ui_group",
        "name": "Cara 3 - Simón",
        "tab": "c92b4a500c7dca1e",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "75ccfb2836c91665",
        "type": "ui_group",
        "name": "Cara 4 - Joystick",
        "tab": "c92b4a500c7dca1e",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0460f95f1f8e0961",
        "type": "ui_group",
        "name": "Cara 2 - Numpad",
        "tab": "c92b4a500c7dca1e",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "be05dc92f93b29c1",
        "type": "ui_group",
        "name": "Cara 6 - Barco",
        "tab": "c92b4a500c7dca1e",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9fbc2ea4f86b3546",
        "type": "ui_group",
        "name": "Cara 1 - Crono",
        "tab": "c92b4a500c7dca1e",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9b76d1dc8d8d1a22",
        "type": "ui_group",
        "name": "Cara 5 - Switch",
        "tab": "c92b4a500c7dca1e",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2a8303c9373742d3",
        "type": "ui_group",
        "name": "Infra2",
        "tab": "c92b4a500c7dca1e",
        "order": 7,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7c0c913dd765974b",
        "type": "ui_tab",
        "name": "Arch",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ce33bfdc59e73be7",
        "type": "ui_group",
        "name": "Config",
        "tab": "7c0c913dd765974b",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "95f5cd9c398251bb",
        "type": "ui_led",
        "z": "2da61da4929bb235",
        "order": 0,
        "group": "59e9a4a37b969e09",
        "width": 0,
        "height": 0,
        "label": "Switch",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#55020a",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#284af0",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "esp001 Switch",
        "x": 1440,
        "y": 380,
        "wires": []
    },
    {
        "id": "62c70c6f8db560ab",
        "type": "change",
        "z": "2da61da4929bb235",
        "name": "Lighted",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.uiSwLevel",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1200,
        "y": 380,
        "wires": [
            [
                "95f5cd9c398251bb"
            ]
        ]
    },
    {
        "id": "e96ffd9feadf08e5",
        "type": "mqtt in",
        "z": "2da61da4929bb235",
        "name": "SwitchStat",
        "topic": "II3/STASWITCH/#",
        "qos": "2",
        "datatype": "auto",
        "broker": "1d42a39e53b6600e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 220,
        "y": 440,
        "wires": [
            [
                "9d120b9ffdf3668a"
            ]
        ]
    },
    {
        "id": "9d120b9ffdf3668a",
        "type": "json",
        "z": "2da61da4929bb235",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 410,
        "y": 440,
        "wires": [
            [
                "eab7c5df5f2a4787"
            ]
        ]
    },
    {
        "id": "eab7c5df5f2a4787",
        "type": "function",
        "z": "2da61da4929bb235",
        "name": "UpdateMsg",
        "func": "msg.payload.timestamp = new Date();\nif (msg.payload.Online == 0)\n    msg.payload.Online = false;\nelse\n    msg.payload.Online = true;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 440,
        "wires": [
            [
                "0a5a8b6086103241",
                "c5113943a1f03859"
            ]
        ]
    },
    {
        "id": "0a5a8b6086103241",
        "type": "debug",
        "z": "2da61da4929bb235",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 500,
        "wires": []
    },
    {
        "id": "c5113943a1f03859",
        "type": "switch",
        "z": "2da61da4929bb235",
        "name": "esp",
        "property": "payload.BoardName",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "esp001",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "esp002",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "esp003",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "esp004",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 830,
        "y": 440,
        "wires": [
            [
                "62c70c6f8db560ab"
            ],
            [
                "6d5b5886749d79fe"
            ],
            [],
            [],
            []
        ]
    },
    {
        "id": "9d4fcaac4892422c",
        "type": "ui_dropdown",
        "z": "5eb9e669a20a2298",
        "name": "",
        "label": "Board name",
        "tooltip": "",
        "place": "",
        "group": "93ce51126172202b",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "ALL",
                "value": "ALL",
                "type": "str"
            },
            {
                "label": "Chip esp001",
                "value": "esp001",
                "type": "str"
            },
            {
                "label": "Chip esp002",
                "value": "esp002",
                "type": "str"
            },
            {
                "label": "Chip esp003",
                "value": "esp003",
                "type": "str"
            },
            {
                "label": "Chip esp004",
                "value": "esp004",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "EspCombo",
        "topicType": "msg",
        "className": "",
        "x": 430,
        "y": 160,
        "wires": [
            [
                "df69791554feec28"
            ]
        ]
    },
    {
        "id": "df69791554feec28",
        "type": "function",
        "z": "5eb9e669a20a2298",
        "name": "SetEsp",
        "func": "flow.set(\"DestConfig\",msg.payload);\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "e570f8c2de6532b6",
        "type": "function",
        "z": "5eb9e669a20a2298",
        "name": "SetConfig",
        "func": "flow.set(\"cfSwLight\",msg.payload);\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "5fd250f54a0f67c5",
        "type": "ui_dropdown",
        "z": "5eb9e669a20a2298",
        "name": "",
        "label": "Switch lighted when",
        "tooltip": "",
        "place": "Level",
        "group": "93ce51126172202b",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "Encendido=0",
                "value": 0,
                "type": "num"
            },
            {
                "label": "Encendido=1",
                "value": 1,
                "type": "num"
            },
            {
                "label": "Mantener config",
                "value": -1,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "CfgCombo",
        "topicType": "msg",
        "className": "",
        "x": 460,
        "y": 340,
        "wires": [
            [
                "e570f8c2de6532b6"
            ]
        ]
    },
    {
        "id": "aa259d089d4e7aa6",
        "type": "ui_button",
        "z": "5eb9e669a20a2298",
        "name": "",
        "group": "93ce51126172202b",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Update config",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 440,
        "y": 580,
        "wires": [
            [
                "1715540595624711"
            ]
        ]
    },
    {
        "id": "1715540595624711",
        "type": "function",
        "z": "5eb9e669a20a2298",
        "name": "",
        "func": "//------------------ Inicializar mensaje de configuración\nvar newMsg = {};\nnewMsg.payload = {};\nnewMsg.dest = flow.get(\"DestConfig\") || \"ALL\";\nnewMsg.chipid = flow.get(newMsg.dest) || \"ESP_0000000\";\n\n//---------------------- Valores numéricos sin excecpción \"null\"\nnewMsg.payload.test = flow.get(\"test\") || 30;\nnewMsg.payload.cfPerStat = flow.get(\"cfPerStat\") || 30;\nnewMsg.payload.cfPerFota = flow.get(\"cfPerFota\") || 0;\nnewMsg.payload.cfLedBrig = flow.get(\"cfLedBrig\") || 100;\nnewMsg.payload.cfLedVelo = flow.get(\"cfLedVelo\") || 1;\n\n//------------------ Configuración del switch \nif (Number(flow.get(\"cfSwLight\")) == -1) \n    newMsg.payload.cfSwLight = \"null\"; // mantener configuración\"\nelse\n    newMsg.payload.cfSwLight = \"ON=\"+flow.get(\"cfSwLight\") || 0;\n\n//------------------ Configuración del led \nif (Number(flow.get(\"cfLdLight\")) == -1) \n    newMsg.payload.cfLdLight = \"null\"; // mantener configuración\"\nelse\n    newMsg.payload.cfLdLight = \"ON=\"+flow.get(\"cfLdLight\") || 0;\n\n//------------------ Determinar el topic por el que enivarlo\nif (msg.dest==\"ALL\") \n    newMsg.topic = \"II3/ALL/config\";\nelse\n    newMsg.topic = \"II3/\"+newMsg.dest+\"/\"+newMsg.chipid+\"/config\";\n\n//------------- TODO IDENTIFICADOR DEL MENSAJE\n\nnewMsg.payload.id = \"1234569\";\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 580,
        "wires": [
            [
                "547571ae651246a8"
            ]
        ]
    },
    {
        "id": "547571ae651246a8",
        "type": "link out",
        "z": "5eb9e669a20a2298",
        "name": "2MQ",
        "links": [
            "4c9956b72080942a",
            "14c0f92497dcbc8f",
            "c0d8a89487c0b942",
            "86a009497e394764"
        ],
        "x": 795,
        "y": 580,
        "wires": []
    },
    {
        "id": "f3029ca01ae08418",
        "type": "ui_text_input",
        "z": "5eb9e669a20a2298",
        "name": "",
        "label": "Status updates(s)",
        "tooltip": "",
        "group": "93ce51126172202b",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "topicType": "msg",
        "x": 450,
        "y": 220,
        "wires": [
            [
                "315ee6d9c6246f4a"
            ]
        ]
    },
    {
        "id": "368bb62758579190",
        "type": "ui_numeric",
        "z": "5eb9e669a20a2298",
        "name": "",
        "label": "Led brightness (%)",
        "tooltip": "",
        "group": "93ce51126172202b",
        "order": 6,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 450,
        "y": 460,
        "wires": [
            [
                "c71b1d0301986491"
            ]
        ]
    },
    {
        "id": "2d2604f2107edcbf",
        "type": "inject",
        "z": "5eb9e669a20a2298",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "5",
        "payloadType": "num",
        "x": 250,
        "y": 220,
        "wires": [
            [
                "f3029ca01ae08418"
            ]
        ]
    },
    {
        "id": "eb8b291112a12264",
        "type": "inject",
        "z": "5eb9e669a20a2298",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "50",
        "payloadType": "num",
        "x": 250,
        "y": 460,
        "wires": [
            [
                "368bb62758579190"
            ]
        ]
    },
    {
        "id": "d3cf3ffa262a5ec6",
        "type": "ui_numeric",
        "z": "5eb9e669a20a2298",
        "name": "",
        "label": "FOTA updates (m)",
        "tooltip": "",
        "group": "93ce51126172202b",
        "order": 3,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "180",
        "step": 1,
        "className": "",
        "x": 450,
        "y": 280,
        "wires": [
            [
                "35b421de8bf9b14d"
            ]
        ]
    },
    {
        "id": "efd03756b5ce48f4",
        "type": "inject",
        "z": "5eb9e669a20a2298",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 250,
        "y": 280,
        "wires": [
            [
                "d3cf3ffa262a5ec6"
            ]
        ]
    },
    {
        "id": "9cb4b35b2d9b659b",
        "type": "inject",
        "z": "5eb9e669a20a2298",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 250,
        "y": 340,
        "wires": [
            [
                "5fd250f54a0f67c5"
            ]
        ]
    },
    {
        "id": "f32e7d55a7352c90",
        "type": "ui_dropdown",
        "z": "5eb9e669a20a2298",
        "name": "",
        "label": "Led lighted when",
        "tooltip": "",
        "place": "Level",
        "group": "93ce51126172202b",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "Encendido=0",
                "value": 0,
                "type": "num"
            },
            {
                "label": "Encendido=1",
                "value": 1,
                "type": "num"
            },
            {
                "label": "Mantener config",
                "value": -1,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "CfgCombo",
        "topicType": "msg",
        "className": "",
        "x": 450,
        "y": 400,
        "wires": [
            [
                "f11366ddee3ab37d"
            ]
        ]
    },
    {
        "id": "530f611a90a39980",
        "type": "inject",
        "z": "5eb9e669a20a2298",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 250,
        "y": 400,
        "wires": [
            [
                "f32e7d55a7352c90"
            ]
        ]
    },
    {
        "id": "54979df12da127f9",
        "type": "ui_numeric",
        "z": "5eb9e669a20a2298",
        "name": "",
        "label": "Bright speed (%/ms)",
        "tooltip": "",
        "group": "93ce51126172202b",
        "order": 7,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 460,
        "y": 520,
        "wires": [
            [
                "f0a73e4d64c5b7a3"
            ]
        ]
    },
    {
        "id": "6653d64cf98f2b13",
        "type": "inject",
        "z": "5eb9e669a20a2298",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 250,
        "y": 520,
        "wires": [
            [
                "54979df12da127f9"
            ]
        ]
    },
    {
        "id": "315ee6d9c6246f4a",
        "type": "function",
        "z": "5eb9e669a20a2298",
        "name": "SetConfig",
        "func": "flow.set(\"cfPerStat\",msg.payload);\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "35b421de8bf9b14d",
        "type": "function",
        "z": "5eb9e669a20a2298",
        "name": "SetConfig",
        "func": "flow.set(\"cfPerFota\",msg.payload);\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "f0a73e4d64c5b7a3",
        "type": "function",
        "z": "5eb9e669a20a2298",
        "name": "SetConfig",
        "func": "flow.set(\"cfLedVelo\",msg.payload);\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "f11366ddee3ab37d",
        "type": "function",
        "z": "5eb9e669a20a2298",
        "name": "SetConfig",
        "func": "flow.set(\"cfLdLight\",msg.payload);\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "8a35d97f8c5e7f0d",
        "type": "mqtt out",
        "z": "5eb9e669a20a2298",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "1d42a39e53b6600e",
        "x": 1150,
        "y": 340,
        "wires": []
    },
    {
        "id": "63d6fe7d7acf08db",
        "type": "json",
        "z": "5eb9e669a20a2298",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 990,
        "y": 340,
        "wires": [
            [
                "8a35d97f8c5e7f0d",
                "9da564e3036f7f5d"
            ]
        ]
    },
    {
        "id": "9da564e3036f7f5d",
        "type": "debug",
        "z": "5eb9e669a20a2298",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1140,
        "y": 420,
        "wires": []
    },
    {
        "id": "14c0f92497dcbc8f",
        "type": "link in",
        "z": "5eb9e669a20a2298",
        "name": "2MQ",
        "links": [
            "17b029dc733ce1fd",
            "bbeec97623b1c8e8",
            "26162b4b9ead5926",
            "547571ae651246a8",
            "f3cf7b783fac95f9",
            "4d6d174582a9c8ad"
        ],
        "x": 835,
        "y": 340,
        "wires": [
            [
                "63d6fe7d7acf08db",
                "9da564e3036f7f5d"
            ]
        ]
    },
    {
        "id": "8b0ceab0a7a2c113",
        "type": "catch",
        "z": "5eb9e669a20a2298",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 1110,
        "y": 560,
        "wires": [
            [
                "9da564e3036f7f5d"
            ]
        ]
    },
    {
        "id": "c71b1d0301986491",
        "type": "function",
        "z": "5eb9e669a20a2298",
        "name": "SetConfig",
        "func": "flow.set(\"cfLedBrig\",msg.payload);\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "e3b2e3487464da0d",
        "type": "config",
        "z": "5eb9e669a20a2298",
        "name": "ChipIds",
        "properties": [
            {
                "p": "esp001",
                "pt": "flow",
                "to": "ESP_14393685",
                "tot": "str"
            },
            {
                "p": "esp002",
                "pt": "flow",
                "to": "PENDIENTE",
                "tot": "str"
            }
        ],
        "active": true,
        "x": 260,
        "y": 580,
        "wires": []
    },
    {
        "id": "1b14df169bc1d3d0",
        "type": "ui_button",
        "z": "2da61da4929bb235",
        "name": "",
        "group": "4b0228cb51cdcf68",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Update switch",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 240,
        "y": 380,
        "wires": [
            [
                "e96f1bc041f38e31"
            ]
        ]
    },
    {
        "id": "e96f1bc041f38e31",
        "type": "function",
        "z": "2da61da4929bb235",
        "name": "",
        "func": "//------------------ Inicializar mensaje de configuración\nvar newMsg = msg; // {};\nnewMsg.payload = {};\nnewMsg.dest = flow.get(\"ActDest\") || \"ALL\";\nnewMsg.chipid = flow.get(newMsg.dest) || \"ESP_0000000\";\n\n//---------------------- Valores numéricos sin excecpción \"null\"\nnewMsg.payload.test = flow.get(\"test\") || 30;\nnewMsg.payload.stSwLevel = flow.get(\"stSwLevel\") || 0;\n\n//------------------ Determinar el topic por el que enivarlo\nif (newMsg.dest==\"ALL\") \n    newMsg.topic = \"II3/ALL/SETSWITCH/switch/cmd\";\nelse\n    newMsg.topic = \"II3/\"+newMsg.dest+\"/SETSWITCH/\"+newMsg.chipid+\"/switch/cmd\";\n\n\n//------------- TODO IDENTIFICADOR DEL MENSAJE\nnewMsg.payload.id = \"1234569\";\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 380,
        "wires": [
            [
                "f3cf7b783fac95f9"
            ]
        ]
    },
    {
        "id": "b3a86d9d98415ac0",
        "type": "function",
        "z": "2da61da4929bb235",
        "name": "SetLevel",
        "func": "flow.set(\"stSwLevel\",msg.payload);\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "fd63872f688ab86e",
        "type": "ui_dropdown",
        "z": "2da61da4929bb235",
        "name": "",
        "label": "Switch level",
        "tooltip": "",
        "place": "Level",
        "group": "4b0228cb51cdcf68",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "Enviar 0",
                "value": 0,
                "type": "num"
            },
            {
                "label": "Enviar 1",
                "value": "1",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "DestCombo",
        "topicType": "msg",
        "className": "",
        "x": 230,
        "y": 340,
        "wires": [
            [
                "b3a86d9d98415ac0"
            ]
        ]
    },
    {
        "id": "249c8b258c906694",
        "type": "ui_dropdown",
        "z": "2da61da4929bb235",
        "name": "",
        "label": "Board name",
        "tooltip": "",
        "place": "",
        "group": "4b0228cb51cdcf68",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "ALL",
                "value": "ALL",
                "type": "str"
            },
            {
                "label": "Chip esp001",
                "value": "esp001",
                "type": "str"
            },
            {
                "label": "Chip esp002",
                "value": "esp002",
                "type": "str"
            },
            {
                "label": "Chip esp003",
                "value": "esp003",
                "type": "str"
            },
            {
                "label": "Chip esp004",
                "value": "esp004",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "EspCombo",
        "topicType": "msg",
        "className": "",
        "x": 230,
        "y": 300,
        "wires": [
            [
                "567227ef7254ad0f"
            ]
        ]
    },
    {
        "id": "567227ef7254ad0f",
        "type": "function",
        "z": "2da61da4929bb235",
        "name": "SetEsp",
        "func": "flow.set(\"ActDest\",msg.payload);\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "10600baec6ff078b",
        "type": "function",
        "z": "2da61da4929bb235",
        "name": "SetLevel",
        "func": "flow.set(\"stLdLevel\",msg.payload);\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "08f9728abe1126d7",
        "type": "ui_dropdown",
        "z": "2da61da4929bb235",
        "name": "",
        "label": "Led level",
        "tooltip": "",
        "place": "Level",
        "group": "4b0228cb51cdcf68",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "Enviar 0",
                "value": 0,
                "type": "num"
            },
            {
                "label": "Enviar 1",
                "value": "1",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "DestCombo",
        "topicType": "msg",
        "className": "",
        "x": 200,
        "y": 580,
        "wires": [
            [
                "10600baec6ff078b"
            ]
        ]
    },
    {
        "id": "684696b993d256fc",
        "type": "ui_button",
        "z": "2da61da4929bb235",
        "name": "",
        "group": "4b0228cb51cdcf68",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Update led",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 210,
        "y": 640,
        "wires": [
            [
                "866f3135752b1476"
            ]
        ]
    },
    {
        "id": "866f3135752b1476",
        "type": "function",
        "z": "2da61da4929bb235",
        "name": "",
        "func": "//------------------ Inicializar mensaje de configuración\nvar newMsg = {};\nnewMsg.payload = {};\nnewMsg.dest = flow.get(\"ActDest\") || \"ALL\";\nnewMsg.chipid = flow.get(newMsg.dest) || \"ESP_0000000\";\n\n//---------------------- Valores numéricos sin excecpción \"null\"\nnewMsg.payload.test = flow.get(\"test\") || 30;\nnewMsg.payload.stLdLevel = flow.get(\"stLdLevel\") || 0;\n\n\n//------------------ Determinar el topic por el que enivarlo\nif (newMsg.dest==\"ALL\") \n    newMsg.topic = \"II3/ALL/SETLED/sed/cmd\";\nelse\n    newMsg.topic = \"II3/\"+newMsg.dest+\"/SETLED/\"+newMsg.chipid+\"/led/cmd\";\n\n//------------- TODO IDENTIFICADOR DEL MENSAJE\nnewMsg.payload.id = \"1234569\";\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 640,
        "wires": [
            [
                "4d6d174582a9c8ad",
                "19a0fd19a49d8d9f"
            ]
        ]
    },
    {
        "id": "f3cf7b783fac95f9",
        "type": "link out",
        "z": "2da61da4929bb235",
        "name": "2MQ",
        "links": [
            "4c9956b72080942a",
            "14c0f92497dcbc8f",
            "c0d8a89487c0b942",
            "86a009497e394764"
        ],
        "x": 655,
        "y": 380,
        "wires": []
    },
    {
        "id": "6d517083735af547",
        "type": "ui_led",
        "z": "2da61da4929bb235",
        "order": 0,
        "group": "59e9a4a37b969e09",
        "width": 0,
        "height": 0,
        "label": "Led",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#55020a",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#284af0",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "esp001 Led",
        "x": 1370,
        "y": 700,
        "wires": []
    },
    {
        "id": "15b9a2117c04d6e9",
        "type": "change",
        "z": "2da61da4929bb235",
        "name": "Lighted",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.uiLdLevel",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 700,
        "wires": [
            [
                "6d517083735af547"
            ]
        ]
    },
    {
        "id": "edf3a943b850b552",
        "type": "mqtt in",
        "z": "2da61da4929bb235",
        "name": "LedStatus",
        "topic": "II3/STALED/#",
        "qos": "2",
        "datatype": "auto",
        "broker": "1d42a39e53b6600e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 200,
        "y": 800,
        "wires": [
            [
                "5541a0af2bf742f8"
            ]
        ]
    },
    {
        "id": "5541a0af2bf742f8",
        "type": "json",
        "z": "2da61da4929bb235",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 390,
        "y": 800,
        "wires": [
            [
                "dc1eb1103eec90ff"
            ]
        ]
    },
    {
        "id": "dc1eb1103eec90ff",
        "type": "function",
        "z": "2da61da4929bb235",
        "name": "UpdateMsg",
        "func": "msg.payload.timestamp = new Date();\nif (msg.payload.Online == 0)\n    msg.payload.Online = false;\nelse\n    msg.payload.Online = true;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 800,
        "wires": [
            [
                "b9bf157f52d0f579",
                "c82ca722d05a2e39"
            ]
        ]
    },
    {
        "id": "b9bf157f52d0f579",
        "type": "debug",
        "z": "2da61da4929bb235",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 900,
        "wires": []
    },
    {
        "id": "c82ca722d05a2e39",
        "type": "switch",
        "z": "2da61da4929bb235",
        "name": "esp",
        "property": "payload.BoardName",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "esp001",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "esp002",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "esp003",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "esp004",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 830,
        "y": 760,
        "wires": [
            [
                "15b9a2117c04d6e9"
            ],
            [
                "3211d0e3481b0dd2"
            ],
            [],
            [],
            []
        ]
    },
    {
        "id": "157337f99d22874b",
        "type": "debug",
        "z": "2da61da4929bb235",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1310,
        "y": 880,
        "wires": []
    },
    {
        "id": "4d6d174582a9c8ad",
        "type": "link out",
        "z": "2da61da4929bb235",
        "name": "2MQ",
        "links": [
            "4c9956b72080942a",
            "14c0f92497dcbc8f",
            "c0d8a89487c0b942",
            "86a009497e394764"
        ],
        "x": 635,
        "y": 640,
        "wires": []
    },
    {
        "id": "19a0fd19a49d8d9f",
        "type": "debug",
        "z": "2da61da4929bb235",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 560,
        "wires": []
    },
    {
        "id": "d5569f2186e1ecca",
        "type": "ui_led",
        "z": "2da61da4929bb235",
        "order": 2,
        "group": "97ccdb61cc60c90e",
        "width": 0,
        "height": 0,
        "label": "Switch",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#55020a",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#284af0",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "esp002 Switch",
        "x": 1440,
        "y": 440,
        "wires": []
    },
    {
        "id": "6d5b5886749d79fe",
        "type": "change",
        "z": "2da61da4929bb235",
        "name": "Lighted",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.uiSwLevel",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1200,
        "y": 440,
        "wires": [
            [
                "d5569f2186e1ecca"
            ]
        ]
    },
    {
        "id": "b45bed789a47ba7d",
        "type": "ui_led",
        "z": "2da61da4929bb235",
        "order": 3,
        "group": "97ccdb61cc60c90e",
        "width": 0,
        "height": 0,
        "label": "Led",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#55020a",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#284af0",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "esp002 Led",
        "x": 1370,
        "y": 760,
        "wires": []
    },
    {
        "id": "3211d0e3481b0dd2",
        "type": "change",
        "z": "2da61da4929bb235",
        "name": "Lighted",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.uiLdLevel",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 760,
        "wires": [
            [
                "b45bed789a47ba7d"
            ]
        ]
    },
    {
        "id": "93bf45086171d312",
        "type": "mqtt in",
        "z": "a99fe971dd900b15",
        "name": "",
        "topic": "II3/DATOS/#",
        "qos": "2",
        "datatype": "auto",
        "broker": "1d42a39e53b6600e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 230,
        "y": 420,
        "wires": [
            [
                "39c3fda9b00dd311"
            ]
        ]
    },
    {
        "id": "51e0c7974246d74d",
        "type": "debug",
        "z": "a99fe971dd900b15",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 340,
        "wires": []
    },
    {
        "id": "92f969892b866882",
        "type": "mongodb out",
        "z": "a99fe971dd900b15",
        "mongodb": "f605fa69.8f5008",
        "name": "Insert II3_Log",
        "collection": "II3_Log",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "insert",
        "x": 840,
        "y": 420,
        "wires": []
    },
    {
        "id": "ea49ad392e7ac947",
        "type": "inject",
        "z": "a99fe971dd900b15",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "GetLog",
        "payloadType": "str",
        "x": 250,
        "y": 900,
        "wires": [
            [
                "358b3c5fe68e3db8"
            ]
        ]
    },
    {
        "id": "39c3fda9b00dd311",
        "type": "json",
        "z": "a99fe971dd900b15",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 410,
        "y": 420,
        "wires": [
            [
                "58d7d054ac9ac440"
            ]
        ]
    },
    {
        "id": "58d7d054ac9ac440",
        "type": "function",
        "z": "a99fe971dd900b15",
        "name": "UpdateMsg",
        "func": "msg.payload.timestamp = new Date();\nif (msg.payload.Online == 0)\n    msg.payload.Online = false;\nelse\n    msg.payload.Online = true;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 420,
        "wires": [
            [
                "92f969892b866882",
                "51e0c7974246d74d"
            ]
        ]
    },
    {
        "id": "f72bcead3dfb4dba",
        "type": "inject",
        "z": "a99fe971dd900b15",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 250,
        "y": 700,
        "wires": [
            [
                "c911fd651f85d709"
            ]
        ]
    },
    {
        "id": "c911fd651f85d709",
        "type": "mongodb out",
        "z": "a99fe971dd900b15",
        "mongodb": "f605fa69.8f5008",
        "name": "Insert II3_Log",
        "collection": "II3_Log",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "delete",
        "x": 480,
        "y": 700,
        "wires": []
    },
    {
        "id": "2bc79054.4dac6",
        "type": "ui_template",
        "z": "ccd8ad10.a1f6a",
        "group": "a34ffe7a.04009",
        "name": "",
        "order": 3,
        "width": "0",
        "height": "0",
        "format": "<style>\n.button {\n    text-align: center;\n    font: bold 17px Arial;\n    text-decoration: none;\n    background-color: #339966;\n    color: white;\n    padding: 8px 10px;\n    border: 2px solid #CCCCCC;\n  }\n  \n  .button:hover\n  {\n   background-color: #26734d;\n  }\n\n</style>\n<a href=\"/registros\" class=\"button\">Descarga registros en CSV (EXCEL)</a>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 900,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "5ba69690.6f3a28",
        "type": "ui_switch",
        "z": "ccd8ad10.a1f6a",
        "name": "separdor decimal",
        "label": "{{msg.topic}}",
        "tooltip": "",
        "group": "a34ffe7a.04009",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 190,
        "y": 740,
        "wires": [
            [
                "96e33153.98e75"
            ]
        ]
    },
    {
        "id": "64d25d3f.5e61c4",
        "type": "inject",
        "z": "ccd8ad10.a1f6a",
        "name": "",
        "props": [
            {
                "p": "payload",
                "v": "true",
                "vt": "bool"
            },
            {
                "p": "topic",
                "v": "",
                "vt": "string"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 170.99706649780273,
        "y": 662.9118814468384,
        "wires": [
            [
                "96e33153.98e75"
            ]
        ]
    },
    {
        "id": "96e33153.98e75",
        "type": "function",
        "z": "ccd8ad10.a1f6a",
        "name": "set global separador_decimal",
        "func": "if(msg.payload===true)\n{\n    global.set(\"separador_decimal\",\"coma\");\n    msg.topic=\"separador decimal = coma\";\n}\nelse\n{\n    global.set(\"separador_decimal\",\"punto\");\n    msg.topic=\"separador decimal = punto\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 499.0084533691406,
        "y": 663.6192541122437,
        "wires": [
            [
                "5ba69690.6f3a28"
            ]
        ]
    },
    {
        "id": "fc86581d.721438",
        "type": "ui_date_picker",
        "z": "ccd8ad10.a1f6a",
        "name": "",
        "label": "Fecha inicio",
        "group": "a2861d5cdebb10e1",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "",
        "topicType": "str",
        "className": "",
        "x": 550,
        "y": 140,
        "wires": [
            [
                "36e52eff.e79652"
            ]
        ]
    },
    {
        "id": "b5ec6fbf.5c7b8",
        "type": "ui_date_picker",
        "z": "ccd8ad10.a1f6a",
        "name": "",
        "label": "Fecha final",
        "group": "a2861d5cdebb10e1",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "",
        "topicType": "str",
        "className": "",
        "x": 553.0113525390625,
        "y": 188.99423742294312,
        "wires": [
            [
                "32225963.2490f6"
            ]
        ]
    },
    {
        "id": "36e52eff.e79652",
        "type": "change",
        "z": "ccd8ad10.a1f6a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "desde",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 746.0056762695312,
        "y": 138.66188764572144,
        "wires": [
            []
        ]
    },
    {
        "id": "32225963.2490f6",
        "type": "change",
        "z": "ccd8ad10.a1f6a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "hasta",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 749.2329559326172,
        "y": 189.5454421043396,
        "wires": [
            []
        ]
    },
    {
        "id": "13b2662f.d6754a",
        "type": "inject",
        "z": "ccd8ad10.a1f6a",
        "name": "",
        "props": [
            {
                "p": "payload",
                "v": "",
                "vt": "date"
            },
            {
                "p": "topic",
                "v": "",
                "vt": "string"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 352.0084991455078,
        "y": 164.42044019699097,
        "wires": [
            [
                "fc86581d.721438",
                "b5ec6fbf.5c7b8"
            ]
        ]
    },
    {
        "id": "3e06173c.94cdb8",
        "type": "comment",
        "z": "ccd8ad10.a1f6a",
        "name": "Selección de datos",
        "info": "",
        "x": 179.00848770141602,
        "y": 67.89772462844849,
        "wires": []
    },
    {
        "id": "8f0fda03.1a7698",
        "type": "comment",
        "z": "ccd8ad10.a1f6a",
        "name": "Botón en HTML para lanzar descarga de fichero",
        "info": "",
        "x": 920,
        "y": 600,
        "wires": []
    },
    {
        "id": "7aa4e397.e0472c",
        "type": "comment",
        "z": "ccd8ad10.a1f6a",
        "name": "Flujo para descarga de fichero",
        "info": "",
        "x": 162.0142059326172,
        "y": 805.0056400299072,
        "wires": []
    },
    {
        "id": "243ebda4.07bf32",
        "type": "comment",
        "z": "ccd8ad10.a1f6a",
        "name": "Selector de separador decimal",
        "info": "",
        "x": 183.01123046875,
        "y": 602.5740060806274,
        "wires": []
    },
    {
        "id": "7bfeb5196f1ff0a1",
        "type": "function",
        "z": "ccd8ad10.a1f6a",
        "name": "consulta",
        "func": "// Rango de fechas de UI\nvar ahora  = new Date();\nvar desde  = new Date(global.get(\"desde\") || ahora);\nvar hasta  = new Date(global.get(\"hasta\") || ahora); \nvar inicio = new Date(desde.getFullYear(),desde.getMonth(),desde.getDate(),0,0,0,0);\nvar final  = new Date(hasta.getFullYear(),hasta.getMonth(),hasta.getDate(),23,59,59,999);\n\nmsg.payload=\n[\n    { \"$match\": { \"timestamp\": { \"$gte\": inicio , \"$lte\": final } } },\n    { \"$project\": {\n        \"_id\":          0,\n        \"timestamp\":    1,\n        \"ChipId\":       1,\n        \"BoardName\":    1,\n        \"Online\":       1,\n        \"uiSwLevel\":    1,\n        \"uiLdLevel\":    1\n        }\n    },\n    { \"$sort\": {\"date\": 1} }\n];\n\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 900,
        "wires": [
            [
                "27b9e0c6f963e586"
            ]
        ]
    },
    {
        "id": "27b9e0c6f963e586",
        "type": "mongodb in",
        "z": "ccd8ad10.a1f6a",
        "mongodb": "f605fa69.8f5008",
        "name": "Query Log",
        "collection": "II3_Log",
        "operation": "aggregate",
        "x": 550,
        "y": 900,
        "wires": [
            [
                "2f2edb00f2af054f",
                "76fc7b8cd1179705"
            ]
        ]
    },
    {
        "id": "2f2edb00f2af054f",
        "type": "debug",
        "z": "ccd8ad10.a1f6a",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 980,
        "wires": []
    },
    {
        "id": "61750952c7d99d9b",
        "type": "inject",
        "z": "ccd8ad10.a1f6a",
        "name": "GetCSV",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 160,
        "y": 980,
        "wires": [
            [
                "7bfeb5196f1ff0a1"
            ]
        ]
    },
    {
        "id": "ed12f8b375ea67e5",
        "type": "http in",
        "z": "ccd8ad10.a1f6a",
        "name": "",
        "url": "/registros",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 900,
        "wires": [
            [
                "7bfeb5196f1ff0a1"
            ]
        ]
    },
    {
        "id": "76fc7b8cd1179705",
        "type": "csv",
        "z": "ccd8ad10.a1f6a",
        "name": "",
        "sep": ";",
        "hdrin": "",
        "hdrout": "all",
        "multi": "one",
        "ret": "\\r\\n",
        "temp": "timestamp, ChipId, BoardName, Online, uiSwLevel, uiLdLevel",
        "skip": 0,
        "strings": true,
        "include_empty_strings": false,
        "include_null_values": false,
        "x": 770,
        "y": 900,
        "wires": [
            [
                "149d3163cfc71c03"
            ]
        ]
    },
    {
        "id": "143346fcca4255cd",
        "type": "http response",
        "z": "ccd8ad10.a1f6a",
        "name": "",
        "statusCode": "",
        "headers": {
            "Content-Disposition": "attachment; filename=registros.csv"
        },
        "x": 1210,
        "y": 900,
        "wires": []
    },
    {
        "id": "149d3163cfc71c03",
        "type": "function",
        "z": "ccd8ad10.a1f6a",
        "name": "Unicode y separador",
        "func": "//add Unicode BOM character (byte order mark) to make EXCEL knows this is UTF-8\nif(global.get(\"separador_decimal\")==\"punto\")\n{\n    msg.payload='\\ufeff'+msg.payload;\n\n}\nelse\n{\n    msg.payload='\\ufeff'+(msg.payload).replace(/\\./g,\",\");\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 900,
        "wires": [
            [
                "143346fcca4255cd"
            ]
        ]
    },
    {
        "id": "358b3c5fe68e3db8",
        "type": "function",
        "z": "a99fe971dd900b15",
        "name": "consulta",
        "func": "// Rango de fechas de UI\nvar ahora  = new Date();\nvar desde  = new Date(global.get(\"desde\") || ahora);\nvar hasta  = new Date(global.get(\"hasta\") || ahora); \nvar inicio = new Date(desde.getFullYear(),desde.getMonth(),desde.getDate(),0,0,0,0);\nvar final  = new Date(hasta.getFullYear(),hasta.getMonth(),hasta.getDate(),23,59,59,999);\n\nmsg.payload=\n[\n    { \"$match\": { \"cfPerStat\": { \"$gte\": 0 , \"$lte\": 30 } } },\n    { \"$project\": {\n        \"_id\":          0,\n        \"timestamp\":    1,\n        \"BoardName\":    1,\n        \"uiSwLevel\":    1\n        }\n    },\n    { \"$sort\": {\"date\": 1} }\n];\n\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 900,
        "wires": [
            [
                "268c426ac9a95eab"
            ]
        ]
    },
    {
        "id": "268c426ac9a95eab",
        "type": "mongodb in",
        "z": "a99fe971dd900b15",
        "mongodb": "f605fa69.8f5008",
        "name": "Query Log",
        "collection": "II3_Log",
        "operation": "aggregate",
        "x": 610,
        "y": 900,
        "wires": [
            [
                "fa4a3aa6b697d3b0"
            ]
        ]
    },
    {
        "id": "3a9c559598d5b8e1",
        "type": "debug",
        "z": "ccd8ad10.a1f6a",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 440,
        "wires": []
    },
    {
        "id": "0951cd3069d26950",
        "type": "ui_chart",
        "z": "ccd8ad10.a1f6a",
        "name": "",
        "group": "4540ca01214b6e3e",
        "order": 8,
        "width": "6",
        "height": "8",
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 950,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "394bdddff64b0aed",
        "type": "function",
        "z": "ccd8ad10.a1f6a",
        "name": "consulta",
        "func": "// Rango de fechas de UI\nvar ahora  = new Date();\nvar desde  = new Date(global.get(\"desde\") || ahora);\nvar hasta  = new Date(global.get(\"hasta\") || ahora); \nvar inicio = new Date(desde.getFullYear(),desde.getMonth(),desde.getDate(),0,0,0,0);\nvar final  = new Date(hasta.getFullYear(),hasta.getMonth(),hasta.getDate(),23,59,59,999);\n\nmsg.payload=\n[\n    { \"$match\": { \"timestamp\": { \"$gte\": inicio , \"$lte\": final } } },\n    { \"$project\": {\n        \"_id\":          0,\n        \"timestamp\":    1,\n        \"ChipId\":       1,\n        \"BoardName\":    1,\n        \"Online\":       1,\n        \"uiSwLevel\":    1,\n        \"uiLdLevel\":    1\n        }\n    },\n    { \"$sort\": {\"date\": 1} }\n];\n\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 360,
        "wires": [
            [
                "cb7c794ac791baf5"
            ]
        ]
    },
    {
        "id": "cb7c794ac791baf5",
        "type": "mongodb in",
        "z": "ccd8ad10.a1f6a",
        "mongodb": "f605fa69.8f5008",
        "name": "Query Log",
        "collection": "II3_Log",
        "operation": "aggregate",
        "x": 650,
        "y": 360,
        "wires": [
            [
                "0951cd3069d26950",
                "3a9c559598d5b8e1"
            ]
        ]
    },
    {
        "id": "d39472b05b477979",
        "type": "inject",
        "z": "ccd8ad10.a1f6a",
        "name": "Refresh chart",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 270,
        "y": 360,
        "wires": [
            [
                "394bdddff64b0aed"
            ]
        ]
    },
    {
        "id": "cf09036db2891b66",
        "type": "comment",
        "z": "a99fe971dd900b15",
        "name": "Grabación de menesajes en el log",
        "info": "",
        "x": 290,
        "y": 340,
        "wires": []
    },
    {
        "id": "5677c42a6ff84a7c",
        "type": "comment",
        "z": "a99fe971dd900b15",
        "name": "Borrar el log",
        "info": "",
        "x": 230,
        "y": 620,
        "wires": []
    },
    {
        "id": "fa4a3aa6b697d3b0",
        "type": "debug",
        "z": "a99fe971dd900b15",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 900,
        "wires": []
    },
    {
        "id": "498b6a2a9ff434dd",
        "type": "comment",
        "z": "a99fe971dd900b15",
        "name": "Consultar el Log",
        "info": "",
        "x": 240,
        "y": 840,
        "wires": []
    },
    {
        "id": "af62892dd3b46529",
        "type": "comment",
        "z": "ccd8ad10.a1f6a",
        "name": "Análisis de datos",
        "info": "",
        "x": 160,
        "y": 280,
        "wires": []
    },
    {
        "id": "380cb87168681ef7",
        "type": "ui_led",
        "z": "998aacd1fbf73437",
        "g": "2b77c396dbba72b1",
        "order": 1,
        "group": "0460f95f1f8e0961",
        "width": 0,
        "height": 0,
        "label": "Online",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#646464",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#0000fa",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Numpad Online",
        "x": 400,
        "y": 160,
        "wires": []
    },
    {
        "id": "fec3b04783ee880a",
        "type": "ui_led",
        "z": "998aacd1fbf73437",
        "g": "2b77c396dbba72b1",
        "order": 1,
        "group": "62ba01cdf1372a08",
        "width": 0,
        "height": 0,
        "label": "Online",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#646464",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#0000fa",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Simon Online",
        "x": 400,
        "y": 200,
        "wires": []
    },
    {
        "id": "b55d10d1be7afdb8",
        "type": "ui_led",
        "z": "998aacd1fbf73437",
        "g": "2b77c396dbba72b1",
        "order": 1,
        "group": "75ccfb2836c91665",
        "width": 0,
        "height": 0,
        "label": "Online",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#646464",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#0000fa",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Joystick Online",
        "x": 400,
        "y": 240,
        "wires": []
    },
    {
        "id": "523afe9a4eba70b3",
        "type": "ui_led",
        "z": "998aacd1fbf73437",
        "g": "2b77c396dbba72b1",
        "order": 1,
        "group": "9b76d1dc8d8d1a22",
        "width": 0,
        "height": 0,
        "label": "Online",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#646464",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#0000fa",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Switch Online",
        "x": 400,
        "y": 280,
        "wires": []
    },
    {
        "id": "49e1a231ceecb18a",
        "type": "ui_led",
        "z": "998aacd1fbf73437",
        "g": "2b77c396dbba72b1",
        "order": 1,
        "group": "9fbc2ea4f86b3546",
        "width": 0,
        "height": 0,
        "label": "Online",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#646464",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#0000fa",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Crono Online",
        "x": 390,
        "y": 120,
        "wires": []
    },
    {
        "id": "76a9b69c60d8da3e",
        "type": "ui_led",
        "z": "998aacd1fbf73437",
        "g": "2b77c396dbba72b1",
        "order": 1,
        "group": "be05dc92f93b29c1",
        "width": 0,
        "height": 0,
        "label": "Online",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#646464",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#0000fa",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Barco Online",
        "x": 390,
        "y": 320,
        "wires": []
    },
    {
        "id": "e8f83e1d8a05fee3",
        "type": "ui_button",
        "z": "998aacd1fbf73437",
        "g": "34e1a9b3a9df62ab",
        "name": "inicia_partida",
        "group": "9fbc2ea4f86b3546",
        "order": 7,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Inicio Partida",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "inicia_partida",
        "payloadType": "global",
        "topic": "II3/GAME/COMMAND/ALL",
        "topicType": "str",
        "x": 310,
        "y": 440,
        "wires": [
            [
                "f3a07e47a5c52e0e"
            ]
        ]
    },
    {
        "id": "3128aa3af178b7a0",
        "type": "ui_button",
        "z": "998aacd1fbf73437",
        "g": "34e1a9b3a9df62ab",
        "name": "activa_joystick",
        "group": "75ccfb2836c91665",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Activa Joystick",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "activa_joystick",
        "payloadType": "global",
        "topic": "II3/GAME/COMMAND/ALL",
        "topicType": "str",
        "x": 300,
        "y": 600,
        "wires": [
            [
                "f3a07e47a5c52e0e"
            ]
        ]
    },
    {
        "id": "2c6cec98e1f5d1d5",
        "type": "ui_button",
        "z": "998aacd1fbf73437",
        "g": "34e1a9b3a9df62ab",
        "name": "activa_switch",
        "group": "9b76d1dc8d8d1a22",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Activa Switch",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "activa_switch",
        "payloadType": "global",
        "topic": "II3/GAME/COMMAND/ALL",
        "topicType": "str",
        "x": 310,
        "y": 640,
        "wires": [
            [
                "f3a07e47a5c52e0e"
            ]
        ]
    },
    {
        "id": "ff94f0dd6089b2eb",
        "type": "ui_button",
        "z": "998aacd1fbf73437",
        "g": "34e1a9b3a9df62ab",
        "name": "activa_morse",
        "group": "be05dc92f93b29c1",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Activa Barco",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "activa_morse",
        "payloadType": "global",
        "topic": "II3/GAME/COMMAND/ALL",
        "topicType": "str",
        "x": 310,
        "y": 680,
        "wires": [
            [
                "f3a07e47a5c52e0e"
            ]
        ]
    },
    {
        "id": "2287b971a34ffac9",
        "type": "ui_button",
        "z": "998aacd1fbf73437",
        "g": "34e1a9b3a9df62ab",
        "name": "activa_simon",
        "group": "62ba01cdf1372a08",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Activa Simón",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "activa_simon",
        "payloadType": "global",
        "topic": "II3/GAME/COMMAND/ALL",
        "topicType": "str",
        "x": 310,
        "y": 560,
        "wires": [
            [
                "f3a07e47a5c52e0e"
            ]
        ]
    },
    {
        "id": "6a0bf67040041416",
        "type": "ui_button",
        "z": "998aacd1fbf73437",
        "g": "34e1a9b3a9df62ab",
        "name": "activa_numpad",
        "group": "0460f95f1f8e0961",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Activa Numpad",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "activa_numpad",
        "payloadType": "global",
        "topic": "II3/GAME/COMMAND/ALL",
        "topicType": "str",
        "x": 300,
        "y": 520,
        "wires": [
            [
                "f3a07e47a5c52e0e"
            ]
        ]
    },
    {
        "id": "f2f1c0218c00c436",
        "type": "ui_button",
        "z": "998aacd1fbf73437",
        "g": "34e1a9b3a9df62ab",
        "name": "activa_crono",
        "group": "9fbc2ea4f86b3546",
        "order": 8,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Activa Crono",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "activa_crono",
        "payloadType": "global",
        "topic": "II3/GAME/COMMAND/ALL",
        "topicType": "str",
        "x": 310,
        "y": 480,
        "wires": [
            [
                "f3a07e47a5c52e0e"
            ]
        ]
    },
    {
        "id": "b10f5fe323b99bbc",
        "type": "link in",
        "z": "998aacd1fbf73437",
        "g": "2b77c396dbba72b1",
        "name": "es001 online",
        "links": [
            "0cf4f44a81f18c53",
            "e9336be23b59b4ea",
            "57ac18d3ee1fd243",
            "e038da152f6fb12a"
        ],
        "x": 235,
        "y": 160,
        "wires": [
            [
                "380cb87168681ef7"
            ]
        ]
    },
    {
        "id": "11c0fde540a1c21d",
        "type": "link in",
        "z": "998aacd1fbf73437",
        "g": "2b77c396dbba72b1",
        "name": "es002 online",
        "links": [
            "947c1695a7fa71df",
            "d81b6237421f333e",
            "9d3c9083eb653cca",
            "9bd3484bc3fa8c10"
        ],
        "x": 235,
        "y": 200,
        "wires": [
            [
                "fec3b04783ee880a"
            ]
        ]
    },
    {
        "id": "2c3ea3e7398d280f",
        "type": "link in",
        "z": "998aacd1fbf73437",
        "g": "2b77c396dbba72b1",
        "name": "es003 online",
        "links": [
            "8d4b019e53a15c85",
            "296d0a906ea9e6b8",
            "8cd1ca9077449fb1",
            "2a1f696ca7396e23"
        ],
        "x": 235,
        "y": 240,
        "wires": [
            [
                "b55d10d1be7afdb8"
            ]
        ]
    },
    {
        "id": "232f919a0c105e7a",
        "type": "link in",
        "z": "998aacd1fbf73437",
        "g": "2b77c396dbba72b1",
        "name": "es004 online",
        "links": [
            "19c53c13a5749b19",
            "da45d14b2ef381bb",
            "f6a7e75c92886218",
            "ee4d2544e74d88a7"
        ],
        "x": 235,
        "y": 280,
        "wires": [
            [
                "523afe9a4eba70b3"
            ]
        ]
    },
    {
        "id": "bca4fde4134b13af",
        "type": "link in",
        "z": "998aacd1fbf73437",
        "g": "2b77c396dbba72b1",
        "name": "es003 online",
        "links": [
            "8d4b019e53a15c85",
            "296d0a906ea9e6b8",
            "8cd1ca9077449fb1",
            "2a1f696ca7396e23"
        ],
        "x": 235,
        "y": 120,
        "wires": [
            [
                "49e1a231ceecb18a"
            ]
        ]
    },
    {
        "id": "4b45ded2fe04686b",
        "type": "link in",
        "z": "998aacd1fbf73437",
        "g": "2b77c396dbba72b1",
        "name": "es004 online",
        "links": [
            "19c53c13a5749b19",
            "da45d14b2ef381bb",
            "f6a7e75c92886218",
            "ee4d2544e74d88a7"
        ],
        "x": 235,
        "y": 320,
        "wires": [
            [
                "76a9b69c60d8da3e"
            ]
        ]
    },
    {
        "id": "139f8dfa326474b7",
        "type": "config",
        "z": "87e481748dbe9603",
        "g": "c1b54de46424e7cd",
        "name": "Activación de juegos",
        "properties": [
            {
                "p": "inicia_partida",
                "pt": "global",
                "to": "{\"bugRaro\":\"abcd\",\"activeface\":0,\"gameparam\":\"\",\t \t\t\t\"maxtime\":600,\t\"numlives\":5, \"gameinfo\": \"New match\"}",
                "tot": "json"
            },
            {
                "p": "activa_crono",
                "pt": "global",
                "to": "{\"bugRaro\":\"abcd\",\"activeface\":1,\"gameparam\":\"300\",\t \t\t\t\"maxtime\":300,\t\"maxlives\":5, \"gameinfo\": \"Chrono\"}",
                "tot": "json"
            },
            {
                "p": "activa_numpad",
                "pt": "global",
                "to": "{\"bugRaro\":\"abcd\",\"activeface\":2,\"gameparam\":\"34\",\t \t\t\t\"maxtime\":3300,\t\"maxlives\":5, \"gameinfo\": \"Guess\"}",
                "tot": "json"
            },
            {
                "p": "activa_simon",
                "pt": "global",
                "to": "{\"bugRaro\":\"abcd\",\"activeface\":3,\"gameparam\":\"5\",\t \t\t\t\"maxtime\":300,\t\"maxlives\":5, \"gameinfo\": \"Simon\"}",
                "tot": "json"
            },
            {
                "p": "activa_joystick",
                "pt": "global",
                "to": "{\"bugRaro\":\"abcd\",\"activeface\":4,\"gameparam\":\"18:00\",\t\t\t\"maxtime\":300,\t\"maxlives\":5, \"gameinfo\": \"Joystick\"}",
                "tot": "json"
            },
            {
                "p": "activa_switch",
                "pt": "global",
                "to": "{\"bugRaro\":\"abcd\",\"activeface\":5,\"gameparam\":\"17\",\t \t\t\t\"maxtime\":150,\t\"maxlives\":5, \"gameinfo\": \"Switch\"}",
                "tot": "json"
            },
            {
                "p": "activa_morse",
                "pt": "global",
                "to": "{\"bugRaro\":\"abcd\",\"activeface\":6,\"gameparam\":\"..._---_...__\",\t\"maxtime\":300,\t\"maxlives\":5, \"gameinfo\": \"Boat\"}",
                "tot": "json"
            }
        ],
        "active": true,
        "x": 360,
        "y": 100,
        "wires": []
    },
    {
        "id": "f3a07e47a5c52e0e",
        "type": "link out",
        "z": "998aacd1fbf73437",
        "g": "34e1a9b3a9df62ab",
        "name": "game_pushbutton",
        "links": [
            "ad5cf6faf623da4c",
            "8eeb0daa9c322a4b",
            "942faa14e1488cec",
            "d047f36772d208f1"
        ],
        "x": 515,
        "y": 560,
        "wires": []
    },
    {
        "id": "8eeb0daa9c322a4b",
        "type": "link in",
        "z": "87e481748dbe9603",
        "g": "c1b54de46424e7cd",
        "name": "game_pushbutton",
        "links": [
            "f3a07e47a5c52e0e"
        ],
        "x": 135,
        "y": 280,
        "wires": [
            [
                "469c298285eaf019"
            ]
        ]
    },
    {
        "id": "469c298285eaf019",
        "type": "function",
        "z": "87e481748dbe9603",
        "g": "c1b54de46424e7cd",
        "name": "game_pushbutton",
        "func": "msg.payload.collection  = \"game_event\";\nmsg.payload.msgtopic    = 'game_cmd';\nmsg.payload.timestamp   = new Date();\nmsg.payload.eventsource = \"pushbutton\" ;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 280,
        "wires": [
            [
                "3cdbd43390552301",
                "7c7a409aa03226cf",
                "836cebc1edaeb5e5",
                "4a1ffde56ca0193b"
            ]
        ]
    },
    {
        "id": "836cebc1edaeb5e5",
        "type": "mongodb out",
        "z": "87e481748dbe9603",
        "g": "c1b54de46424e7cd",
        "mongodb": "f605fa69.8f5008",
        "name": "game_event",
        "collection": "II3_game_event",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "insert",
        "x": 870,
        "y": 160,
        "wires": []
    },
    {
        "id": "3cdbd43390552301",
        "type": "mqtt out",
        "z": "87e481748dbe9603",
        "g": "c1b54de46424e7cd",
        "name": "game_cmd",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "1d42a39e53b6600e",
        "x": 870,
        "y": 120,
        "wires": []
    },
    {
        "id": "7c7a409aa03226cf",
        "type": "switch",
        "z": "87e481748dbe9603",
        "g": "c1b54de46424e7cd",
        "name": "facenumb",
        "property": "payload.facenumb",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "6",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 8,
        "x": 840,
        "y": 280,
        "wires": [
            [
                "bc71e48f73f746f0"
            ],
            [
                "8cb96e7c08a831a8"
            ],
            [
                "bf9141be16617139"
            ],
            [
                "a72b27bde3792bf6"
            ],
            [
                "34c25141e43be380"
            ],
            [
                "fc1a5b568b1baa61"
            ],
            [],
            [
                "5f40fee3272159d7"
            ]
        ]
    },
    {
        "id": "bc71e48f73f746f0",
        "type": "link out",
        "z": "87e481748dbe9603",
        "g": "c1b54de46424e7cd",
        "name": "activeface0",
        "links": [
            "5408b4d32e346d6c",
            "591224fd17717180"
        ],
        "x": 1035,
        "y": 140,
        "wires": []
    },
    {
        "id": "5408b4d32e346d6c",
        "type": "link in",
        "z": "87e481748dbe9603",
        "g": "c1b54de46424e7cd",
        "name": "activeface0",
        "links": [
            "bc71e48f73f746f0"
        ],
        "x": 1155,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "8cb96e7c08a831a8",
        "type": "link out",
        "z": "87e481748dbe9603",
        "g": "c1b54de46424e7cd",
        "name": "activeface1",
        "links": [
            "ebb6bb2828c6059f",
            "78816ea7b7124d42",
            "d26c6ff3067b2b7e",
            "9147a87e5d078311",
            "acbcebbfb39e11b8",
            "c68d3e15eea70480",
            "fd648f93efe9ec4a",
            "81411f32fd63289a",
            "060b09697cf8c69c",
            "a2f864c34507c71d",
            "6d4d789c7a15a15f"
        ],
        "x": 1035,
        "y": 180,
        "wires": []
    },
    {
        "id": "ebb6bb2828c6059f",
        "type": "link in",
        "z": "87e481748dbe9603",
        "g": "c1b54de46424e7cd",
        "name": "activeface1",
        "links": [
            "8cb96e7c08a831a8",
            "7227c2b9a18541f2"
        ],
        "x": 1155,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "bf9141be16617139",
        "type": "link out",
        "z": "87e481748dbe9603",
        "g": "c1b54de46424e7cd",
        "name": "activeface2",
        "links": [
            "2f9d7e6e64a0517b",
            "1eec068a5b4b61c8",
            "cda54d4eb6adfae2",
            "985e779593f56cd5",
            "1610d3d2f6152b9b",
            "0b7b224f39455d02",
            "5ad75b6e601673a2",
            "055e765bf7a1342a",
            "4e3142b966f7e642",
            "733af409660a0a69",
            "ea5ba80793c12e29",
            "2d5b300448e1d946",
            "2b5a6a592f30b64b"
        ],
        "x": 1035,
        "y": 220,
        "wires": []
    },
    {
        "id": "2f9d7e6e64a0517b",
        "type": "link in",
        "z": "87e481748dbe9603",
        "g": "c1b54de46424e7cd",
        "name": "activeface2",
        "links": [
            "bf9141be16617139",
            "0b872f0eb0c04acf"
        ],
        "x": 1155,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "a72b27bde3792bf6",
        "type": "link out",
        "z": "87e481748dbe9603",
        "g": "c1b54de46424e7cd",
        "name": "activeface3",
        "links": [
            "40f5e0d61b77aee6",
            "f911c7b077afe0a9",
            "aa15fef8198f633a",
            "68415ef22ad4178b",
            "2f84eee14ab1f23b",
            "491235ade1f49f2b",
            "e9ad42b9661fb8d8",
            "a0263bea259e2295",
            "4c26cdcb5a26a171",
            "8af056fc07359ac9",
            "b970399717aefab4",
            "7da57d7706e735d7"
        ],
        "x": 1035,
        "y": 260,
        "wires": []
    },
    {
        "id": "40f5e0d61b77aee6",
        "type": "link in",
        "z": "87e481748dbe9603",
        "g": "c1b54de46424e7cd",
        "name": "activeface3",
        "links": [
            "a72b27bde3792bf6",
            "b83c972be474538a"
        ],
        "x": 1155,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "34c25141e43be380",
        "type": "link out",
        "z": "87e481748dbe9603",
        "g": "c1b54de46424e7cd",
        "name": "activeface4",
        "links": [
            "b2595e10b6061780",
            "81e57c58080d5a44",
            "4f8834822124b37b",
            "fdb74c144af68f2a",
            "ab5366e54f534817",
            "74879dbeb7fedb3f",
            "67b087acd2328073",
            "15609ed6c711e1b5",
            "2b1ccb29d609adf2",
            "72f2b8ddade2f60b",
            "c9e5a903daa8c7ec",
            "7335919e629f083b"
        ],
        "x": 1035,
        "y": 300,
        "wires": []
    },
    {
        "id": "b2595e10b6061780",
        "type": "link in",
        "z": "87e481748dbe9603",
        "g": "c1b54de46424e7cd",
        "name": "activeface4",
        "links": [
            "34c25141e43be380",
            "4a34f5977cfb0dc8"
        ],
        "x": 1155,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "fc1a5b568b1baa61",
        "type": "link out",
        "z": "87e481748dbe9603",
        "g": "c1b54de46424e7cd",
        "name": "activeface5",
        "links": [
            "898508b52c158ac4",
            "5a81fb4e8115c9a8",
            "977ba8b60e6b22ec",
            "41935d2a58d42a03",
            "9c96817a99ba45d9",
            "80d26422ea600d23",
            "df6b3fb6694d1c07",
            "eca63f651924c729",
            "4b42c582e8913175",
            "3f2f3deaee9d3e1b",
            "11bbd42eb584c969",
            "04f56724f165e5bd"
        ],
        "x": 1035,
        "y": 340,
        "wires": []
    },
    {
        "id": "898508b52c158ac4",
        "type": "link in",
        "z": "87e481748dbe9603",
        "g": "c1b54de46424e7cd",
        "name": "activeface5",
        "links": [
            "fc1a5b568b1baa61",
            "69644af4107e7c70"
        ],
        "x": 1155,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "d142aa4ab0af9df3",
        "type": "link out",
        "z": "87e481748dbe9603",
        "g": "c1b54de46424e7cd",
        "name": "activeface6",
        "links": [
            "3589699a96aeba93",
            "120382e98dec91eb",
            "64c89a8efcdc4901",
            "9a47d5deac40e4da",
            "e1e5335ad1a1ab78",
            "9c6293f40b21ba1e",
            "d0918f605e0fd8dd",
            "86414e0ffd79848f",
            "85414066bf4319ad",
            "9f48b321fb2dd967",
            "d6b37eba26697db1",
            "abcdb1f383998632"
        ],
        "x": 1035,
        "y": 380,
        "wires": []
    },
    {
        "id": "3589699a96aeba93",
        "type": "link in",
        "z": "87e481748dbe9603",
        "g": "c1b54de46424e7cd",
        "name": "activeface6",
        "links": [
            "d142aa4ab0af9df3",
            "7fadbc2a0a1546c9"
        ],
        "x": 1155,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "5f40fee3272159d7",
        "type": "link out",
        "z": "87e481748dbe9603",
        "g": "c1b54de46424e7cd",
        "name": "activeface_other",
        "links": [
            "27d331c60973316c",
            "10325fda963555fa",
            "3de1605a6b1e9e63"
        ],
        "x": 1035,
        "y": 420,
        "wires": []
    },
    {
        "id": "27d331c60973316c",
        "type": "link in",
        "z": "87e481748dbe9603",
        "g": "c1b54de46424e7cd",
        "name": "activeface_other",
        "links": [
            "5f40fee3272159d7"
        ],
        "x": 1155,
        "y": 420,
        "wires": [
            [
                "204ad2f5d4d0258b"
            ]
        ]
    },
    {
        "id": "abb97c0f051daa70",
        "type": "inject",
        "z": "a99fe971dd900b15",
        "g": "f2518826d48c8a35",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 240,
        "y": 100,
        "wires": [
            [
                "bc1de4404cdd1a76"
            ]
        ]
    },
    {
        "id": "bc1de4404cdd1a76",
        "type": "mongodb in",
        "z": "a99fe971dd900b15",
        "g": "f2518826d48c8a35",
        "mongodb": "f605fa69.8f5008",
        "name": "find game_event",
        "collection": "II3_game_event",
        "operation": "find",
        "x": 450,
        "y": 100,
        "wires": [
            [
                "ecdbfccdb740bd37"
            ]
        ]
    },
    {
        "id": "ecdbfccdb740bd37",
        "type": "debug",
        "z": "a99fe971dd900b15",
        "g": "f2518826d48c8a35",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 100,
        "wires": []
    },
    {
        "id": "2d993c51698e4fb2",
        "type": "inject",
        "z": "a99fe971dd900b15",
        "g": "f2518826d48c8a35",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 240,
        "y": 160,
        "wires": [
            [
                "22ee2aa34b858a39"
            ]
        ]
    },
    {
        "id": "22ee2aa34b858a39",
        "type": "mongodb out",
        "z": "a99fe971dd900b15",
        "g": "f2518826d48c8a35",
        "mongodb": "f605fa69.8f5008",
        "name": "remove game_event",
        "collection": "II3_game_event",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "delete",
        "x": 450,
        "y": 160,
        "wires": []
    },
    {
        "id": "b002d558902e336b",
        "type": "debug",
        "z": "998aacd1fbf73437",
        "g": "34e1a9b3a9df62ab",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 480,
        "wires": []
    },
    {
        "id": "942faa14e1488cec",
        "type": "link in",
        "z": "998aacd1fbf73437",
        "g": "34e1a9b3a9df62ab",
        "name": "game_pushbutton",
        "links": [
            "f3a07e47a5c52e0e"
        ],
        "x": 935,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "4a1ffde56ca0193b",
        "type": "debug",
        "z": "87e481748dbe9603",
        "g": "c1b54de46424e7cd",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 80,
        "wires": []
    },
    {
        "id": "d047f36772d208f1",
        "type": "link in",
        "z": "998aacd1fbf73437",
        "g": "34e1a9b3a9df62ab",
        "name": "game_pushbutton",
        "links": [
            "f3a07e47a5c52e0e"
        ],
        "x": 515,
        "y": 440,
        "wires": [
            [
                "b002d558902e336b"
            ]
        ]
    },
    {
        "id": "d3f8743b95c1c291",
        "type": "ui_chart",
        "z": "a99fe971dd900b15",
        "g": "f2518826d48c8a35",
        "name": "",
        "group": "4540ca01214b6e3e",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Events",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 910,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "40ddedbf1f808164",
        "type": "mongodb in",
        "z": "a99fe971dd900b15",
        "g": "f2518826d48c8a35",
        "mongodb": "f605fa69.8f5008",
        "name": "aggregate game_event",
        "collection": "II3_game_event",
        "operation": "aggregate",
        "x": 630,
        "y": 240,
        "wires": [
            [
                "d3f8743b95c1c291",
                "55ede45c85f23887"
            ]
        ]
    },
    {
        "id": "8f5fbb7a42502e89",
        "type": "inject",
        "z": "a99fe971dd900b15",
        "g": "f2518826d48c8a35",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 220,
        "y": 240,
        "wires": [
            [
                "9d29fd4c37d3cba3"
            ]
        ]
    },
    {
        "id": "9d29fd4c37d3cba3",
        "type": "function",
        "z": "a99fe971dd900b15",
        "g": "f2518826d48c8a35",
        "name": "",
        "func": "// fecha por defecto es hoy\nvar ahora = new Date();\n// pillo los globales si los hay, si no la fecha de hoy\nvar desde = new Date(global.get(\"desde\") || ahora);\nvar hasta = new Date(global.get(\"hasta\") || ahora); \n// el día de inicio desde las cero horas\nvar inicio = new Date(desde.getFullYear(),desde.getMonth(),desde.getDate(),1,0,0,0);\n// el día final es hasta final del día\nvar final = new Date(hasta.getFullYear(),hasta.getMonth(),hasta.getDate(),24,59,59,99);\n\nvar newMsg={}\n\nnewMsg.payload=\n[\n    { \"$group\": {\n        \"_id\": \"$activeface\",\n        \"Tiempo disponible\":{\"$avg\":\"$maxtime\"},\n        \"Nº de vidas\":        {\"$avg\":\"$numlives\"},\n        \"Nº de Activaciones\": {\"$sum\":1},\n        \"Primera activación\": {\"$min\": \"$timestamp\"},\n        \"Última activación\":  {\"$max\": \"$timestamp\"}\n    }},\n    { \"$sort\": {\"_id\": 1} }\n];\nreturn newMsg;\n\n/*  \n{ \"$project\": {\n        \"timestamp\": 1,\n        \"activeface\": 1,\n        \"numlives\": 1\n        }\n    },\n    { \"$group\": {\n        \"_id\": { \n        \"$dateFromParts\" : {\n            \"year\": { \"$year\": \"$timestamp\" }, \n            \"month\": { \"$month\": \"$timestamp\" },\n            \"day\": { \"$dayOfMonth\": \"$timestamp\" }\n        }},\n\n        \"avgmaxtime\":{\"$avg\":\"$maxtime:\"},\n        \"avgnumlives\":  {\"$avg\":\"$numlives\"},\n        \"numdatos\": {\"$sum\":1}\n    }},\n    { \"$sort\": {\"_id\": 1} }\n*/\n// { \"$match\": { \"date\": { \"$gte\": inicio , \"$lte\": final } } },\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 240,
        "wires": [
            [
                "40ddedbf1f808164"
            ]
        ]
    },
    {
        "id": "55ede45c85f23887",
        "type": "debug",
        "z": "a99fe971dd900b15",
        "g": "f2518826d48c8a35",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 180,
        "wires": []
    },
    {
        "id": "2b0b74e3d11c2dde",
        "type": "function",
        "z": "87e481748dbe9603",
        "g": "c1b54de46424e7cd",
        "name": "game_stat",
        "func": "msg.payload.collection  = \"game_event\";\nmsg.payload.msgtopic    = 'game_stat';\nmsg.payload.timestamp   = new Date();\nmsg.payload.eventsource = \"espgame\" ;\n\n//----------- tiempo dsipoible en formato minutos:segundos\nvar tiempo = msg.payload.maxtime || 0;\nvar minutos = Math.floor(tiempo/60)\nvar segundos = tiempo%60;\nif (segundos < 10) segundos = '0'+segundos;\nif (minutos < 10) minutos = '0'+minutos;\nmsg.uimaxtime  = minutos + \":\" + segundos;\n\n//----------- tiempo restante en formato minutos:segundos\nvar tiempo = msg.payload.remtime || 0;\nvar minutos = Math.floor(tiempo/60)\nvar segundos = tiempo%60;\nif (segundos < 10) segundos = '0'+segundos;\nif (minutos < 10) minutos = '0'+minutos;\nmsg.uiremtime  = minutos + \":\" + segundos;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 360,
        "wires": [
            [
                "7c7a409aa03226cf",
                "836cebc1edaeb5e5",
                "d47c8dd64fb3e7e2"
            ]
        ]
    },
    {
        "id": "1e8519a1b237cc08",
        "type": "mqtt in",
        "z": "87e481748dbe9603",
        "g": "c1b54de46424e7cd",
        "name": "game_stat",
        "topic": "II3/GAME/STATUS/#",
        "qos": "2",
        "datatype": "auto",
        "broker": "1d42a39e53b6600e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 180,
        "y": 360,
        "wires": [
            [
                "a5a2e102c2b8e678",
                "509b8db793492ffd"
            ]
        ]
    },
    {
        "id": "ea5859e5a5553490",
        "type": "ui_audio",
        "z": "87e481748dbe9603",
        "g": "c1b54de46424e7cd",
        "name": "",
        "group": "9fbc2ea4f86b3546",
        "voice": "Microsoft David - English (United States)",
        "always": "",
        "x": 860,
        "y": 400,
        "wires": []
    },
    {
        "id": "d47c8dd64fb3e7e2",
        "type": "change",
        "z": "87e481748dbe9603",
        "g": "c1b54de46424e7cd",
        "name": "gameinfo",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.gameinfo",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 400,
        "wires": [
            [
                "ea5859e5a5553490"
            ]
        ]
    },
    {
        "id": "a5a2e102c2b8e678",
        "type": "json",
        "z": "87e481748dbe9603",
        "g": "c1b54de46424e7cd",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 340,
        "y": 360,
        "wires": [
            [
                "2b0b74e3d11c2dde"
            ]
        ]
    },
    {
        "id": "204ad2f5d4d0258b",
        "type": "debug",
        "z": "87e481748dbe9603",
        "g": "c1b54de46424e7cd",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1270,
        "y": 420,
        "wires": []
    },
    {
        "id": "0a2d5aa79d098c99",
        "type": "ui_led",
        "z": "998aacd1fbf73437",
        "g": "388fae59e3cf7dd0",
        "order": 4,
        "group": "9fbc2ea4f86b3546",
        "width": 0,
        "height": 0,
        "label": "Estado juego",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#fbf9f9",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#3206e5",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "2",
                "valueType": "num"
            },
            {
                "color": "#d40808",
                "value": "3",
                "valueType": "num"
            },
            {
                "color": "#121212",
                "value": "4",
                "valueType": "num"
            },
            {
                "color": "#840cc6",
                "value": "5",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Estado Crono",
        "x": 1020,
        "y": 120,
        "wires": []
    },
    {
        "id": "d26c6ff3067b2b7e",
        "type": "link in",
        "z": "998aacd1fbf73437",
        "g": "388fae59e3cf7dd0",
        "name": "activeface1",
        "links": [
            "8cb96e7c08a831a8",
            "7227c2b9a18541f2"
        ],
        "x": 635,
        "y": 120,
        "wires": [
            [
                "db769b683b0cf3fe"
            ]
        ]
    },
    {
        "id": "2b76b532120e80f5",
        "type": "ui_led",
        "z": "998aacd1fbf73437",
        "g": "388fae59e3cf7dd0",
        "order": 4,
        "group": "9b76d1dc8d8d1a22",
        "width": 0,
        "height": 0,
        "label": "Estado juego",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#fbf9f9",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#3206e5",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "2",
                "valueType": "num"
            },
            {
                "color": "#d40808",
                "value": "3",
                "valueType": "num"
            },
            {
                "color": "#121212",
                "value": "4",
                "valueType": "num"
            },
            {
                "color": "#840cc6",
                "value": "5",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Estado Switch",
        "x": 1020,
        "y": 280,
        "wires": []
    },
    {
        "id": "bf45359bea4cb667",
        "type": "ui_led",
        "z": "998aacd1fbf73437",
        "g": "388fae59e3cf7dd0",
        "order": 4,
        "group": "be05dc92f93b29c1",
        "width": 0,
        "height": 0,
        "label": "Estado juego",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#fbf9f9",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#3206e5",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "2",
                "valueType": "num"
            },
            {
                "color": "#d40808",
                "value": "3",
                "valueType": "num"
            },
            {
                "color": "#121212",
                "value": "4",
                "valueType": "num"
            },
            {
                "color": "#840cc6",
                "value": "5",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Estado Barco",
        "x": 1020,
        "y": 320,
        "wires": []
    },
    {
        "id": "ea34c122b1b563e0",
        "type": "ui_led",
        "z": "998aacd1fbf73437",
        "g": "388fae59e3cf7dd0",
        "order": 4,
        "group": "62ba01cdf1372a08",
        "width": 0,
        "height": 0,
        "label": "Estado juego",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#fbf9f9",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#3206e5",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "2",
                "valueType": "num"
            },
            {
                "color": "#d40808",
                "value": "3",
                "valueType": "num"
            },
            {
                "color": "#121212",
                "value": "4",
                "valueType": "num"
            },
            {
                "color": "#840cc6",
                "value": "5",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Estado Simon",
        "x": 1020,
        "y": 200,
        "wires": []
    },
    {
        "id": "5f72bd0f81665f0f",
        "type": "ui_led",
        "z": "998aacd1fbf73437",
        "g": "388fae59e3cf7dd0",
        "order": 4,
        "group": "0460f95f1f8e0961",
        "width": 0,
        "height": 0,
        "label": "Estado juego",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#fbf9f9",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#3206e5",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#3206e5",
                "value": "11",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "2",
                "valueType": "num"
            },
            {
                "color": "#d40808",
                "value": "3",
                "valueType": "num"
            },
            {
                "color": "#121212",
                "value": "4",
                "valueType": "num"
            },
            {
                "color": "#840cc6",
                "value": "5",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Estado Numpad",
        "x": 1020,
        "y": 160,
        "wires": []
    },
    {
        "id": "bb845b268b66ce97",
        "type": "ui_led",
        "z": "998aacd1fbf73437",
        "g": "388fae59e3cf7dd0",
        "order": 4,
        "group": "75ccfb2836c91665",
        "width": 0,
        "height": 0,
        "label": "Estado juego",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#fbf9f9",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#3206e5",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "2",
                "valueType": "num"
            },
            {
                "color": "#d40808",
                "value": "3",
                "valueType": "num"
            },
            {
                "color": "#121212",
                "value": "4",
                "valueType": "num"
            },
            {
                "color": "#840cc6",
                "value": "5",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Estado Joystick",
        "x": 1020,
        "y": 240,
        "wires": []
    },
    {
        "id": "1610d3d2f6152b9b",
        "type": "link in",
        "z": "998aacd1fbf73437",
        "g": "388fae59e3cf7dd0",
        "name": "activeface2",
        "links": [
            "bf9141be16617139",
            "0b872f0eb0c04acf"
        ],
        "x": 635,
        "y": 160,
        "wires": [
            [
                "d2e298db5073e527"
            ]
        ]
    },
    {
        "id": "68415ef22ad4178b",
        "type": "link in",
        "z": "998aacd1fbf73437",
        "g": "388fae59e3cf7dd0",
        "name": "activeface3",
        "links": [
            "a72b27bde3792bf6",
            "b83c972be474538a"
        ],
        "x": 635,
        "y": 200,
        "wires": [
            [
                "1a7393517605112a"
            ]
        ]
    },
    {
        "id": "fdb74c144af68f2a",
        "type": "link in",
        "z": "998aacd1fbf73437",
        "g": "388fae59e3cf7dd0",
        "name": "activeface4",
        "links": [
            "34c25141e43be380",
            "4a34f5977cfb0dc8"
        ],
        "x": 635,
        "y": 240,
        "wires": [
            [
                "60eb00bbd4ce69c1"
            ]
        ]
    },
    {
        "id": "41935d2a58d42a03",
        "type": "link in",
        "z": "998aacd1fbf73437",
        "g": "388fae59e3cf7dd0",
        "name": "activeface5",
        "links": [
            "fc1a5b568b1baa61",
            "69644af4107e7c70"
        ],
        "x": 635,
        "y": 280,
        "wires": [
            [
                "29d471a2f4a9a6da"
            ]
        ]
    },
    {
        "id": "9a47d5deac40e4da",
        "type": "link in",
        "z": "998aacd1fbf73437",
        "g": "388fae59e3cf7dd0",
        "name": "activeface6",
        "links": [
            "d142aa4ab0af9df3",
            "7fadbc2a0a1546c9"
        ],
        "x": 635,
        "y": 320,
        "wires": [
            [
                "7cf793f750539585"
            ]
        ]
    },
    {
        "id": "d2e298db5073e527",
        "type": "change",
        "z": "998aacd1fbf73437",
        "g": "388fae59e3cf7dd0",
        "name": "gamestate",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.gamestate",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 160,
        "wires": [
            [
                "5f72bd0f81665f0f"
            ]
        ]
    },
    {
        "id": "1a7393517605112a",
        "type": "change",
        "z": "998aacd1fbf73437",
        "g": "388fae59e3cf7dd0",
        "name": "gamestate",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.gamestate",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 200,
        "wires": [
            [
                "ea34c122b1b563e0"
            ]
        ]
    },
    {
        "id": "60eb00bbd4ce69c1",
        "type": "change",
        "z": "998aacd1fbf73437",
        "g": "388fae59e3cf7dd0",
        "name": "gamestate",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.gamestate",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 240,
        "wires": [
            [
                "bb845b268b66ce97"
            ]
        ]
    },
    {
        "id": "db769b683b0cf3fe",
        "type": "change",
        "z": "998aacd1fbf73437",
        "g": "388fae59e3cf7dd0",
        "name": "gamestate",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.gamestate",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 120,
        "wires": [
            [
                "0a2d5aa79d098c99"
            ]
        ]
    },
    {
        "id": "29d471a2f4a9a6da",
        "type": "change",
        "z": "998aacd1fbf73437",
        "g": "388fae59e3cf7dd0",
        "name": "gamestate",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.gamestate",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 280,
        "wires": [
            [
                "2b76b532120e80f5"
            ]
        ]
    },
    {
        "id": "7cf793f750539585",
        "type": "change",
        "z": "998aacd1fbf73437",
        "g": "388fae59e3cf7dd0",
        "name": "gamestate",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.gamestate",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 320,
        "wires": [
            [
                "bf45359bea4cb667"
            ]
        ]
    },
    {
        "id": "b7443f4c80f81dfb",
        "type": "ui_text",
        "z": "998aacd1fbf73437",
        "g": "ed091e2871679857",
        "group": "be05dc92f93b29c1",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Tiempo Barco",
        "label": "Tiempo disponible",
        "format": "{{msg.uimaxtime}}",
        "layout": "row-spread",
        "className": "",
        "x": 460,
        "y": 1000,
        "wires": []
    },
    {
        "id": "3830a024314b7df7",
        "type": "ui_text",
        "z": "998aacd1fbf73437",
        "g": "ed091e2871679857",
        "group": "9fbc2ea4f86b3546",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Tiempo Crono",
        "label": "Tiempo disponible",
        "format": "{{msg.uimaxtime}}",
        "layout": "row-spread",
        "className": "",
        "x": 460,
        "y": 800,
        "wires": []
    },
    {
        "id": "fc27a73e2cc2f3b8",
        "type": "ui_text",
        "z": "998aacd1fbf73437",
        "g": "ed091e2871679857",
        "group": "0460f95f1f8e0961",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Tiempo Numpad",
        "label": "Tiempo disponible",
        "format": "{{msg.uimaxtime}}",
        "layout": "row-spread",
        "className": "",
        "x": 460,
        "y": 840,
        "wires": []
    },
    {
        "id": "84be5a006d4bcdd2",
        "type": "ui_text",
        "z": "998aacd1fbf73437",
        "g": "ed091e2871679857",
        "group": "62ba01cdf1372a08",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Tiempo Simon",
        "label": "Tiempo disponible",
        "format": "{{msg.uimaxtime}}",
        "layout": "row-spread",
        "className": "",
        "x": 460,
        "y": 880,
        "wires": []
    },
    {
        "id": "6665f9ed77d451f3",
        "type": "ui_text",
        "z": "998aacd1fbf73437",
        "g": "ed091e2871679857",
        "group": "75ccfb2836c91665",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Tiempo Joystick",
        "label": "Tiempo disponible",
        "format": "{{msg.uimaxtime}}",
        "layout": "row-spread",
        "className": "",
        "x": 460,
        "y": 920,
        "wires": []
    },
    {
        "id": "8fb9924db35e71ec",
        "type": "ui_text",
        "z": "998aacd1fbf73437",
        "g": "ed091e2871679857",
        "group": "9b76d1dc8d8d1a22",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Tiempo Switch",
        "label": "Tiempo disponible",
        "format": "{{msg.uimaxtime}}",
        "layout": "row-spread",
        "className": "",
        "x": 460,
        "y": 960,
        "wires": []
    },
    {
        "id": "acbcebbfb39e11b8",
        "type": "link in",
        "z": "998aacd1fbf73437",
        "g": "ed091e2871679857",
        "name": "activeface1",
        "links": [
            "8cb96e7c08a831a8",
            "7227c2b9a18541f2"
        ],
        "x": 235,
        "y": 800,
        "wires": [
            [
                "3830a024314b7df7"
            ]
        ]
    },
    {
        "id": "5ad75b6e601673a2",
        "type": "link in",
        "z": "998aacd1fbf73437",
        "g": "ed091e2871679857",
        "name": "activeface2",
        "links": [
            "bf9141be16617139",
            "0b872f0eb0c04acf"
        ],
        "x": 235,
        "y": 840,
        "wires": [
            [
                "fc27a73e2cc2f3b8"
            ]
        ]
    },
    {
        "id": "491235ade1f49f2b",
        "type": "link in",
        "z": "998aacd1fbf73437",
        "g": "ed091e2871679857",
        "name": "activeface3",
        "links": [
            "a72b27bde3792bf6",
            "b83c972be474538a"
        ],
        "x": 235,
        "y": 880,
        "wires": [
            [
                "84be5a006d4bcdd2"
            ]
        ]
    },
    {
        "id": "74879dbeb7fedb3f",
        "type": "link in",
        "z": "998aacd1fbf73437",
        "g": "ed091e2871679857",
        "name": "activeface4",
        "links": [
            "34c25141e43be380",
            "4a34f5977cfb0dc8"
        ],
        "x": 235,
        "y": 920,
        "wires": [
            [
                "6665f9ed77d451f3"
            ]
        ]
    },
    {
        "id": "80d26422ea600d23",
        "type": "link in",
        "z": "998aacd1fbf73437",
        "g": "ed091e2871679857",
        "name": "activeface5",
        "links": [
            "fc1a5b568b1baa61",
            "69644af4107e7c70"
        ],
        "x": 235,
        "y": 960,
        "wires": [
            [
                "8fb9924db35e71ec"
            ]
        ]
    },
    {
        "id": "9c6293f40b21ba1e",
        "type": "link in",
        "z": "998aacd1fbf73437",
        "g": "ed091e2871679857",
        "name": "activeface6",
        "links": [
            "d142aa4ab0af9df3",
            "7fadbc2a0a1546c9"
        ],
        "x": 235,
        "y": 1000,
        "wires": [
            [
                "b7443f4c80f81dfb"
            ]
        ]
    },
    {
        "id": "1d9424d210dd9943",
        "type": "ui_text",
        "z": "998aacd1fbf73437",
        "g": "440ebb087d063115",
        "group": "be05dc92f93b29c1",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "boat remtime",
        "label": "Tiempo restante",
        "format": "{{msg.uimaxtime}}",
        "layout": "row-spread",
        "className": "",
        "x": 450,
        "y": 1320,
        "wires": []
    },
    {
        "id": "395613571694a8fe",
        "type": "ui_text",
        "z": "998aacd1fbf73437",
        "g": "440ebb087d063115",
        "group": "9fbc2ea4f86b3546",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "crono remtime",
        "label": "Tiempo restante",
        "format": "{{msg.uiremtime}}",
        "layout": "row-spread",
        "className": "",
        "x": 460,
        "y": 1120,
        "wires": []
    },
    {
        "id": "befb47997bbfeaae",
        "type": "ui_text",
        "z": "998aacd1fbf73437",
        "g": "440ebb087d063115",
        "group": "0460f95f1f8e0961",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "numpad remtime",
        "label": "Tiempo restante",
        "format": "{{msg.uiremtime}}",
        "layout": "row-spread",
        "className": "",
        "x": 470,
        "y": 1160,
        "wires": []
    },
    {
        "id": "6b530e97e6c881b6",
        "type": "ui_text",
        "z": "998aacd1fbf73437",
        "g": "440ebb087d063115",
        "group": "62ba01cdf1372a08",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "simon remtime",
        "label": "Tiempo restante",
        "format": "{{msg.uimaxtime}}",
        "layout": "row-spread",
        "className": "",
        "x": 460,
        "y": 1200,
        "wires": []
    },
    {
        "id": "8b5503ba7bf25794",
        "type": "ui_text",
        "z": "998aacd1fbf73437",
        "g": "440ebb087d063115",
        "group": "75ccfb2836c91665",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "joystick remtime",
        "label": "Tiempo restante",
        "format": "{{msg.uimaxtime}}",
        "layout": "row-spread",
        "className": "",
        "x": 460,
        "y": 1240,
        "wires": []
    },
    {
        "id": "c4d0170a63e115d1",
        "type": "ui_text",
        "z": "998aacd1fbf73437",
        "g": "440ebb087d063115",
        "group": "9b76d1dc8d8d1a22",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "switch remtime",
        "label": "Tiempo restante",
        "format": "{{msg.uimaxtime}}",
        "layout": "row-spread",
        "className": "",
        "x": 460,
        "y": 1280,
        "wires": []
    },
    {
        "id": "060b09697cf8c69c",
        "type": "link in",
        "z": "998aacd1fbf73437",
        "g": "440ebb087d063115",
        "name": "activeface1",
        "links": [
            "8cb96e7c08a831a8",
            "7227c2b9a18541f2"
        ],
        "x": 235,
        "y": 1120,
        "wires": [
            [
                "395613571694a8fe"
            ]
        ]
    },
    {
        "id": "ea5ba80793c12e29",
        "type": "link in",
        "z": "998aacd1fbf73437",
        "g": "440ebb087d063115",
        "name": "activeface2",
        "links": [
            "bf9141be16617139",
            "0b872f0eb0c04acf"
        ],
        "x": 235,
        "y": 1160,
        "wires": [
            [
                "befb47997bbfeaae"
            ]
        ]
    },
    {
        "id": "8af056fc07359ac9",
        "type": "link in",
        "z": "998aacd1fbf73437",
        "g": "440ebb087d063115",
        "name": "activeface3",
        "links": [
            "a72b27bde3792bf6",
            "b83c972be474538a"
        ],
        "x": 235,
        "y": 1200,
        "wires": [
            [
                "6b530e97e6c881b6"
            ]
        ]
    },
    {
        "id": "72f2b8ddade2f60b",
        "type": "link in",
        "z": "998aacd1fbf73437",
        "g": "440ebb087d063115",
        "name": "activeface4",
        "links": [
            "34c25141e43be380",
            "4a34f5977cfb0dc8"
        ],
        "x": 235,
        "y": 1240,
        "wires": [
            [
                "8b5503ba7bf25794"
            ]
        ]
    },
    {
        "id": "3f2f3deaee9d3e1b",
        "type": "link in",
        "z": "998aacd1fbf73437",
        "g": "440ebb087d063115",
        "name": "activeface5",
        "links": [
            "fc1a5b568b1baa61",
            "69644af4107e7c70"
        ],
        "x": 235,
        "y": 1280,
        "wires": [
            [
                "c4d0170a63e115d1"
            ]
        ]
    },
    {
        "id": "9f48b321fb2dd967",
        "type": "link in",
        "z": "998aacd1fbf73437",
        "g": "440ebb087d063115",
        "name": "activeface6",
        "links": [
            "d142aa4ab0af9df3",
            "7fadbc2a0a1546c9"
        ],
        "x": 235,
        "y": 1320,
        "wires": [
            [
                "1d9424d210dd9943"
            ]
        ]
    },
    {
        "id": "220dafcb75b9fc56",
        "type": "ui_text",
        "z": "998aacd1fbf73437",
        "g": "2ed49a1fa77e5d9b",
        "group": "be05dc92f93b29c1",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "boat remlives",
        "label": "Vidas",
        "format": "{{msg.uimaxtime}}",
        "layout": "row-spread",
        "className": "",
        "x": 910,
        "y": 1000,
        "wires": []
    },
    {
        "id": "4c837eb11b8e2216",
        "type": "ui_text",
        "z": "998aacd1fbf73437",
        "g": "2ed49a1fa77e5d9b",
        "group": "9fbc2ea4f86b3546",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "crono remlives",
        "label": "Vidas",
        "format": "{{msg.payload.remlives}}",
        "layout": "row-spread",
        "className": "",
        "x": 920,
        "y": 800,
        "wires": []
    },
    {
        "id": "44bf11369b7603e0",
        "type": "ui_text",
        "z": "998aacd1fbf73437",
        "g": "2ed49a1fa77e5d9b",
        "group": "0460f95f1f8e0961",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "numpad remlives",
        "label": "Vidas",
        "format": "{{msg.payload.remlives}}",
        "layout": "row-spread",
        "className": "",
        "x": 930,
        "y": 840,
        "wires": []
    },
    {
        "id": "41705661d39568ee",
        "type": "ui_text",
        "z": "998aacd1fbf73437",
        "g": "2ed49a1fa77e5d9b",
        "group": "62ba01cdf1372a08",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "simon remlives",
        "label": "Vidas",
        "format": "{{msg.payload.remlives}}",
        "layout": "row-spread",
        "className": "",
        "x": 920,
        "y": 880,
        "wires": []
    },
    {
        "id": "f46fe33133859f3b",
        "type": "ui_text",
        "z": "998aacd1fbf73437",
        "g": "2ed49a1fa77e5d9b",
        "group": "75ccfb2836c91665",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "joystick remlives",
        "label": "Vidas",
        "format": "{{msg.payload.remlives}}",
        "layout": "row-spread",
        "className": "",
        "x": 920,
        "y": 920,
        "wires": []
    },
    {
        "id": "a75d38e2b2381de6",
        "type": "ui_text",
        "z": "998aacd1fbf73437",
        "g": "2ed49a1fa77e5d9b",
        "group": "9b76d1dc8d8d1a22",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "switch remlives",
        "label": "Vidas",
        "format": "{{msg.payload.remlives}}",
        "layout": "row-spread",
        "className": "",
        "x": 920,
        "y": 960,
        "wires": []
    },
    {
        "id": "a2f864c34507c71d",
        "type": "link in",
        "z": "998aacd1fbf73437",
        "g": "2ed49a1fa77e5d9b",
        "name": "activeface1",
        "links": [
            "8cb96e7c08a831a8",
            "7227c2b9a18541f2"
        ],
        "x": 695,
        "y": 800,
        "wires": [
            [
                "4c837eb11b8e2216"
            ]
        ]
    },
    {
        "id": "2d5b300448e1d946",
        "type": "link in",
        "z": "998aacd1fbf73437",
        "g": "2ed49a1fa77e5d9b",
        "name": "activeface2",
        "links": [
            "bf9141be16617139",
            "0b872f0eb0c04acf"
        ],
        "x": 695,
        "y": 840,
        "wires": [
            [
                "44bf11369b7603e0"
            ]
        ]
    },
    {
        "id": "b970399717aefab4",
        "type": "link in",
        "z": "998aacd1fbf73437",
        "g": "2ed49a1fa77e5d9b",
        "name": "activeface3",
        "links": [
            "a72b27bde3792bf6",
            "b83c972be474538a"
        ],
        "x": 695,
        "y": 880,
        "wires": [
            [
                "41705661d39568ee"
            ]
        ]
    },
    {
        "id": "c9e5a903daa8c7ec",
        "type": "link in",
        "z": "998aacd1fbf73437",
        "g": "2ed49a1fa77e5d9b",
        "name": "activeface4",
        "links": [
            "34c25141e43be380",
            "4a34f5977cfb0dc8"
        ],
        "x": 695,
        "y": 920,
        "wires": [
            [
                "f46fe33133859f3b"
            ]
        ]
    },
    {
        "id": "11bbd42eb584c969",
        "type": "link in",
        "z": "998aacd1fbf73437",
        "g": "2ed49a1fa77e5d9b",
        "name": "activeface5",
        "links": [
            "fc1a5b568b1baa61",
            "69644af4107e7c70"
        ],
        "x": 695,
        "y": 960,
        "wires": [
            [
                "a75d38e2b2381de6"
            ]
        ]
    },
    {
        "id": "d6b37eba26697db1",
        "type": "link in",
        "z": "998aacd1fbf73437",
        "g": "2ed49a1fa77e5d9b",
        "name": "activeface6",
        "links": [
            "d142aa4ab0af9df3",
            "7fadbc2a0a1546c9"
        ],
        "x": 695,
        "y": 1000,
        "wires": [
            [
                "220dafcb75b9fc56"
            ]
        ]
    },
    {
        "id": "275554ef3d7972c5",
        "type": "ui_text",
        "z": "998aacd1fbf73437",
        "g": "984b51ca50c87f51",
        "group": "0460f95f1f8e0961",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "numpad gamedata",
        "label": "Respuesta al acertijo",
        "format": "{{msg.payload.gamedata}}",
        "layout": "row-spread",
        "className": "",
        "x": 890,
        "y": 1160,
        "wires": []
    },
    {
        "id": "c43343acf4608d27",
        "type": "ui_text",
        "z": "998aacd1fbf73437",
        "g": "984b51ca50c87f51",
        "group": "9fbc2ea4f86b3546",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "crono gamedata",
        "label": "Número de paradas",
        "format": "{{msg.payload.gamedata}}",
        "layout": "row-spread",
        "className": "",
        "x": 880,
        "y": 1120,
        "wires": []
    },
    {
        "id": "af026b4a94337296",
        "type": "ui_text",
        "z": "998aacd1fbf73437",
        "g": "984b51ca50c87f51",
        "group": "62ba01cdf1372a08",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "simon gamedata",
        "label": "Secuencia realizada",
        "format": "{{msg.payload.gamedata}}",
        "layout": "row-spread",
        "className": "",
        "x": 890,
        "y": 1200,
        "wires": []
    },
    {
        "id": "490104dc8b8a46e8",
        "type": "ui_text",
        "z": "998aacd1fbf73437",
        "g": "984b51ca50c87f51",
        "group": "75ccfb2836c91665",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "joystick gamedata",
        "label": "Movimientos",
        "format": "{{msg.payload.gamedata}}",
        "layout": "row-spread",
        "className": "",
        "x": 890,
        "y": 1240,
        "wires": []
    },
    {
        "id": "3de95e858f88769d",
        "type": "ui_text",
        "z": "998aacd1fbf73437",
        "g": "984b51ca50c87f51",
        "group": "9b76d1dc8d8d1a22",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "swithch gamedata",
        "label": "Estado de interruptores",
        "format": "{{msg.payload.gamedata}}",
        "layout": "row-spread",
        "className": "",
        "x": 890,
        "y": 1280,
        "wires": []
    },
    {
        "id": "f80fe579a54b637d",
        "type": "ui_text",
        "z": "998aacd1fbf73437",
        "g": "984b51ca50c87f51",
        "group": "be05dc92f93b29c1",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "numpad gamedata",
        "label": "Mensaje recibido",
        "format": "{{msg.payload.gamedata}}",
        "layout": "row-spread",
        "className": "",
        "x": 890,
        "y": 1320,
        "wires": []
    },
    {
        "id": "6d4d789c7a15a15f",
        "type": "link in",
        "z": "998aacd1fbf73437",
        "g": "984b51ca50c87f51",
        "name": "activeface1",
        "links": [
            "8cb96e7c08a831a8",
            "7227c2b9a18541f2"
        ],
        "x": 695,
        "y": 1120,
        "wires": [
            [
                "c43343acf4608d27"
            ]
        ]
    },
    {
        "id": "2b5a6a592f30b64b",
        "type": "link in",
        "z": "998aacd1fbf73437",
        "g": "984b51ca50c87f51",
        "name": "activeface2",
        "links": [
            "bf9141be16617139",
            "0b872f0eb0c04acf"
        ],
        "x": 695,
        "y": 1160,
        "wires": [
            [
                "275554ef3d7972c5"
            ]
        ]
    },
    {
        "id": "7da57d7706e735d7",
        "type": "link in",
        "z": "998aacd1fbf73437",
        "g": "984b51ca50c87f51",
        "name": "activeface3",
        "links": [
            "a72b27bde3792bf6",
            "b83c972be474538a"
        ],
        "x": 695,
        "y": 1200,
        "wires": [
            [
                "af026b4a94337296"
            ]
        ]
    },
    {
        "id": "7335919e629f083b",
        "type": "link in",
        "z": "998aacd1fbf73437",
        "g": "984b51ca50c87f51",
        "name": "activeface4",
        "links": [
            "34c25141e43be380",
            "4a34f5977cfb0dc8"
        ],
        "x": 695,
        "y": 1240,
        "wires": [
            [
                "490104dc8b8a46e8"
            ]
        ]
    },
    {
        "id": "04f56724f165e5bd",
        "type": "link in",
        "z": "998aacd1fbf73437",
        "g": "984b51ca50c87f51",
        "name": "activeface5",
        "links": [
            "fc1a5b568b1baa61",
            "69644af4107e7c70"
        ],
        "x": 695,
        "y": 1280,
        "wires": [
            [
                "3de95e858f88769d"
            ]
        ]
    },
    {
        "id": "abcdb1f383998632",
        "type": "link in",
        "z": "998aacd1fbf73437",
        "g": "984b51ca50c87f51",
        "name": "activeface6",
        "links": [
            "d142aa4ab0af9df3",
            "7fadbc2a0a1546c9"
        ],
        "x": 695,
        "y": 1320,
        "wires": [
            [
                "f80fe579a54b637d"
            ]
        ]
    },
    {
        "id": "0515c0de934f8fa2",
        "type": "mqtt in",
        "z": "87e481748dbe9603",
        "name": "Mqtt Conexión",
        "topic": "II3/CONEXION/#",
        "qos": "2",
        "datatype": "auto",
        "broker": "1d42a39e53b6600e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 350,
        "y": 840,
        "wires": [
            [
                "6bd2aa310f96328b",
                "714c18f7cca52ffb"
            ]
        ]
    },
    {
        "id": "a21f5587d5688e2b",
        "type": "link out",
        "z": "87e481748dbe9603",
        "name": "esp conexion",
        "links": [
            "6d0df3cd6c6109be",
            "218dce479bad2139",
            "d66fabd4c433b012",
            "0057f17221e4e6af"
        ],
        "x": 875,
        "y": 780,
        "wires": []
    },
    {
        "id": "6bd2aa310f96328b",
        "type": "json",
        "z": "87e481748dbe9603",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 530,
        "y": 840,
        "wires": [
            [
                "26d40cf82b4be24d",
                "352d6a79a1e8eb09"
            ]
        ]
    },
    {
        "id": "26d40cf82b4be24d",
        "type": "function",
        "z": "87e481748dbe9603",
        "name": "UpdateMsg",
        "func": "msg.timestamp = new Date();\nmsg.msgtype = 'connection';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 840,
        "wires": [
            [
                "a21f5587d5688e2b",
                "82e673c94af063bf"
            ]
        ]
    },
    {
        "id": "82e673c94af063bf",
        "type": "debug",
        "z": "87e481748dbe9603",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 840,
        "wires": []
    },
    {
        "id": "c5015e747bd297aa",
        "type": "mongodb out",
        "z": "87e481748dbe9603",
        "mongodb": "f605fa69.8f5008",
        "name": "log",
        "collection": "II3_log",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "insert",
        "x": 930,
        "y": 900,
        "wires": []
    },
    {
        "id": "352d6a79a1e8eb09",
        "type": "debug",
        "z": "87e481748dbe9603",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 920,
        "wires": []
    },
    {
        "id": "35a75ed6022275ad",
        "type": "mqtt in",
        "z": "87e481748dbe9603",
        "name": "Game Status",
        "topic": "II3/GAME/STATUS/#",
        "qos": "2",
        "datatype": "auto",
        "broker": "1d42a39e53b6600e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 190,
        "y": 560,
        "wires": [
            [
                "f967236dfb56a7bb",
                "63b66eb237fcb0d5"
            ]
        ]
    },
    {
        "id": "f967236dfb56a7bb",
        "type": "json",
        "z": "87e481748dbe9603",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 370,
        "y": 560,
        "wires": [
            [
                "f586ecee4fbb652f",
                "0706ed956192114f"
            ]
        ]
    },
    {
        "id": "f586ecee4fbb652f",
        "type": "debug",
        "z": "87e481748dbe9603",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 660,
        "wires": []
    },
    {
        "id": "63b66eb237fcb0d5",
        "type": "debug",
        "z": "87e481748dbe9603",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 660,
        "wires": []
    },
    {
        "id": "714c18f7cca52ffb",
        "type": "debug",
        "z": "87e481748dbe9603",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 940,
        "wires": []
    },
    {
        "id": "0706ed956192114f",
        "type": "function",
        "z": "87e481748dbe9603",
        "name": "UpdateMsg",
        "func": "msg.timestamp = new Date();\nmsg.msgtype = 'gamestat';\nmsg.msgtype = \"cone\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 560,
        "wires": [
            [
                "a21f5587d5688e2b",
                "58b01446b43366ca"
            ]
        ]
    },
    {
        "id": "bf6ad15d9408d598",
        "type": "link in",
        "z": "87e481748dbe9603",
        "name": "gamestatus",
        "links": [
            "58b01446b43366ca"
        ],
        "x": 775,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "58b01446b43366ca",
        "type": "link out",
        "z": "87e481748dbe9603",
        "name": "gamestatus",
        "links": [
            "07d63384281548ef",
            "bf6ad15d9408d598"
        ],
        "x": 695,
        "y": 580,
        "wires": []
    },
    {
        "id": "133a8dc7875c68cd",
        "type": "switch",
        "z": "87e481748dbe9603",
        "name": "esp online",
        "property": "boardname",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "esp001",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "esp002",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "esp003",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "esp004",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 910,
        "y": 580,
        "wires": [
            [],
            [],
            [],
            [],
            []
        ]
    },
    {
        "id": "81b1730ebaf1d51d",
        "type": "switch",
        "z": "2da61da4929bb235",
        "g": "603544534b7296c8",
        "name": "esp online",
        "property": "boardname",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "esp001",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "esp002",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "esp003",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "esp004",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 510,
        "y": 120,
        "wires": [
            [
                "e038da152f6fb12a"
            ],
            [
                "9bd3484bc3fa8c10"
            ],
            [
                "2a1f696ca7396e23"
            ],
            [
                "ee4d2544e74d88a7"
            ],
            [
                "3966617bfbfb57b2"
            ]
        ]
    },
    {
        "id": "9003bef52a900c20",
        "type": "ui_led",
        "z": "2da61da4929bb235",
        "g": "603544534b7296c8",
        "order": 0,
        "group": "59e9a4a37b969e09",
        "width": 0,
        "height": 0,
        "label": "Online",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "esp001 Online",
        "x": 1020,
        "y": 60,
        "wires": []
    },
    {
        "id": "b770cdf52bb390a9",
        "type": "ui_led",
        "z": "2da61da4929bb235",
        "g": "603544534b7296c8",
        "order": 1,
        "group": "97ccdb61cc60c90e",
        "width": 0,
        "height": 0,
        "label": "Online",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "esp002 Online",
        "x": 1020,
        "y": 100,
        "wires": []
    },
    {
        "id": "5c41f6beac2c69aa",
        "type": "ui_led",
        "z": "2da61da4929bb235",
        "g": "603544534b7296c8",
        "order": 0,
        "group": "2444a248498e0fd7",
        "width": 0,
        "height": 0,
        "label": "Online",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "esp003 Online",
        "x": 1020,
        "y": 140,
        "wires": []
    },
    {
        "id": "136b898bf2bd6f66",
        "type": "ui_led",
        "z": "2da61da4929bb235",
        "g": "603544534b7296c8",
        "order": 0,
        "group": "c92ebf52d766ad40",
        "width": 0,
        "height": 0,
        "label": "Online",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "esp004 Online",
        "x": 1020,
        "y": 180,
        "wires": []
    },
    {
        "id": "0057f17221e4e6af",
        "type": "link in",
        "z": "2da61da4929bb235",
        "g": "603544534b7296c8",
        "name": "esp conexion",
        "links": [
            "ce31223f2db02c2e",
            "a21f5587d5688e2b"
        ],
        "x": 195,
        "y": 100,
        "wires": [
            [
                "e4b7309f0a13cf9f"
            ]
        ]
    },
    {
        "id": "3966617bfbfb57b2",
        "type": "debug",
        "z": "2da61da4929bb235",
        "g": "603544534b7296c8",
        "name": "ESP no reconocido",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 220,
        "wires": []
    },
    {
        "id": "446860a36a3f7356",
        "type": "link in",
        "z": "2da61da4929bb235",
        "g": "603544534b7296c8",
        "name": "es001 online",
        "links": [
            "e038da152f6fb12a"
        ],
        "x": 855,
        "y": 60,
        "wires": [
            [
                "9003bef52a900c20"
            ]
        ]
    },
    {
        "id": "e038da152f6fb12a",
        "type": "link out",
        "z": "2da61da4929bb235",
        "g": "603544534b7296c8",
        "name": "esp001 online",
        "links": [
            "446860a36a3f7356",
            "72ad4bee4630be45",
            "b10f5fe323b99bbc"
        ],
        "x": 755,
        "y": 60,
        "wires": []
    },
    {
        "id": "bfd4e26c7f09ca74",
        "type": "link in",
        "z": "2da61da4929bb235",
        "g": "603544534b7296c8",
        "name": "es002 online",
        "links": [
            "9bd3484bc3fa8c10"
        ],
        "x": 855,
        "y": 100,
        "wires": [
            [
                "b770cdf52bb390a9"
            ]
        ]
    },
    {
        "id": "9bd3484bc3fa8c10",
        "type": "link out",
        "z": "2da61da4929bb235",
        "g": "603544534b7296c8",
        "name": "esp002 online",
        "links": [
            "bfd4e26c7f09ca74",
            "c56867905604cf51",
            "11c0fde540a1c21d"
        ],
        "x": 755,
        "y": 100,
        "wires": []
    },
    {
        "id": "9d7fd17ed25d842e",
        "type": "link in",
        "z": "2da61da4929bb235",
        "g": "603544534b7296c8",
        "name": "es003 online",
        "links": [
            "2a1f696ca7396e23"
        ],
        "x": 855,
        "y": 140,
        "wires": [
            [
                "5c41f6beac2c69aa"
            ]
        ]
    },
    {
        "id": "2a1f696ca7396e23",
        "type": "link out",
        "z": "2da61da4929bb235",
        "g": "603544534b7296c8",
        "name": "esp003 online",
        "links": [
            "9d7fd17ed25d842e",
            "6ff84f73185dc4a8",
            "2c3ea3e7398d280f",
            "bca4fde4134b13af"
        ],
        "x": 755,
        "y": 140,
        "wires": []
    },
    {
        "id": "343694054e489a17",
        "type": "link in",
        "z": "2da61da4929bb235",
        "g": "603544534b7296c8",
        "name": "es004 online",
        "links": [
            "ee4d2544e74d88a7"
        ],
        "x": 855,
        "y": 180,
        "wires": [
            [
                "136b898bf2bd6f66"
            ]
        ]
    },
    {
        "id": "ee4d2544e74d88a7",
        "type": "link out",
        "z": "2da61da4929bb235",
        "g": "603544534b7296c8",
        "name": "esp004 online",
        "links": [
            "343694054e489a17",
            "d2f5a8c703ee9609",
            "232f919a0c105e7a",
            "4b45ded2fe04686b"
        ],
        "x": 755,
        "y": 180,
        "wires": []
    },
    {
        "id": "e4b7309f0a13cf9f",
        "type": "change",
        "z": "2da61da4929bb235",
        "g": "603544534b7296c8",
        "name": "payload online",
        "rules": [
            {
                "t": "set",
                "p": "boardname",
                "pt": "msg",
                "to": "payload.boardname",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.online",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 100,
        "wires": [
            [
                "81b1730ebaf1d51d"
            ]
        ]
    },
    {
        "id": "509b8db793492ffd",
        "type": "debug",
        "z": "87e481748dbe9603",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 500,
        "wires": []
    },
    {
        "id": "fb4227ede8fc5af9",
        "type": "mqtt in",
        "z": "1e10ef4db7b5c4b6",
        "name": "",
        "topic": "II3/conn/esp/#",
        "qos": "2",
        "datatype": "auto",
        "broker": "1d42a39e53b6600e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 290,
        "y": 100,
        "wires": [
            [
                "c1c3bed50eb8e297"
            ]
        ]
    },
    {
        "id": "c5294b24cd57fd9e",
        "type": "debug",
        "z": "1e10ef4db7b5c4b6",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 100,
        "wires": []
    },
    {
        "id": "c1c3bed50eb8e297",
        "type": "json",
        "z": "1e10ef4db7b5c4b6",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 490,
        "y": 100,
        "wires": [
            [
                "c5294b24cd57fd9e"
            ]
        ]
    },
    {
        "id": "9ae09ff8f352439d",
        "type": "ui_text_input",
        "z": "1e10ef4db7b5c4b6",
        "name": "dataeperiod",
        "label": "Periodo mensajes de estado",
        "tooltip": "Segundos de periodicidad de actualizaciones",
        "group": "ce33bfdc59e73be7",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "dataeperiod",
        "sendOnBlur": true,
        "topicType": "str",
        "x": 320,
        "y": 200,
        "wires": [
            [
                "1e6c8fc4014fe396",
                "95763c8336c67a55"
            ]
        ]
    },
    {
        "id": "1e6c8fc4014fe396",
        "type": "debug",
        "z": "1e10ef4db7b5c4b6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 180,
        "wires": []
    },
    {
        "id": "95763c8336c67a55",
        "type": "function",
        "z": "1e10ef4db7b5c4b6",
        "name": "SetFlow",
        "func": "flow.set(msg.topic, msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "02e2790f9b8d3731",
        "type": "ui_button",
        "z": "1e10ef4db7b5c4b6",
        "name": "",
        "group": "ce33bfdc59e73be7",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Enviar",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 270,
        "y": 420,
        "wires": [
            [
                "c72cbc88331323de"
            ]
        ]
    },
    {
        "id": "c72cbc88331323de",
        "type": "function",
        "z": "1e10ef4db7b5c4b6",
        "name": "SendConfig",
        "func": "msg.topic = 'II3/conf/all';\nmsg.payload = {};\nmsg.payload.bugraro = 1234;\nmsg.payload.id = msg._msgid;\nmsg.payload.dataeperiod = flow.get('dataeperiod')||300;\nmsg.payload.tempmin = flow.get('tempmin')||15;\nmsg.payload.tempmax = flow.get('tempmax')||25;\nmsg.payload.hummin = flow.get('hummin')||45;\nmsg.payload.hummax = flow.get('hummax')||55;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 420,
        "wires": [
            [
                "97ce862c3679b888",
                "6ca64f594550f531"
            ]
        ]
    },
    {
        "id": "97ce862c3679b888",
        "type": "debug",
        "z": "1e10ef4db7b5c4b6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 340,
        "wires": []
    },
    {
        "id": "6ca64f594550f531",
        "type": "mqtt out",
        "z": "1e10ef4db7b5c4b6",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "1d42a39e53b6600e",
        "x": 770,
        "y": 480,
        "wires": []
    },
    {
        "id": "bd2e59132b50de1b",
        "type": "mqtt in",
        "z": "1e10ef4db7b5c4b6",
        "name": "",
        "topic": "II3/conn/esp/#",
        "qos": "2",
        "datatype": "auto",
        "broker": "2b251178.95ad2e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 290,
        "y": 60,
        "wires": [
            [
                "c1c3bed50eb8e297"
            ]
        ]
    },
    {
        "id": "97f00b8828d139a7",
        "type": "ui_text_input",
        "z": "1e10ef4db7b5c4b6",
        "name": "tempmin",
        "label": "Temperatura mínima",
        "tooltip": "",
        "group": "ce33bfdc59e73be7",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "tempmin",
        "sendOnBlur": true,
        "topicType": "str",
        "x": 300,
        "y": 240,
        "wires": [
            [
                "95763c8336c67a55"
            ]
        ]
    },
    {
        "id": "e49f561d0a46a680",
        "type": "ui_text_input",
        "z": "1e10ef4db7b5c4b6",
        "name": "tempmax",
        "label": "Temperatura máxima",
        "tooltip": "",
        "group": "ce33bfdc59e73be7",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "tempmax",
        "sendOnBlur": true,
        "topicType": "str",
        "x": 300,
        "y": 280,
        "wires": [
            [
                "95763c8336c67a55"
            ]
        ]
    },
    {
        "id": "b3e7632e091924b3",
        "type": "ui_text_input",
        "z": "1e10ef4db7b5c4b6",
        "name": "hummin",
        "label": "Humedad mínima",
        "tooltip": "",
        "group": "ce33bfdc59e73be7",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "hummin",
        "sendOnBlur": true,
        "topicType": "str",
        "x": 300,
        "y": 320,
        "wires": [
            [
                "95763c8336c67a55"
            ]
        ]
    },
    {
        "id": "91515049f418f06c",
        "type": "ui_text_input",
        "z": "1e10ef4db7b5c4b6",
        "name": "hummax",
        "label": "Humedad máxima",
        "tooltip": "",
        "group": "ce33bfdc59e73be7",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "hummax",
        "sendOnBlur": true,
        "topicType": "str",
        "x": 300,
        "y": 360,
        "wires": [
            [
                "95763c8336c67a55"
            ]
        ]
    }
]