la-caja/pruebas/irene/flows_Jorge.json
[
    {
        "id": "4df0f1347905451e",
        "type": "tab",
        "label": "Flujo_Simon_v0",
        "disabled": false,
        "info": ""
    },
    {
        "id": "36dc34dee63d133c",
        "type": "inject",
        "z": "4df0f1347905451e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 440,
        "wires": [
            [
                "bc5e1aff13f86696"
            ]
        ]
    },
    {
        "id": "bc5e1aff13f86696",
        "type": "function",
        "z": "4df0f1347905451e",
        "name": "",
        "func": "msg.payload= {\"empieza_juego2\":1, \"reducir_secuencia\":0};\n//msg.topic = \"II3/ESP14440037/datos_juego2\";\nmsg.topic =\"II3/ESP14440037/datos_juego2\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 440,
        "wires": [
            [
                "7e5b519a8d28c01f",
                "3b79417fb97f3170"
            ]
        ]
    },
    {
        "id": "d5422d86349077ea",
        "type": "function",
        "z": "4df0f1347905451e",
        "name": "mensaje respuesta",
        "func": "msg.payload={};\nmsg.payload=msg.mensaje;\n\nmsg.payload.content= \"No abuses del comando que acabas de utilizar, tus puntaciones quedarán registradas. \\n\";\nmsg.payload.content+=\"Se ha reducido en '1' el número de secuencias que debes acertar para ganar el juego. Quizás con esta ayudita puedas conseguir superar la prueba, sino recuerda que puedes usar el comando: \\n/ayuda2\";\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 720,
        "wires": [
            [
                "8bd5b37f99b08ef0",
                "bdd29bb0ee57f4cd"
            ]
        ]
    },
    {
        "id": "4054417be5c9e8ed",
        "type": "debug",
        "z": "4df0f1347905451e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 560,
        "wires": []
    },
    {
        "id": "ac7dfeb5cf992750",
        "type": "function",
        "z": "4df0f1347905451e",
        "name": "mensaje bienvenida",
        "func": "if(msg.payload.content.substring(0,1)!=\"/\")\n{\n msg.payload.content=\"Hey amigo/a, ya estás en el segundo nivel del juego 'La Caja'. Enhorabuena, pero no sonrías tan pronto porque debes de superar esta prueba. Para resolver este nivel, juega al Simon y gana. Si necesitas algo, puedes pulsar el comando: \\n/ayuda2\";\n return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 620,
        "wires": [
            [
                "bdd29bb0ee57f4cd"
            ]
        ]
    },
    {
        "id": "1699125b4b0f183c",
        "type": "function",
        "z": "4df0f1347905451e",
        "name": "info telegram user",
        "func": "msg.mensaje=msg.payload;\nmsg.payload={};\nmsg.payload= {\"empieza_juego2\":1, \"reducir_secuencia\":1};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 720,
        "wires": [
            [
                "d5422d86349077ea",
                "020688710872725f",
                "c149406d4b6dbaea",
                "7e5b519a8d28c01f"
            ]
        ]
    },
    {
        "id": "9f114dbce8fa9b53",
        "type": "telegram command",
        "z": "4df0f1347905451e",
        "name": "",
        "command": "/ayuda2",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "7cf6359c4d55741a",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 180,
        "y": 720,
        "wires": [
            [
                "1699125b4b0f183c"
            ],
            []
        ]
    },
    {
        "id": "dd54f90f7227b204",
        "type": "telegram receiver",
        "z": "4df0f1347905451e",
        "name": "",
        "bot": "7cf6359c4d55741a",
        "saveDataDir": "",
        "filterCommands": true,
        "x": 210,
        "y": 620,
        "wires": [
            [
                "4054417be5c9e8ed",
                "ac7dfeb5cf992750"
            ],
            []
        ]
    },
    {
        "id": "8bd5b37f99b08ef0",
        "type": "debug",
        "z": "4df0f1347905451e",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1070,
        "y": 720,
        "wires": []
    },
    {
        "id": "bdd29bb0ee57f4cd",
        "type": "telegram sender",
        "z": "4df0f1347905451e",
        "name": "",
        "bot": "7cf6359c4d55741a",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1110,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "020688710872725f",
        "type": "debug",
        "z": "4df0f1347905451e",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 780,
        "wires": []
    },
    {
        "id": "c149406d4b6dbaea",
        "type": "debug",
        "z": "4df0f1347905451e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 380,
        "wires": []
    },
    {
        "id": "3d485acc91c77202",
        "type": "mqtt in",
        "z": "4df0f1347905451e",
        "name": "",
        "topic": "II3/ESP14440037/resultados_juego2",
        "qos": "0",
        "datatype": "auto",
        "broker": "f2d93db89ab63446",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 270,
        "y": 340,
        "wires": [
            [
                "9b144fe53ba456f6"
            ]
        ]
    },
    {
        "id": "9b144fe53ba456f6",
        "type": "debug",
        "z": "4df0f1347905451e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 340,
        "wires": []
    },
    {
        "id": "7e5b519a8d28c01f",
        "type": "mqtt out",
        "z": "4df0f1347905451e",
        "name": "",
        "topic": "II3/ESP14440037/datos_juego2",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3999f8259e1b43de",
        "x": 1160,
        "y": 440,
        "wires": []
    },
    {
        "id": "3b79417fb97f3170",
        "type": "debug",
        "z": "4df0f1347905451e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 400,
        "wires": []
    },
    {
        "id": "7cf6359c4d55741a",
        "type": "telegram bot",
        "botname": "Simonbot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "f2d93db89ab63446",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "3999f8259e1b43de",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    }
]